<div class="ball-head">
    <div class="ball-head__image">
        <img src="assets/img/ballet-case/ball-header.png" alt="image">
    </div>
    <div class="ball-head__content">
        <div class="ball-container">
            <h6 class="ball-head__type">КЕЙС</h6>
            <h1 class="ball-head__title">Продвижение студии гимнастики</h1>
            <h2 class="ball-head__subtitle">Dance&<br class="d-block d-sm-none">Circus</h2>
        </div>
    </div>
</div>
