<div class="ball-work">
    <div class="ball-container">
        <div class="ball-work__wrap">
            <h2 class="ball-work__title">Задача: </h2>
            <p>Перезапуск проекта, привлечение новой аудитории и удержание старой</p>
        </div>
    </div>
</div>

<div class="ball-decision">
    <div class="ball-container">
        <h2 class="ball-decision__title">Решение</h2>

        <div class="ball-decision__wrap">
            <div class="ball-decision__image">
                <img src="assets/img/ballet-case/ball-image.png" alt="image">
            </div>
            <div class="ball-decision__content">
                <ul>
                    <li>Мы прописали стратегию развития</li>
                    <li>Изучив конкурентов, обозначили сильные стороны и отразили их в УТП</li>
                    <li>Переделали сайт, продуктовую матрицу и воронку продаж</li>
                    <li>Разработали новый спец.курс «От нуля до профи за 3 месяца»</li>
                    <li>Для взаимного пиара привлекли: школу программирования, студию маникюра</li>
                    <li>Установили дружественные контакты со СМИ, разместили 3 статьи бесплатно</li>
                    <li>Пригласили программу «Перезагрузка» для съёмок сюжета в студии вместе с одной из своих героинь
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
