<div class="case-form ball-form">
    <div class="ball-form__image">
        <img src="assets/img/ballet-case/ball-form.png" alt="image">
    </div>

    <div class="ball-container">
        <div class="case-form__container">
            <h4 class="case-form__title">Попробуй нашу методику продвижения компаний Увеличь поток клиентов в 2 раза</h4>


            <form class="case-form__wrap">
                <p class="case-form__subtitle">Оставьте заявку, что бы мы предложили оптимальный путь к масштабированию
                    вашего бизнеса</p>

                <div class="case-form-group">
                    <input type="text" name="" placeholder="Имя*">
                </div>
                <div class="case-form-group">
                    <input type="tel" name="" placeholder="Телефон*">
                </div>
                <div class="case-form-group">
                    <input type="email" name="" placeholder="E-mail*">
                </div>

                <div class="case-form-checkbox">
                    <input type="checkbox" id="check" checked>
                    <label for="check" class="case-form-checkbox__label">Нажимая кнопку «Отправить», я даю свое согласие
                        на обработку моих персональных данных, в соответствии с ПОЛИТИКОЙ ЗАЩИТЫ И ОБРАБОТКИ
                        ПЕРСОНАЛЬНЫХ ДАННЫХ ПОЛЬЗОВАТЕЛЕЙ САЙТА (КОНФИДЕНЦИАЛЬНОСТИ)*</label>
                </div>

                <button type="submit" class="cen-btn cen-btn-grad case-btn">
                    <span class="cen-btn-grad__text">Отправить</span>
                </button>
            </form>
        </div>
    </div>
</div>
