<div class="ball-result">
    <div class="ball-container">
        <div class="ball-result__wrap">
            <div class="ball-result__content">
                <h2 class="ball-result__title">Результаты</h2>

                <ul>
                    <li>Переупакованный качественный продукт</li>
                    <li>Приток новой аудитории через настроенный трафик</li>
                    <li>Дополнительные продажи старой аудитории благодаря выводу нового продукта</li>
                    <li>Первый месяц рекламы - 58 заявок на пробный урок с затратами в 10000 руб</li>
                    <li>Количество проданных абонементов - 8 (средний чек 5200 руб.)</li>
                </ul>
            </div>
            <div class="ball-result__image">
                <img src="assets/img/ballet-case/ball-result.png" alt="image">
            </div>
        </div>
    </div>
</div>
