<div class="fit-visual">
    <div class="fit-container">
        <div class="fit-visual__wrap">
            <div class="fit-head">
                <h2 class="fit-head__number">01</h2>
                <h3 class="fit-head__title">Подготовили визуальные референсы. Отобрали фотоматериалы заказчика для
                    размещения на сайте </h3>
            </div>

            <div class="fit-visual__img">
                <img src="assets/img/fit-case/photos.png" alt="img">
            </div>
        </div>
    </div>
</div>
