<div class="fit-structure">
    <div class="fit-structure__content">
        <div class="fit-container">
            <div class="fit-head">
                <h2 class="fit-head__number">03</h2>
                <h3 class="fit-head__title">Проработали структуру сайта и курса. <br>Сверстали и разместили в интернете</h3>
            </div>
        </div>
    </div>

    <div class="fit-structure__bg">
        <img src="assets/img/fit-case/structure-bg.png" alt="">
    </div>
</div>
