<div class="fit-info">
    <div class="fit-info__icon icon1">
        <img src="assets/img/fit-case/info-list1.png" alt="icon">
    </div>
    <div class="fit-info__icon icon2">
        <img src="assets/img/fit-case/info-list2.png" alt="icon">
    </div>

    <div class="fit-container">
        <div class="fit-head">
            <h2 class="fit-head__number">05</h2>
            <h3 class="fit-head__title">Оформили информационные материалы</h3>
        </div>

        <div class="fit-info__block">
            <p class="fit-info__block-title">Презентации для проведения вебинаров</p>
            <div class="fit-info__block-image">
                <div class="fit-info__block-icon icon1">
                    <img src="assets/img/fit-case/info-dots1.svg" alt="icon">
                </div>
                <img src="assets/img/fit-case/info-1.png" alt="icon">
            </div>
        </div>

        <div class="fit-info__block block-right">
            <p class="fit-info__block-title">Информационные чек-листы</p>
            <div class="fit-info__block-image">
                <div class="fit-info__block-icon icon2">
                    <img src="assets/img/fit-case/info-dots2.svg" alt="icon">
                </div>
                <img src="assets/img/fit-case/info-2.jpg" alt="icon">
            </div>
        </div>
    </div>
</div>
