<div class="fit-work">
    <div class="fit-container">
        <div class="fit-work__wrap">
            <div class="fit-work__img">
                <img src="assets/img/fit-case/work.png" alt="">
            </div>

            <div class="fit-work__text">
                <h4 class="fit-work__text-title">Что сделано?</h4>

                <ul>
                    <li>Разработан продающий landing page для онлайн-школы по фитнесу</li>
                    <li>Оформлены презентации и чек-листы для повышения лояльности аудитории</li>
                </ul>
            </div>
        </div>
    </div>

    <div class="fit-work__icon">
        <img src="assets/img/fit-case/work-icon.png" alt="icon">
    </div>
</div>
