<div class="fit-header">
    <div class="fit-header__main">
        <div class="fit-header__main-icon">
            <img src="assets/img/fit-case/icon-p.png" alt="image">
        </div>
        <div class="fit-header__main-bg">
            <img src="assets/img/fit-case/main-bg.jpg" alt="image">
        </div>

        <div class="fit-header__main-content">
            <div class="fit-container">
                <div class="fit-header__main-wrap">
                    <h5 class="fit-header__main-type">КЕЙС</h5>
                    <h1 class="fit-header__main-title">Дизайн-упаковка <br>инфопродукта</h1>
                </div>
            </div>
        </div>
    </div>
    <div class="fit-goal">
        <div class="fit-goal__bg">
            <img src="assets/img/fit-case/goal.png" alt="image">
            <div class="fit-goal__bg-text">
                <p>Онлайн-школа по фитнесу Александра Соловьева «BodyLike». Имеет широкую линейку инфопродуктов по
                    направлению ЗОЖ</p>
            </div>
        </div>

        <div class="fit-goal__content">
            <div class="fit-container">
                <div class="fit-goal__wrap">
                    <div class="fit-goal__col col1">
                        <h5 class="fit-goal__title">Задача</h5>
                        <ul>
                            <li>Разработать продающий лендинг для нового курса школы «Делай тело, меняй жизнь»
                            </li>
                            <li>Упаковать в фирменном стиле информационные материалы курса (чек-листы) и презентации для
                                проведения вебинаров
                            </li>
                        </ul>
                    </div>
                    <div class="fit-goal__col col2">
                        <h5 class="fit-goal__title">Решение</h5>
                        <ul>
                            <li>Повышение узнаваемости бренда и лояльности аудитории</li>
                            <li>Презентация нового инфопродукта школы</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
