<div class="fit-mob">
    <div class="fit-mob__content">
        <div class="fit-container">
            <div class="fit-head">
                <h2 class="fit-head__number">04</h2>
                <h3 class="fit-head__title">Адаптировали под мобильные устройства</h3>
                <h5 class="fit-head__subtitle">Наличие мобильной адаптации способствует не только <br>удобству просмотра
                    с
                    различных гаджетов, но и <br>поднимает сайт в поисковой выдаче</h5>
            </div>
        </div>
    </div>
    <div class="fit-mob__bg">
        <img src="assets/img/fit-case/mob-bg.png" alt="">
    </div>
</div>
