<div class="fit-design">
    <div class="fit-design__icon icon1">
        <img src="assets/img/fit-case/info-dots1.svg" alt="icon">
    </div>
    <div class="fit-design__icon icon2">
        <img src="assets/img/fit-case/info-dots2.svg" alt="icon">
    </div>

    <div class="fit-container">
        <div class="fit-head">
            <h2 class="fit-head__number">02</h2>
            <h3 class="fit-head__title">Разработали дизайн концепцию</h3>
        </div>
    </div>

    <div class="fit-design__image">
        <img src="assets/img/fit-case/design-img.jpg" alt="">
    </div>
</div>
