<div class="fit-result">
    <div class="fit-result__image">
        <img src="assets/img/fit-case/result-image.png" alt="image">
    </div>

    <div class="fit-container">
        <div class="fit-result__content">
            <h4 class="fit-result__title">Результаты</h4>
            <ul>
                <li>Прибыль с запуска данного курса составила 2 000 000 руб</li>
                <li>Продолжаем сотрудничество по упаковке других продуктов школы</li>
            </ul>
        </div>
    </div>
</div>
