<div class="case-block">
    <div class="container">
        <div class="case-block__wrap">
            @@include("./block-header.html")
            @@include("./block-about.html")
            @@include("./block-work.html")
            @@include("./block-visual.html")
            @@include("./block-design.html")
            @@include("./block-structure.html")
            @@include("./block-mob.html")
            @@include("./block-info.html")
            @@include("./block-result.html")
            @@include("./block-form.html")

            @@include("./../more-cases.html")
        </div>
    </div>
</div>


