<div class="bus-info">
    <div class="bus-container">
        <div class="bus-info__wrap">
            <div class="bus-info__col1">
                <h3 class="bus-info__title">Задача:  </h3>
                <ul class="bus-info__list">
                    <li>Повышение узнановаемости бренда</li>
                    <li>Масшибирование бизнеса</li>
                    <li>Стать лидером в нише</li>
                </ul>
            </div>
            <div class="bus-info__col2">
                <h3 class="bus-info__title">О клиенте: </h3>
                <ul class="bus-info__list">
                    <li>Торгово-производственное предприятие «ОкнаХом». Беларусь</li>
                    <li>Занимается производством и установкой ПВХ окон</li>
                    <li>Точка А компании - небольшое производство, коллектив из 3 человек</li>
                </ul>
            </div>
        </div>
    </div>
</div>
