<div class="bus-header">
    <div class="bus-header__image">
        <img src="assets/img/bus-case/bus-header.png" alt="image">
    </div>
    <div class="bus-container">
        <div class="bus-header__content">
            <div class="bus-header__wrap">
                <p class="bus-header__type">КЕЙС</p>
                <h1 class="bus-header__title">Масштабирование бизнеса и повышение узнаваемости бренда</h1>
            </div>
        </div>
    </div>
</div>
