<div class="bus-result">
    <div class="bus-container">
        <h2 class="bus-result__main-title">Результаты</h2>

        <div class="bus-result__wrap">
            <div class="bus-result__content">
                <div class="bus-result__line">
                    <span class="bus-result__line-icon"></span>
                    Компания выросла с 0 до годового оборота в 20 млн евро
                </div>
                <div class="bus-result__line">
                    <span class="bus-result__line-icon"></span>
                    Увеличение оборота компании в 2 раза ежегодно
                </div>
                <div class="bus-result__line">
                    <span class="bus-result__line-icon"></span>
                    Штат сотруднкиов более 500 человек
                </div>
                <div class="bus-result__line">
                    <span class="bus-result__line-icon"></span>
                    Филиалы во всех крупных городах Белоруссии, а также в Смоленске, Брянске и Москве.
                    Проведенный итоговый анализ показал, что более 57% наших клиентов возвращались за повтор
                </div>
            </div>
            <div class="bus-result__image">
                <img src="assets/img/bus-case/bus-result.png" alt="image">
            </div>
        </div>
    </div>
</div>
