<div class="bus-work">
    <div class="bus-container">
        <h2 class="bus-work__main-title">Решение</h2>

        <div class="row">
            <div class="col-xl-4 col-md-6">
                <div class="bus-work__block">
                    <div class="bus-work__number">01</div>
                    <h3 class="bus-work__title">Провели анализ целевой аудитории:</h3>

                    <ul class="bus-work__list">
                        <li>Выявили основные боли и потребности</li>
                        <li>Описали портрет потенциального клиента</li>
                        <li>Это позволило охватить большее количество потребителей</li>
                    </ul>
                </div>
            </div>

            <div class="col-xl-4 col-md-6">
                <div class="bus-work__block">
                    <div class="bus-work__number">02</div>
                    <h3 class="bus-work__title">Провели анализ конкурентов:</h3>

                    <ul class="bus-work__list">
                        <li>Выявление сильных и слабых сторон, возможностей и угроз</li>
                    </ul>
                </div>
            </div>

            <div class="col-xl-4 col-md-6">
                <div class="bus-work__block">
                    <div class="bus-work__number">03</div>
                    <h3 class="bus-work__title">Фирменный стиль и айдентика:</h3>

                    <ul class="bus-work__list">
                        <li>Разработка логотипа и бренда</li>
                        <li>Футболки, кепки, суверная продукция</li>
                        <li>Автомобили компании с именным лейблом</li>
                        <li>Собственный мерч способствовал повышению лояльности клиентов и узнаваемости бренда
                            “ОкнаХом”
                        </li>
                    </ul>
                </div>
            </div>

            <div class="col-xl-4 col-md-6">
                <div class="bus-work__block">
                    <div class="bus-work__number">04</div>
                    <h3 class="bus-work__title">Упаковка интернет-ресурсов</h3>

                    <ul class="bus-work__list">
                        <li>Разработка логотипа и бренда</li>
                        <li>Футболки, кепки, суверная продукция</li>
                        <li>Автомобили компании с именным лейблом</li>
                        <li>Собственный мерч способствовал повышению лояльности клиентов и узнаваемости бренда
                            “ОкнаХом”
                        </li>
                    </ul>
                </div>
            </div>

            <div class="col-xl-4 col-md-6">
                <div class="bus-work__block">
                    <div class="bus-work__number">05</div>
                    <h3 class="bus-work__title">Масштабирование рекламных компаний</h3>

                    <ul class="bus-work__list">
                        <li>Сми, профильные издания, интернет-реклама, участие в конкурсах (Бренд года – 2018, Лидер
                            потребительского рынка, Лучший строительный продукт, Народная марка Беларусь,
                            Предприниматель года), медиа-реклама
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
