<div class="lin-work">
    <div class="lin-container">
        <h2 class="lin-title">
            <span>Решение</span>
        </h2>

        <div class="row">
            <div class="col-xl-4 col-md-6">
                <div class="lin-work__block">
                    <div class="lin-work__number">01</div>
                    <h3 class="lin-work__title">Подготовили профиль Инстаграмм перед запуском:</h3>

                    <ul class="lin-work__list">
                        <li>Улучшили описание в шапке</li>
                        <li>Разнообразили контент в постах (согласно контент-плану)</li>
                        <li>Разработали контент-план для сторис</li>
                    </ul>
                </div>
            </div>

            <div class="col-xl-4 col-md-6">
                <div class="lin-work__block">
                    <div class="lin-work__number">02</div>
                    <h3 class="lin-work__title">Создали страницу в Facebook: </h3>

                    <ul class="lin-work__list">
                        <li>Грамотно заполнили описание профиля с учетом поисковой выдачи</li>
                        <li>Добавили связь с аккаунтом Инстаграмм для обмена аудиторией</li>
                        <li>Наполнили аккаунт контентом в соответствии с планом для привлечения и удержания внимания
                            клиентов
                        </li>
                    </ul>
                </div>
            </div>

            <div class="col-xl-4 col-md-6">
                <div class="lin-work__block">
                    <div class="lin-work__number">03</div>
                    <h3 class="lin-work__title">Провели анализ целевой аудитории:</h3>

                    <ul class="lin-work__list">
                        <li>Выявили основные боли и потребности</li>
                        <li>Описали портрет потенциального клиента</li>
                    </ul>
                </div>
            </div>

            <div class="col-xl-4 col-md-6">
                <div class="lin-work__block">
                    <div class="lin-work__number">04</div>
                    <h3 class="lin-work__title">Провели анализ конкурентов:</h3>

                    <ul class="lin-work__list">
                        <li>Выявили наиболее результативные рекламные креативы</li>
                        <li>Проанализировали наиболее значимых конкурентов в Инстаграмм и Фейсбук</li>
                    </ul>
                </div>
            </div>

            <div class="col-xl-4 col-md-6">
                <div class="lin-work__block">
                    <div class="lin-work__number">05</div>
                    <h3 class="lin-work__title">Создание коммуникационной стратегии:</h3>

                    <ul class="lin-work__list">
                        <li>Создали структуру рекламных кампаний, провели расчет бюджета на каждую группу объявлений
                        </li>
                        <li>Разработали 10 вариантов рекламных креативов с адаптацией под разные плейсменты</li>
                        <li>Подготовили продающие тексты и офферы для креативов</li>
                        <li>Разработали уникальные спецпредложения и акции, заточенные под рекламу</li>
                    </ul>
                </div>
            </div>

            <div class="col-xl-4 col-md-6">
                <div class="lin-work__block">
                    <div class="lin-work__number">06</div>
                    <h3 class="lin-work__title">Начали этап тестирования гипотиз:</h3>

                    <ul class="lin-work__list">
                        <li>Запустили все варианты подготовленных креативов на рекламных платформах Фейсбук и
                            Инстаграмм
                        </li>
                        <li>На данном этапе были протестированы различные рекламные цели</li>
                        <li>После получения первых результатов мы проанализировали данные для их оптимизации с целью
                            понижения цены за лида
                        </li>
                    </ul>
                </div>
            </div>

            <div class="col-xl-8">
                <div class="lin-work__block">
                    <div class="lin-work__number">07</div>
                    <h3 class="lin-work__title">Масшатибование рекламных кампаний:</h3>

                    <ul class="lin-work__list">
                        <li>Взяли в работу объявления, которые показали на этапе теста наилучший результат</li>
                        <li>Сфокусировали дальнейшую работу на самых показательных объявлениях и продолжили выстраивание
                            рекламных кампаний с учетом показателей</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
