<div class="lin-banner">
    <div class="lin-container">
        <div class="lin-banner__wrap">
            <div class="lin-banner__content">
                <h6 class="lin-banner__top">КЕЙС</h6>
                <h1 class="lin-banner__title">Привлечение <br class="d-block d-lg-none">клиентов</h1>
                <h4 class="lin-banner__subtitle d-none d-md-block">Интернет-магазин нижнего белья <br class="d-block d-xl-none">@lady_room_20, Украина<br>
                    Площадки, испульзуемые для продаж: <br class="d-block d-xl-none">Facebook & Instagram. </h4>
            </div>
            <div class="lin-banner__image">
                <img src="assets/img/lingerie-case/banner.png" alt="image">
            </div>
        </div>

        <div class="d-block d-md-none">
            <h4 class="lin-banner__subtitle">Интернет-магазин нижнего белья @lady_room_20, Украина<br>
                Площадки, испульзуемые для продаж: Facebook & Instagram. </h4>

        </div>
    </div>
</div>
