<div class="lin-result">
    <div class="lin-container">
        <h2 class="lin-title">
            <span>Результаты</span>
        </h2>
        <div class="lin-result__wrap">
            <ul class="lin-result__list">
                <li>Потрачено: 8350 рублей</li>
                <li>Сколько написало: <br class="d-block d-sm-none"> 714 человек</li>
                <li>Цена за 1 переписку: <br class="d-block d-md-block">~ 11 рублей</li>
                <li>Заработано: 45000 р</li>
                <li>ROI ~453%</li>
            </ul>
        </div>
    </div>

    <div class="lin-result__image">
        <img src="assets/img/lingerie-case/result.png" alt="image">
    </div>
</div>
