<div class="lin-info">
    <div class="lin-container">
        <div class="row">
            <div class="col-lg-6">
                <div class="lin-info__block">
                    <h2 class="lin-info__title">Кейс:  </h2>
                    <p>714 заявок с затратами в 8000 рублей в нише онлайн-магазина нижнего белья⠀</p>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="lin-info__block">
                    <h2 class="lin-info__title">Задача:  </h2>
                    <ul>
                        <li>Увеличение потока покупателей в онлайн-магазине</li>
                        <li>Повышение узнаваемости бренда на используемых площадках</li>
                        <li>Обеспечение бесперебойного потока клиентов</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
