.about {
    margin: 0 0 150px;

    @media (max-width: 991px) {
        margin: 0 0 100px;
    }

    @media (max-width: 575px) {
        margin: 0;
    }

    &-tab {
        display: flex;
        align-items: stretch;
        margin-bottom: 50px;

        &__item {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 50px;
            width: 50%;
            flex-shrink: 0;
            padding: 9px 10px;
            text-align: center;
            box-sizing: border-box;
            font-weight: 400;
            font-size: 11px;
            line-height: 16px;
            border: 1px solid $black-color;
            overflow: hidden;
            position: relative;
            cursor: pointer;
            transition: all 0.4s ease-in;
            span {
                position: relative;
                z-index: 2;
            }

            &.active {
                color: $white-color;
                border: none;

                &:after, &:before {
                    content: '';
                    display: block;
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    top: 0;
                    left: 0;
                    background-image: linear-gradient(133.23deg, #0B95B2 9.22%, #15617C 93.5%);
                }
            }
        }

        &__content {
            @media (max-width: 575px) {
                display: none;

                &.active {
                    display: block;
                }
            }
        }
    }

    &__title {
        @extend %h2;
        margin: 0 0 80px;
        @media (max-width: 991px) {
            margin: 0 0 50px;
        }
        @media (max-width: 575px) {
            display: none;
        }
    }

    &__main {
        align-items: flex-start;
        margin: 0 0 70px;
        @media (max-width: 991px) {
            margin: 0 0 50px;
        }
        @media (max-width: 575px) {
            flex-direction: column;
        }

        &-photo {
            width: 440px;
            flex-shrink: 0;
            margin-right: 50px;
            @media (max-width: 1199px) {
                width: 370px;
                margin-right: 20px;
            }
            @media (max-width: 991px) {
                width: 213px;
            }
            @media (max-width: 767px) {
                width: 197px;
            }
            @media (max-width: 575px) {
                width: 100%;
                margin-right: 0;
                margin-bottom: 20px;
            }

            img {
                width: 100%;
            }
        }

        &-text {
            padding: 20px 0 0;
            flex-grow: 1;
            @media (max-width: 991px) {
                padding: 25px 0 0;
            }
            @media (max-width: 767px) {
                padding: 5px 0 0;
            }
            @media (max-width: 575px) {
                padding: 0;
            }
        }
    }

    &__text {
        margin: 0 0 70px;
        @media (max-width: 991px) {
            margin: 0 0 50px;
        }

        p {
            @extend %text-19;
            color: $text-color;
            margin: 0 0 20px;
            @media (max-width: 991px) {
                font-size: 17px;
            }
            @media (max-width: 575px) {
                font-size: 16px;
            }

            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}

.custom-blockquote {
    padding: 0;
    margin: 0;

    &:before {
        display: none;
    }

    &__icon {
        width: 60px;
        height: 60px;
        margin: 0 0 20px;
        @media (max-width: 991px) {
            width: 34px;
            height: 34px;
            margin: 0 0 10px;
        }

        img {
            width: 100%;
        }
    }

    &__text {
        margin: 0 0 35px;
        @media (max-width: 991px) {
            margin: 0 0 15px;
        }

        p {
            font-weight: 600;
            font-size: 36px;
            line-height: 44px;
            color: $text-color;
            margin: 0;
            @media (max-width: 991px) {
                font-size: 19px;
                line-height: 23px;
            }
            @media (max-width: 575px) {
                font-size: 19px;
                line-height: 23px;
            }
        }
    }

    &__author {
        @extend %text-17;
        line-height: 30px;
        color: $light-gray;
        font-style: italic;
        font-weight: 300;
        margin: 0;
        @media (max-width: 991px) {
            font-size: 15px;
            line-height: 22px;
        }
        @media (max-width: 575px) {
            font-size: 14px;
        }
    }
}

.bottom-quote {
    &__title {
        @extend %h4;
        margin: 0 0 50px;
        @media (max-width: 991px) {
            font-size: 19px;
            line-height: 23px;
            margin: 0 0 25px;
        }
    }

    &__author {
        font-style: italic;
        font-weight: 300;
        font-size: 15px;
        line-height: 22px;
        color: $text-color;
    }
}

.about-card {
    width: 100%;
    max-width: 1070px;
    position: relative;
    margin: 0 0 70px auto;
    @media (max-width: 991px) {
        margin: 0 0 50px auto;
    }

    &__image {
        position: relative;
        z-index: 1;
        width: 775px;
        margin-right: 100px;
        margin-left: auto;
        margin-bottom: 40px;
        @media (max-width: 1199px) {
            height: 240px;
            margin-left: 210px;
            width: 100%;
        }
        @media (max-width: 991px) {
            width: 100%;
            margin-left: 0;
            height: auto;
            margin-bottom: 50px;
        }
        @media (max-width: 767px) {
            height: 205px;
        }

        @media (max-width: 575px) {
            margin-bottom: 25px;
        }

        &:after {
            content: '';
            display: none;
            width: 100vw;
            position: absolute;
            height: 100%;
            top: 0;
            background-color: $text-color;
            left: calc((100% - 100vw) / 2);
            z-index: -1;
            @media (max-width: 991px) {
                display: block;
            }
        }

        img {
            width: 100%;
            @media (max-width: 1199px) {
                height: 100%;
                width: auto;
            }
            @media (max-width: 991px) {
                width: 100%;
                height: auto;
            }
            @media (max-width: 767px) {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: center;
            }
        }
    }

    &__left {
        position: absolute;
        left: 0;
        top: 75px;
        z-index: 2;
        width: 380px;
        font-style: italic;
        font-weight: 300;
        font-size: 17px;
        line-height: 26px;
        color: $light-gray;
        @media (max-width: 991px) {
            position: relative;
            width: 100%;
            max-width: 500px;
            top: 0;
            margin: 0 0 15px;
        }

        @media (max-width: 575px) {
            font-size: 14px;
            line-height: 22px;
        }
    }

    &__bottom {
        position: relative;
        z-index: 2;
        width: calc(100% - 300px);
        @media (max-width: 991px) {
            width: 100%;
            margin: 0 0 50px;
        }

        p {
            font-weight: 400;
            font-size: 19px;
            line-height: 26px;
            color: $text-color;
            margin: 0;
            @media (max-width: 991px) {
                font-size: 17px;
            }

            @media (max-width: 575px) {
                font-size: 16px;
            }
        }
    }

    &__wrap {
        position: absolute;
        right: 0;
        top: 185px;
        width: 265px;
        z-index: 2;
        background-color: $white-color;
        padding: 35px 24px;
        @media (max-width: 991px) {
            position: relative;
            padding: 30px 0;
            top: 0;
            width: 100%;
        }

        @media (max-width: 575px) {
            padding: 20px 0;
        }

        &:after {
            content: '';
            display: none;
            width: 100vw;
            position: absolute;
            height: 100%;
            top: 0;
            background-color: $white-color;
            left: calc((100% - 100vw) / 2);
            z-index: -1;
            @media (max-width: 991px) {
                display: block;
            }
        }

        p {
            font-style: italic;
            font-weight: 300;
            font-size: 17px;
            line-height: 26px;
            color: $light-gray;
            margin: 0;

            @media (max-width: 575px) {
                font-size: 14px;
                line-height: 20px;
            }
        }
    }
}


.about-tab {
    &__item {}
    &__content {}
}
