$ball-red-color: #D75052;
$ball-text-color: #121212;
$ball-bg: #FDFEFF;

.ball-container {
    width: 100%;
    padding: 0 40px;
    @media (max-width: 991px) {
        padding: 0 10px;
    }
    @media (max-width: 575px) {
        padding: 0 20px;
    }
}

.ball-head {
    position: relative;
    z-index: 3;
    background: linear-gradient(180deg, #C4E5EA 21.62%, rgba(232, 241, 242, 0.848684) 90.3%);

    &__content {
        padding: 100px 0 214px 90px;
        position: relative;
        z-index: 2;

        @media (max-width: 1199px) {
            padding: 100px 0 214px 0;
        }

        @media (max-width: 991px) {
            padding: 90px 0 120px;
        }
        @media (max-width: 575px) {
            padding: 31px 0 11px;
        }
    }

    &__image {
        position: absolute;
        width: 576px;
        right: 40px;
        z-index: 1;

        @media (max-width: 1199px) {
            right: 0;
        }
        @media (max-width: 991px) {
            width: 328px;
            right: 55px;
            top: -40px;
            height: 532px;
        }
        @media (max-width: 767px) {
            width: 277px;
            right: 30px;
            top: -6px;
            height: 458px;
        }
        @media (max-width: 575px) {
            width: 252px;
            right: 10px;
            height: 416px;
        }

        img {
            width: 100%;
            @media (max-width: 991px) {
                height: 100%;
            }
        }
    }

    &__title {
        font-weight: 400;
        font-size: 62px;
        line-height: 66px;
        margin: 0 0 60px;
        color: $ball-text-color;
        max-width: 645px;
        @media (max-width: 991px) {
            font-weight: 600;
            font-size: 24px;
            line-height: 29px;
            margin: 0 0 32px;
            max-width: 300px;
        }
        @media (max-width: 575px) {
            max-width: 180px;
            margin: 0 0 140px;
        }
    }
    &__type {
        font-weight: 400;
        font-size: 19px;
        line-height: 23px;
        letter-spacing: 0.03em;
        color: $ball-red-color;
        margin: 0 0 9px;
        @media (max-width: 991px) {
            font-size: 11px;
            line-height: 16px;
            margin: 0 0 6px;
        }
    }

    &__subtitle {
        font-weight: 200;
        font-style: italic;
        font-size: 50px;
        line-height: 66px;
        color: $ball-red-color;
        opacity: 0.7;
        margin: 0;
        @media (max-width: 991px) {
            font-size: 19px;
            line-height: 24px;
        }
    }
}


.ball-work {
    background: $ball-bg;
    position: relative;
    z-index: 1;
    padding: 70px 0;
    @media (max-width: 1199px) {
        padding: 90px 0 35px;
    }
    @media (max-width: 575px) {
        padding-top: 100px;
    }

    &__wrap {
        max-width: 445px;
        margin-left: 90px;
        @media (max-width: 1199px) {
            margin-left: 0;
            max-width: 360px;
        }
        @media (max-width: 991px) {
            max-width: 440px;
        }
        p {
            font-weight: 300;
            font-size: 17px;
            line-height: 26px;
            margin: 0;
        }
    }

    &__title {
        font-weight: 600;
        font-size: 24px;
        line-height: 29px;
        color: $ball-red-color;
        margin: 0 0 10px;
        @media (max-width: 991px) {
            font-size: 19px;
            line-height: 23px;
            margin: 0 0 20px;
        }
    }
}

.ball-decision {
    background: $ball-bg;
    position: relative;
    z-index: 1;
    padding: 70px 0;
    @media (max-width: 991px) {
        padding: 35px 0;
    }

    &__title {
        font-weight: 600;
        font-size: 36px;
        line-height: 44px;
        color: $ball-red-color;
        margin: 0 0 60px;
        @media (max-width: 991px) {
            font-weight: 600;
            font-size: 19px;
            line-height: 23px;
            margin: 0 0 30px;
        }
    }

    &__wrap {
        display: flex;
        align-items: center;
        @media (max-width: 1199px) {
            align-items: flex-start;
        }
        @media (max-width: 991px) {
            flex-direction: column-reverse;
        }
    }

    &__image {
        width: 510px;
        flex-shrink: 0;
        margin-right: 40px;
        @media (max-width: 1199px) {
            width: 360px;
            margin-right: 30px;
        }
        @media (max-width: 991px) {
            width: 100%;
            max-width: 500px;
            margin: 40px auto 0;
        }
        @media (max-width: 767px) {
            max-width: none;
            width: calc(100% + 20px);
            margin-left: -10px;
        }
        @media (max-width: 575px) {
            width: calc(100% + 40px);
            margin-left: -20px;
            margin-top: 30px;
        }

        img {
            width: 100%;
        }
    }

    &__content {
        flex-grow: 1;

        ul {
            padding: 0;
            margin: 0;
            list-style: none;

            li {
                display: flex;
                align-items: flex-start;
                font-weight: 300;
                font-size: 17px;
                line-height: 26px;
                margin: 0 0 20px;
                color: $ball-text-color;

                &:before {
                    content: '';
                    display: block;
                    flex-shrink: 0;
                    width: 26px;
                    height: 26px;
                    border-radius: 50%;
                    margin-right: 25px;
                    background-color: $ball-red-color;
                    background-repeat: no-repeat;
                    background-size: 15px;
                    background-position: center;
                    background-image: url("../img/ballet-case/check-icon.svg");

                    @media (max-width: 1199px) {
                        margin-right: 15px;
                    }
                    @media (max-width: 991px) {
                        width: 22px;
                        height: 22px;
                        background-size: 11px;
                        margin-right: 10px;
                    }
                }

                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
    }
}


.ball-result {
    background: $ball-bg;
    padding: 55px 0 120px;
    @media (max-width: 991px) {
        padding: 35px 0 70px;
    }
    @media (max-width: 575px) {
        padding: 35px 0 40px;
    }

    &__wrap {
        display: flex;
        align-items: flex-start;
        @media (max-width: 991px) {
            flex-direction: column;
        }
    }

    &__title {
        font-weight: 600;
        font-size: 36px;
        line-height: 44px;
        color: $ball-red-color;
        margin: 0 0 60px;
        @media (max-width: 991px) {
            font-weight: 600;
            font-size: 19px;
            line-height: 23px;
            margin: 0 0 30px;
        }
    }

    &__content {
        width: 595px;
        flex-shrink: 0;
        @media (max-width: 1199px) {
            width: 555px;
        }
        @media (max-width: 991px) {
            width: 100%;
            margin-bottom: 40px;
        }
        @media (max-width: 575px) {
            margin-bottom: 30px;
        }

        ul {
            padding: 0;
            margin: 0;
            list-style: none;

            li {
                display: flex;
                align-items: flex-start;
                font-weight: 300;
                font-size: 17px;
                line-height: 26px;
                margin: 0 0 20px;
                color: $ball-text-color;

                &:before {
                    content: '';
                    display: block;
                    flex-shrink: 0;
                    width: 26px;
                    height: 26px;
                    border-radius: 50%;
                    margin-right: 25px;
                    background-color: $ball-red-color;
                    background-repeat: no-repeat;
                    background-size: 15px;
                    background-position: center;
                    background-image: url("../img/ballet-case/check-icon.svg");

                    @media (max-width: 1199px) {
                        margin-right: 15px;
                    }
                    @media (max-width: 991px) {
                        width: 22px;
                        height: 22px;
                        background-size: 11px;
                        margin-right: 10px;
                    }
                }

                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
    }

    &__image {
        flex-grow: 1;
        @media (max-width: 991px) {
            width: 100%;
        }

        img {
            display: block;
            margin-left: 140px;
            width: 270px;
            margin-top: -20px;
            @media (max-width: 1199px) {
                margin-left: 36px;
                margin-top: 0;
            }
            @media (max-width: 991px) {
                margin-left: auto;
                margin-right: auto;
            }
            @media (max-width: 575px) {
                width: 100%;
                max-width: 270px;
            }
        }
    }
}


.ball-form {
    padding: 200px 0 215px;
    background-color: #EBF3F4;
    position: relative;

    @media (max-width: 1199px) {
        padding: 170px 0 200px;
    }
    @media (max-width: 991px) {
        padding: 70px 40px;
    }
    @media (max-width: 767px) {
        padding: 70px 0;
    }

    &__image {
        position: absolute;
        width: 400px;
        height: 511px;
        top: 204px;
        right: 0;
        overflow: hidden;

        @media (max-width: 1199px) {
            width: 250px;
        }
        @media (max-width: 991px) {
            display: none;
        }

        img {
            position: absolute;
            height: 100%;
            width: 100%;
            top: 0;
            left: 0;
            object-fit: cover;
            object-position: top left;
        }
    }
}
