.contact-us {
    position: relative;
    background-color: #F1F1F1;

    &__bg {
        position: absolute;
        right: 0;
        top: 0;
        height: 100%;
        width: calc(1170px + ((100% - 1170px) / 2) + 170px);
        min-width: 1260px;
        @media (max-width: 1199px) {
            width: 100%;
        }

        img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &__content {
        padding: 70px 0;
        @media (max-width: 991px) {
            padding: 45px 0 60px;
        }
        @media (max-width: 767px) {
            padding: 70px 0;
        }
    }

    &__title {
        font-weight: 600;
        font-size: 52px;
        line-height: 63px;
        background: linear-gradient(133.23deg, #0B95B2 9.22%, #15617C 93.5%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        text-fill-color: transparent;
        margin: 27px 0 20px;
        @media (max-width: 991px) {
            font-size: 34px;
            line-height: 41px;
            margin: 0 0 15px;
        }
        @media (max-width: 575px) {
            font-size: 32px;
        }
    }

    &__subtitle {
        font-weight: 400;
        font-size: 19px;
        line-height: 26px;
        color: $light-gray;
        @media (max-width: 991px) {
            font-size: 15px;
            line-height: 19px;
        }
        @media (max-width: 767px) {
            margin-bottom: 35px;
        }
    }

    &__form {
        .form-check {
            margin: 26px 0 36px;
            @media (max-width: 767px) {
                margin: 0 0 30px;
            }
        }

        .cen-btn {
            @media (max-width: 991px) {
                width: 100%;
            }
        }
    }
}
