$bus-blue-color: #4562C8;
$bus-text-color: #121212;

.bus-container {
    width: 100%;
    padding: 0 40px;
    @media (max-width: 991px) {
        padding: 0 10px;
    }
    @media (max-width: 575px) {
        padding: 0 20px;
    }
}

.bus-header {
    position: relative;
    background-image: linear-gradient(180deg, #FFFFFF 0%, rgba(225, 225, 225, 0.848684) 100%);

    &__content {
        padding: 100px 0 140px;
        @media (max-width: 991px) {
            padding: 90px 0 100px;
        }
        @media (max-width: 767px) {
            padding: 45px 0 60px;
        }
        @media (max-width: 575px) {
            padding: 30px 0 40px;
        }
    }

    &__image {
        position: absolute;
        right: 40px;
        bottom: 0;
        height: 100%;
        @media (max-width: 1199px) {
            right: -60px;
        }
        @media (max-width: 991px) {
            height: auto;
            width: 285px;
            right: 40px;
        }
        @media (max-width: 767px) {
            right: 15px;
            width: 209px;
        }
        @media (max-width: 575px) {
            right: -60px;
        }

        img {
            height: 100%;
            @media (max-width: 991px) {
                width: 100%;
                height: auto;
            }
        }
    }

    &__wrap {
        width: 100%;
        max-width: 640px;
        margin-left: 90px;
        @media (max-width: 1199px) {
            margin-left: 0;
        }
        @media (max-width: 991px) {
            max-width: 275px;
            margin-left: 55px;
        }
        @media (max-width: 767px) {
            margin-left: 0;
        }
        @media (max-width: 575px) {
            max-width: 250px;
        }
    }

    &__type {
        font-weight: 400;
        font-size: 19px;
        line-height: 23px;
        letter-spacing: 0.03em;
        color: $bus-blue-color;
        margin: 0 0 9px;
        @media (max-width: 991px) {
            font-weight: 400;
            font-size: 11px;
            line-height: 16px;
            margin: 0 0 6px;
        }
    }

    &__title {
        font-weight: 400;
        font-size: 62px;
        line-height: 66px;
        color: $bus-text-color;
        opacity: 0.7;
        @media (max-width: 991px) {
            font-weight: 600;
            font-size: 24px;
            line-height: 29px;
        }
        @media (max-width: 575px) {
            max-width: 250px;
        }
    }
}

.bus-info {
    padding: 60px 0;
    background-color: #F9F9F9;
    @media (max-width: 991px) {
        padding: 60px 0 50px;
    }

    &__wrap {
        display: flex;
        align-items: flex-start;
        justify-content: flex-end;
        @media (max-width: 991px) {
            flex-direction: column;
            justify-content: flex-start;
        }
    }

    &__col1 {
        width: 40%;
        flex-shrink: 0;
        margin-right: 20px;
        @media (max-width: 1199px) {
            width: 50%;
            padding-right: 10px;
            margin-right: 0;
        }
        @media (max-width: 991px) {
            width: 100%;
            margin-bottom: 40px;
            padding-right: 0;
            padding-left: 10px;
        }
    }

    &__col2 {
        width: 50%;
        flex-shrink: 0;
        @media (max-width: 1199px) {
            padding-left: 10px;
        }
        @media (max-width: 991px) {
            width: 100%;
        }
    }

    &__title {
        position: relative;
        font-weight: 600;
        font-size: 24px;
        line-height: 29px;
        margin: 0 0 10px;
        color: $bus-blue-color;

        &:before {
            content: '';
            display: block;
            position: absolute;
            top: -10%;
            left: -10px;
            height: 120%;
            width: 0;
            border-left: 2px solid $bus-blue-color;
        }
    }

    &__list {
        padding-left: 25px;
        margin: 0;

        li {
            color: $bus-text-color;
            font-weight: 300;
            font-size: 17px;
            line-height: 26px;
            margin-bottom: 10px;

            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}


.bus-work {
    padding: 20px 0;
    background-color: #F9F9F9;
    @media (max-width: 991px) {
        padding: 20px 0 10px;
    }

    &__main-title {
        display: block;
        position: relative;
        margin: 0 0 65px;
        padding: 0 0 7px;
        font-weight: 600;
        font-size: 36px;
        line-height: 44px;
        color: $bus-blue-color;
        @media (max-width: 991px) {
            font-weight: 600;
            font-size: 24px;
            line-height: 29px;
            margin: 0 0 55px;
        }

        &:after {
            content: '';
            display: block;
            height: 0;
            width: 400px;
            position: absolute;
            left: -40px;
            bottom: 0;
            border-bottom: 1px solid $bus-blue-color;
            @media (max-width: 991px) {
                width: 300px;
            }
        }
    }

    &__block {
        margin-bottom: 50px;
    }

    &__number {
        font-weight: 200;
        font-size: 62px;
        line-height: 75px;
        margin: 0 0 15px;
        color: $bus-blue-color;
        @media (max-width: 991px) {
            margin: 0 0 10px;
        }
    }

    &__title {
        font-weight: 600;
        font-size: 24px;
        line-height: 29px;
        margin: 0 0 15px;
        color: $bus-text-color;
        @media (max-width: 991px) {
            font-size: 19px;
            line-height: 23px;
        }
    }

    &__list {
        margin: 0;
        padding-left: 25px;

        li {
            font-weight: 300;
            font-size: 17px;
            line-height: 26px;
            margin: 0 0 10px;

            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}


.bus-result {
    padding: 70px 0 120px;
    background-color: #F9F9F9;
    @media (max-width: 991px) {
        padding: 20px 0 80px;
    }
    @media (max-width: 767px) {
        padding: 20px 0 60px;
    }

    &__main-title {
        display: block;
        position: relative;
        margin: 0 0 20px;
        padding: 0 0 7px;
        font-weight: 600;
        font-size: 36px;
        line-height: 44px;
        color: $bus-blue-color;
        @media (max-width: 1199px) {
            margin: 0 0 80px;
        }
        @media (max-width: 991px) {
            font-weight: 600;
            font-size: 24px;
            line-height: 29px;
            margin: 0 0 50px;
        }

        &:after {
            content: '';
            display: block;
            height: 0;
            width: 400px;
            position: absolute;
            left: -40px;
            bottom: 0;
            border-bottom: 1px solid $bus-blue-color;
            @media (max-width: 991px) {
                width: 300px;
            }
        }
    }

    &__wrap {
        display: flex;
        align-items: flex-start;
        @media (max-width: 991px) {
            flex-direction: column;
        }
    }

    &__content {
        width: 50%;
        flex-shrink: 0;
        margin-right: 20px;
        padding-top: 50px;
        @media (max-width: 1199px) {
            padding-top: 0;
            margin-right: 10px;
            width: 430px;
        }
        @media (max-width: 991px) {
            width: 100%;
            margin-right: 0;
            margin-bottom: 22px;
        }
    }

    &__image {
        flex-grow: 1;
        @media (max-width: 991px) {
            width: 100%;
        }

        img {
            width: 100%;
        }
    }

    &__line {
        display: flex;
        align-items: flex-start;
        margin-bottom: 25px;
        font-weight: 400;
        font-size: 24px;
        line-height: 29px;
        color: $bus-text-color;
        @media (max-width: 991px) {
            font-size: 19px;
            line-height: 23px;
        }
        @media (max-width: 575px) {
            font-size: 17px;
        }

        &:last-child {
            margin-bottom: 0;
        }

        &-icon {
            display: flex;
            flex-shrink: 0;
            width: 22px;
            height: 22px;
            margin-right: 20px;
            margin-top: 4px;
            position: relative;
            background-color: $bus-blue-color;
            @media (max-width: 991px) {
                margin-right: 14px;
            }

            &:after {
                content: '';
                display: block;
                width: 12.5px;
                height: 9.5px;
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                margin: auto;
                background-repeat: no-repeat;
                background-size: contain;
                background-position: center;
                background-image: url("../img/bus-case/check-white.svg");
            }
        }
    }
}

.bus-form {
    padding: 200px 0 215px;
    background-color: #ECECEC;
    position: relative;
    @media (max-width: 1199px) {
        padding: 170px 0 200px;
    }
    @media (max-width: 991px) {
        padding: 70px 40px;
    }
    @media (max-width: 767px) {
        padding: 70px 0;
    }

    &__image {
        position: absolute;
        width: 560px;
        bottom: 0;
        right: 0;
        @media (max-width: 1199px) {
            width: 490px;
            right: -80px;
        }
        @media (max-width: 991px) {
            display: none;
        }

        img {
            width: 100%;
        }
    }
}
