.case-block {
    padding: 150px 0 100px;
    background-color: $black-color;
    @media (max-width: 991px) {
        padding: 120px 0 100px;
    }
    @media (max-width: 575px) {
        padding: 100px 0 80px;
    }

    &__wrap {
        overflow: hidden;
    }
}

.case-form {
    position: relative;
    z-index: 1;

    &-icon {
        position: absolute;
        right: 0;
        top: 70px;
        width: 431px;

        img {
            width: 100%;
        }
    }

    .case-btn {
        @media (max-width: 991px) {
            width: 100%;
            max-width: 300px;
            margin: 0 auto;
        }
    }

    &__container {
        max-width: 620px;
        margin-left: 90px;
        @media (max-width: 1199px) {
            margin-left: 0;
        }
        @media (max-width: 991px) {
            max-width: none;
            width: 100%;
        }
    }

    &__wrap {
        width: 100%;
        max-width: 574px;
    }

    &__title {
        font-weight: 600;
        font-size: 24px;
        line-height: 29px;
        margin: 0 0 15px;
        @media (max-width: 991px) {
            font-size: 19px;
            line-height: 23px;
            margin: 0 0 10px;
        }
    }

    &__subtitle {
        font-weight: 300;
        font-size: 17px;
        line-height: 26px;
        margin: 0 0 38px;
        @media (max-width: 991px) {
            font-size: 15px;
            line-height: 19px;
            margin: 0 0 20px;
        }
    }

    &-group {
        margin-bottom: 28px;

        input {
            border-radius: 0;
            border: none;
            border-bottom: 1px solid #121212;
            padding: 7px 10px;
            transition: all 0.25s;
            font-weight: 300;
            font-size: 17px;
            line-height: 26px;
            color: #121212;
            background-color: transparent;
            width: 100%;
            @media (max-width: 991px) {
                font-size: 13px;
                line-height: 16px;
                padding-left: 0;
            }

            &:focus,
            &:active {
                outline: none;
                box-shadow: none;
                border-color: rgba(11, 149, 178, 1);
            }

            &::placeholder {
                color: #6F6F6F;
            }
        }
    }

    &-checkbox {
        margin: 0 0 35px;

        input {
            display: none;
        }

        &__label {
            font-weight: 400;
            font-size: 13px;
            line-height: 16px;
            color: #6F6F6F;
            display: block;
            margin: 0;
            cursor: pointer;
            padding-left: 44px;
            position: relative;
            @media (max-width: 991px) {
                padding-left: 30px;
            }
            @media (max-width: 767px) {
                font-size: 11px;
            }
            @media (max-width: 575px) {
                font-size: 9px;
                padding-left: 24px;
            }

            &:after,
            &:before {
                content: '';
                display: block;
                position: absolute;
                width: 14px;
                height: 14px;
            }

            &:before {
                top: 0;
                left: 12px;
                border: 1px solid #121212;
                @media (max-width: 991px) {
                    left: 0;
                }
                @media (max-width: 575px) {
                    top: 2px;
                }
            }

            &:after {
                width: 9px;
                height: 7px;
                top: 3px;
                left: 15px;
                transition: all 0.25s;
                opacity: 0;
                background-position: center;
                background-repeat: no-repeat;
                background-image: url("../img/fit-case/icon-check.svg");
                background-size: contain;
                @media (max-width: 991px) {
                    left: 3px;
                }
                @media (max-width: 575px) {
                    top: 5px;
                }
            }
        }

        input:checked + label:after {
            opacity: 1;
        }
    }
}

/*.case-btn {
    text-align: center;
    text-decoration: none;
    border: none;
    display: block;
    width: max-content;
    background: transparent;
    font-weight: 400;
    font-size: 17px;
    line-height: 26px;
    color: $white-color;
    padding: 15px 68px;
    transition: all 0.25s;
    overflow: hidden;
    position: relative;

    span {
        position: relative;
        z-index: 5;
        display: block;
    }

    &:focus,
    &:active {
        outline: none;
        box-shadow: none;
    }

    &:after {
        content: '';
        display: block;
        position: absolute;
        left: -50%;
        top: -50%;
        width: 200%;
        height: 200%;
        z-index: 1;
        transition: all 0.5s;
        background: linear-gradient(133.23deg, #0B95B2 9.22%, #15617C 93.5%);
    }

    &:hover {
        &:after {
            left: -100%;
            top: -100%;
        }
    }
}
*/
