.case-item {
    display: block;
    text-decoration: none;
    cursor: pointer;
    margin: 0 0 60px;
    @media (max-width: 991px) {
        margin: 0 0 50px;
    }

    $card: &;

    &:hover {
        text-decoration: none;

        #{$card}__description {
            opacity: 1;
        }
    }

    &:active,
    &:focus {
        text-decoration: none;
    }

    &__top {
        position: relative;
        margin: 0 0 15px;
        @media (max-width: 767px) {
            margin: 0 0 10px;
        }
    }

    &__image {
        height: 360px;
        display: block;
        width: 100%;
        position: relative;
        z-index: 1;
        overflow: hidden;
        @media (max-width: 991px) {
            height: 208px;
        }
        @media (max-width: 767px) {
            height: auto;
            padding-bottom: 63.2%;
        }

        img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &__description {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 2;
        opacity: 0;
        transition: all 0.25s;
        background: rgba(1, 1, 1, 0.7);
        backdrop-filter: blur(15px);
        padding: 40px 25px 0;
        @media (max-width: 1199px) {
            padding: 20px 20px 0;
        }
        @media (max-width: 991px) {
            padding: 10px 10px 0;
        }
        @media (max-width: 767px) {
            padding: 20px 20px 0;
        }
        @media (max-width: 575px) {
            display: none;
        }

        &:after {
            content: '';
            display: block;
            width: 90px;
            height: 9px;
            position: absolute;
            right: 40px;
            bottom: 40px;
            background-position: center;
            background-image: url("../img/icons/arrow-white.svg");
            background-repeat: no-repeat;
            background-size: contain;
            @media (max-width: 1199px) {
                right: 20px;
                bottom: 20px;
            }
            @media (max-width: 991px) {
                right: 25px;
                bottom: 10px;
            }
            @media (max-width: 767px) {
                right: 20px;
                bottom: 20px;
            }
        }

        &-title {
            @extend %h2;
            color: $light-gray;
            margin: 0 0 20px;
            @media (max-width: 1199px) {
                margin: 0 0 10px;
            }
            @media (max-width: 991px) {
                font-size: 20px;
                line-height: 1.3;
            }
            @media (max-width: 767px) {
                font-size: 24px;
                margin: 0 0 20px;
            }
        }

        ul {
            margin-bottom: 0;

            li {
                @extend %text-15;
                line-height: 26px;
                font-weight: 400;
                color: $white-color;
                @media (max-width: 991px) {
                    font-size: 12px;
                    font-weight: 400;
                    line-height: 1.3;
                }
                @media (max-width: 767px) {
                    font-size: 15px;
                    line-height: 1.6;
                }
            }
        }
    }

    &__title {
        @extend %h5;
        margin: 0;
        color: $black-color;
        @media (max-width: 767px) {
            font-size: 17px;
            font-weight: 600;
        }
    }

    &__subtitle {
        @extend %text-17;
        line-height: 15px;
        margin: 0;
        color: $dark-gray;
        @media (max-width: 991px) {
            font-size: 13px;
            line-height: 16px;
        }
        @media (max-width: 767px) {
            font-size: 14px;
            font-weight: 300;
        }
    }
}

.more-case {
    background-color: #F8F8F8;
    padding: 200px 0;
    @media (max-width: 1199px) {
        padding: 150px 0;
    }
    @media (max-width: 991px) {
        padding: 130px 0;
    }
    @media (max-width: 575px) {
        padding: 130px 0 80px;
    }

    .cen-btn {
        @media (max-width: 575px) {
            width: 100%;
            font-size: 14px;
        }

        &__icon {
            @media (max-width: 575px) {
                width: 30px;
                margin-left: 15px;
                svg {
                    width: 100%;
                }
            }
        }
    }

    &__title {
        @extend %h4;
        color: $black-color;
        margin: 0 0 50px;
    }

    &__row {
        display: flex;
        flex-wrap: wrap;
    }

    &__item {
        display: block;
        cursor: pointer;
        margin: 0 0 50px;
        text-decoration: none;
        $item: &;

        &:hover {
            text-decoration: none;
            #{$item}-image {
                img {
                    transform: scale(1.05);
                }
            }
        }

        &-image {
            position: relative;
            padding-bottom: 62.74%;
            overflow: hidden;
            margin: 0 0 15px;

            img {
                width: 100%;
                height: 100%;
                position: absolute;
                object-fit: cover;
                top: 0;
                left: 0;
                transition: all 0.4s;
            }
        }
        &-title {
            @extend %h4;
            color: $black-color;
            margin: 0;
        }
        &-subtitle {
            @extend %text-19;
            color: $dark-gray;
            margin: 0;
            @media (max-width: 1199px) {
                font-size: 17px;
                line-height: 1.5;
            }
            @media (max-width: 991px) {
                font-size: 16px;
            }
            @media (max-width: 991px) {
                font-size: 15px;
            }
        }
    }
}
