.contact-block {
    @media (max-width: 991px) {
        margin: 0 0 70px;
    }
    @media (max-width: 767px) {
        margin: 0 0 60px;
    }
    @media (max-width: 575px) {
        margin: 0 0 55px;
    }

    &__title {
        @extend %h4;
        color: $text-color;
        height: 88px;
        margin: 0;
        @media (max-width: 991px) {
            height: auto;
            margin: 0 0 30px;
        }
    }

    &__wrap {
        align-items: flex-start;
        @media (max-width: 991px) {
            align-items: stretch;
        }
        @media (max-width: 575px) {
            flex-wrap: wrap;
        }
    }

    &__image {
        width: 178px;
        flex-shrink: 0;
        margin-right: 20px;
        margin-top: 5px;
        @media (max-width: 1199px) {
            width: 137px;
        }
        @media (max-width: 991px) {
            width: 214px;
        }
        @media (max-width: 767px) {
            width: 197px;
        }
        @media (max-width: 575px) {
            width: 105px;
        }

        img {
            width: 100%;
        }
    }

    &__content {
        flex-grow: 1;
        @media (max-width: 991px) {
            display: flex;
            flex-direction: column;
        }
        @media (max-width: 575px) {
            width: calc(100% - 135px);
        }
    }

    &__mob-info {
        @media (max-width: 575px) {
            margin-top: 25px;
        }
    }

    &__name {
        @extend %h4;
        margin: 0 0 5px;
        @media (max-width: 575px) {
            margin: 0;
        }
    }

    &__position {
        @extend %text-17;
        color: $light-gray;
        margin: 0 0 45px;
        @media (max-width: 991px) {
            margin: 0 0 25px;
            font-size: 15px;
            line-height: 26px;
        }
    }

    &__line {
        display: flex;
        align-items: flex-start;
        margin: 0 0 10px;
        @media (max-width: 991px) {
            margin: 0 0 15px;
        }

        &-icon {
            display: block;
            flex-shrink: 0;
            width: 19px;
            height: 19px;
            margin-right: 14px;

            svg {
                width: 100%;
            }
        }

        a, p {
            @extend %text-17;
            font-weight: 300;
            color: $text-color;
            margin-bottom: 0;
            @media (max-width: 991px) {
                font-size: 15px;
                line-height: 19px;
            }
        }

        br {
            @media (max-width: 991px) {
                display: none;
            }
            @media (max-width: 767px) {
                display: block;
            }
        }

        a {
            text-decoration: none;
            transition: all 0.4s ease-in;

            &:hover {
                text-decoration: underline;
                color: $text-color;
            }
        }
    }

    .soc-list {
        margin-top: 30px;
        margin-left: 44px;
        @media (max-width: 991px) {
            margin-left: 0;
            margin-top: auto;
        }
    }
}
