$fit-green-color: #136F4F;
$fit-white-color: #ffffff;
$fit-text-color: #121212;

.fit-container {
    width: 100%;
    padding: 0 40px;
    @media (max-width: 991px) {
        padding: 0 10px;
    }
    @media (max-width: 575px) {
        padding: 0 20px;
    }
}

.fit-head {
    width: 100%;
    max-width: 620px;

    &__number {
        font-weight: 400;
        font-size: 62px;
        line-height: 75px;
        margin: 0 0 14px;
        color: $fit-green-color;
        padding: 0;
        @media (max-width: 991px) {
            font-size: 24px;
            line-height: 29px;
            margin: 0 0 10px;
        }
    }

    &__title {
        font-weight: 600;
        font-size: 24px;
        line-height: 29px;
        margin: 0;
        padding: 0;
        @media (max-width: 991px) {
            font-weight: 400;
            font-size: 19px;
            line-height: 26px;
        }
    }

    &__subtitle {
        font-weight: 300;
        font-size: 17px;
        line-height: 26px;
        margin: 15px 0 0;
        padding: 0;
    }
}

.fit-goal {
    padding-bottom: 150px;
    background-color: $white-color;
    @media (max-width: 991px) {
        padding-bottom: 120px;
    }

    @media (max-width: 575px) {
        padding-bottom: 100px;
    }

    $goal: &;

    &__bg {
        width: 100%;
        height: 448px;
        position: relative;
        overflow: hidden;
        margin-top: -150px;
        z-index: 2;
        @media (max-width: 991px) {
            height: 280px;
            margin-top: -120px;
        }
        @media (max-width: 767px) {
            height: 193px;
            margin-top: -60px;
        }
        @media (max-width: 575px) {
            margin-top: -55px;
        }

        &-text {
            width: 350px;
            margin: 170px 20px auto auto;
            font-weight: 300;
            font-size: 15px;
            line-height: 22px;
            font-style: italic;
            color: $text-color;
            position: relative;
            z-index: 3;
            @media (max-width: 991px) {
                width: 265px;
                margin: 100px 10px auto auto;
            }
            @media (max-width: 767px) {
                width: 230px;
            }

            @media (max-width: 575px) {
                width: 211px;
                margin: 100px 20px auto auto;
            }

            &:after {
                content: '';
                display: block;
                width: 113.11px;
                height: 17.63px;
                top: -40px;
                left: -20px;
                position: absolute;
                background-repeat: no-repeat;
                background-position: center;
                background-size: contain;
                background-image: url("../img/fit-case/wave.svg");
                @media (max-width: 991px) {
                    width: 70.59px;
                    height: 11px;
                    top: -20px;
                }
            }
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            position: absolute;
            top: 0;
            left: 0;
        }
    }

    &__content {
        @media (max-width: 767px) {
            padding-top: 30px;
        }
        @media (max-width: 575px) {
            padding-top: 70px;
        }
    }

    &__wrap {
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        padding: 0 80px;
        @media (max-width: 1199px) {
            padding: 0 40px;
        }
        @media (max-width: 991px) {
            flex-direction: column;
            padding: 0;
        }
    }

    &__col {
        width: 45%;
        flex-shrink: 0;
        @media (max-width: 991px) {
            width: 100%;
        }

        ul {
            margin-bottom: 0;

            li {
                font-weight: 300;
                font-size: 17px;
                line-height: 26px;
                margin: 0 0 5px;
            }
        }

        &.col1 {
            @media (max-width: 991px) {
                margin-bottom: 55px;
            }

            #{$goal}__title {
                &:before {
                    width: 33.85px;
                    height: 186px;
                    left: -40px;
                    top: -155px;
                    background-image: url("../img/fit-case/line1.svg");
                    @media (max-width: 991px) {
                        width: 70px;
                        height: 8px;
                        background-image: url("../img/fit-case/line3.svg");
                        top: -15px;
                        left: -10px;
                    }
                    @media (max-width: 575px) {
                        left: -20px;
                    }
                }
            }
        }

        &.col2 {
            #{$goal}__title {
                &:before {
                    width: 37px;
                    height: 285px;
                    left: -40px;
                    top: -250px;
                    background-image: url("../img/fit-case/line2.svg");
                    @media (max-width: 991px) {
                        width: 70px;
                        height: 8px;
                        background-image: url("../img/fit-case/line3.svg");
                        top: -15px;
                        left: -10px;
                    }
                    @media (max-width: 575px) {
                        left: -20px;
                    }
                }
            }
        }
    }

    &__title {
        font-weight: 600;
        font-size: 24px;
        line-height: 29px;
        color: $fit-green-color;
        margin: 0 0 14px;
        position: relative;
        @media (max-width: 991px) {
            font-size: 19px;
            line-height: 23px;
        }

        &:before {
            content: '';
            display: block;
            position: absolute;
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
        }
    }
}

.fit-header {
    &__main {
        position: relative;

        &-bg {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            overflow: hidden;

            img {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        &-icon {
            width: 200px;
            height: 229px;
            position: absolute;
            bottom: 18px;
            right: 50%;
            z-index: 2;
            @media (max-width: 991px) {
                width: 63.83px;
                height: 73.08px;
                right: 0;
                left: 0;
                bottom: 78px;
                margin: auto;
            }
            @media (max-width: 767px) {
                bottom: 25px;
            }
            @media (max-width: 575px) {
                bottom: 10px;
            }

            img {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }

        &-content {
            position: relative;
            z-index: 2;
            padding: 140px 0 190px;
            @media (max-width: 991px) {
                padding: 55px 0 140px 50px;
            }
            @media (max-width: 767px) {
                padding: 25px 0 80px 40px;
            }
            @media (max-width: 575px) {
                padding: 25px 0 60px 0;
            }
        }

        &-type {
            font-weight: 400;
            font-size: 19px;
            line-height: 23px;
            letter-spacing: 0.03em;
            color: $white-color;
            margin: 0;
            @media (max-width: 991px) {
                font-size: 11px;
                line-height: 16px;
            }
        }

        &-title {
            font-weight: 600;
            font-size: 62px;
            line-height: 83px;
            color: $white-color;
            margin: 0;
            @media (max-width: 991px) {
                font-size: 24px;
                line-height: 29px;
            }
            @media (max-width: 767px) {
                width: 150px;
            }
        }
    }
}

.fit-work {
    background-color: $fit-green-color;
    position: relative;
    z-index: 3;

    &:after,
    &:before {
        content: '';
        display: block;
        position: absolute;
        z-index: 2;
        left: 10px;
        background-repeat: no-repeat;
        background-position: top center;
        background-size: 100% auto;
        background-image: url("../img/fit-case/info-dots1.svg");
        width: 46.35px;
        height: 77.46px;
        @media (max-width: 575px) {
            width: 40px;
            height: 70px;
        }
    }

    &:before {
        top: -60px;
        @media (max-width: 575px) {
            top: -40px;
        }
    }

    &:after {
        bottom: -40px;
    }

    &__icon {
        position: absolute;
        right: 0;
        bottom: -120px;
        z-index: 2;
        width: 122px;
        @media (max-width: 767px) {
            bottom: -80px;
        }

        img {
            width: 100%;
        }
    }

    &__wrap {
        position: relative;
    }

    &__img {
        position: absolute;
        left: 0;
        width: 483px;
        top: -55px;
        @media (max-width: 1199px) {
            left: -90px;
        }
        @media (max-width: 991px) {
            width: 238px;
            top: -60px;
            left: 30px;
        }

        img {
            width: 100%;
        }
    }

    &__text {
        padding: 35px 60px 45px 0;
        color: $fit-white-color;
        margin-left: 480px;
        @media (max-width: 1199px) {
            margin-left: 400px;
        }
        @media (max-width: 991px) {
            margin-left: 0;
            padding: 110px 0 80px;
        }

        &-title {
            font-weight: 600;
            font-size: 24px;
            line-height: 29px;
            margin: 0 0 25px;
        }

        ul {
            margin: 0 0 0 25px;

            li {
                font-weight: 400;
                font-size: 19px;
                line-height: 26px;
                margin-bottom: 10px;
                @media (max-width: 991px) {
                    font-size: 17px;
                }

                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
    }
}

.fit-visual {
    background-color: #F4F4F4;
    padding: 100px 0 120px;
    @media (max-width: 991px) {
        padding: 115px 0 80px;
    }
    @media (max-width: 575px) {
        padding: 100px 0 80px;
    }

    &__wrap {
        display: flex;
        align-items: center;
        justify-content: space-between;
        @media (max-width: 991px) {
            align-items: flex-start;
            flex-direction: column;
        }
    }

    &__img {
        width: 550px;
        flex-shrink: 0;
        margin-left: 50px;
        position: relative;

        @media (max-width: 1199px) {
            width: 480px;
            margin-left: 15px;
        }
        @media (max-width: 991px) {
            width: 100%;
            max-width: 320px;
            margin: 56px auto 0;
        }

        img {
            width: 100%;
            position: relative;
            z-index: 1;
        }

        &:after {
            content: '';
            display: block;
            position: absolute;
            z-index: 2;
            width: 93px;
            height: 93px;
            right: 126px;
            top: -45px;
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;
            background-image: url("../img/fit-case/circle-icon.svg");
            @media (max-width: 991px) {
                width: 64px;
                height: 64px;
                right: 66px;
                top: -30px;
            }
        }
    }
}

/*block design*/
.fit-design {
    padding: 43px 0 14px;
    position: relative;
    z-index: 3;
    background-color: #DCE6E8;
    @media (max-width: 991px) {

    }

    &__icon {
        position: absolute;
        z-index: 3;

        img {
            width: 100%;
        }

        &.icon1 {
            width: 73.41px;
            height: 116.47px;
            right: 40px;
            top: -55px;
            @media (max-width: 991px) {
                width: 41.87px;
                height: 69.25px;
                top: -35px;
            }
            @media (max-width: 575px) {
                right: -10px;
            }
        }

        &.icon2 {
            height: 73.08px;
            width: 117px;
            left: 20px;
            bottom: -20px;
            @media (max-width: 991px) {
                height: 41.87px;
                width: 69.25px;
            }
            @media (max-width: 575px) {
                left: -10px;
            }
        }
    }

    .fit-container {
        position: relative;
        z-index: 2;
    }

    &__image {
        width: 100%;
        margin-top: -100px;
        position: relative;
        z-index: 1;
        @media (max-width: 1199px) {
            margin-top: -90px;
        }
        @media (max-width: 991px) {
            margin-top: -50px;
        }
        @media (max-width: 575px) {
            margin-top: -30px;
        }

        img {
            width: 100%;
        }
    }
}

/*end block design*/


/*block structure*/
.fit-structure {
    position: relative;
    background-color: #F4F4F4;
    padding-top: 100px;
    margin-bottom: -80px;
    z-index: 2;
    @media (max-width: 991px) {
        margin-bottom: 0;
    }

    &__bg {
        width: 100%;

        img {
            width: 100%;
            @media (max-width: 767px) {
                width: 120%;
                margin-left: -20%;
                max-width: none;
            }
        }
    }

    &__content {
        position: absolute;
        z-index: 2;
        left: 0;
        top: 100px;
        @media (max-width: 991px) {
            position: relative;
            top: 0;
        }
        @media (max-width: 575px) {
            br {
                display: none;
            }
        }
    }
}

/*end block structure*/


/*block mob*/
.fit-mob {
    position: relative;
    background-color: #F4F4F4;
    z-index: 1;
    @media (max-width: 1199px) {
        padding-top: 100px;
    }

    &__bg {
        width: 100%;

        img {
            width: 100%;
            @media (max-width: 767px) {
                width: 120%;
                margin-left: -20%;
                max-width: none;
            }
            @media (max-width: 575px) {
                width: 140%;
                margin-left: -40%;
            }
        }
    }

    &__content {
        position: absolute;
        z-index: 2;
        left: 0;
        top: 190px;
        @media (max-width: 991px) {
            position: relative;
            top: 0;
            margin-bottom: -120px;
        }
        @media (max-width: 767px) {
            margin-bottom: -100px;
            br {
                display: none;
            }
        }
        @media (max-width: 575px) {
            margin-bottom: -60px;
        }
    }
}

/*end block mob*/


/*block info*/
.fit-info {
    padding: 211px 0 360px;
    position: relative;
    z-index: 1;
    background-color: #F4F4F4;
    @media (max-width: 1199px) {
        padding: 100px 0 200px;
    }
    @media (max-width: 575px) {
        padding-bottom: 180px;
    }

    .fit-head {
        margin: 0 0 106px;
        @media (max-width: 991px) {
            margin: 0 0 70px;
        }
        @media (max-width: 575px) {
            margin: 0 0 40px;
        }
    }

    &__icon {
        position: absolute;
        @media (max-width: 991px) {
            display: none;
        }

        &.icon1 {
            top: 0;
            right: 0;
            width: 400px;
            @media (max-width: 1199px) {
                right: -250px;
            }
        }

        &.icon2 {
            left: 0;
            bottom: 140px;
            width: 255px;
            @media (max-width: 1199px) {
                width: 200px;
            }
        }

        img {
            width: 100%;
        }
    }

    &__block {
        width: 670px;
        margin-bottom: 112px;
        @media (max-width: 991px) {
            width: 100%;
            margin-bottom: 60px;
        }

        &.block-right {
            margin-left: auto;
            margin-bottom: 0;
        }

        &-title {
            font-weight: 400;
            font-size: 19px;
            line-height: 23px;
            margin: 0 0 17px;
            color: $fit-text-color;
            @media (max-width: 991px) {
                font-size: 15px;
                line-height: 19px;
                margin: 0 0 15px;
            }
        }

        &-image {
            width: 100%;
            position: relative;
            @media (max-width: 991px) {
                width: calc(100% + 20px);
                margin-left: -10px;
            }
            @media (max-width: 575px) {
                width: calc(100% + 40px);
                margin-left: -20px;
            }

            img {
                width: 100%;
                position: relative;
                z-index: 1;
            }
        }

        &-icon {
            position: absolute;
            z-index: 2;

            img {
                width: 100%;
                height: 100%;
            }

            &.icon1 {
                width: 50px;
                height: 78px;
                right: 60px;
                top: -60px;
                @media (max-width: 991px) {
                    width: 40px;
                    height: 70px;
                    right: 0;
                }
            }

            &.icon2 {
                width: 79px;
                height: 49px;
                left: -50px;
                top: 8px;
            }
        }
    }
}

/*end block info*/


/*block result*/
.fit-result {
    background-color: $fit-green-color;
    position: relative;
    z-index: 2;

    &__image {
        position: absolute;
        width: 730px;
        right: 0;
        bottom: -100px;
        @media (max-width: 1199px) {
            width: 628px;
            bottom: -65px;
        }
        @media (max-width: 991px) {
            position: relative;
            width: 100%;
            max-width: 628px;
            margin: 0 auto 0;
            bottom: 0;
        }

        img {
            width: 100%;
            @media (max-width: 991px) {
                margin-top: -190px;
            }
            @media (max-width: 767px) {
                margin-top: -160px;
            }
            @media (max-width: 575px) {
                margin-top: -40%;
                width: 110%;
                margin-left: -5%;
            }
        }
    }

    &__title {
        font-weight: 600;
        font-size: 24px;
        line-height: 29px;
        margin: 0 0 25px;
        @media (max-width: 991px) {
            font-size: 19px;
            line-height: 23px;
            margin: 0 0 15px;
        }
    }

    &__content {
        color: $white-color;
        padding: 46px 0 58px;
        width: 100%;
        max-width: 384px;
        margin-left: 90px;
        @media (max-width: 1199px) {
            margin-left: 0;
        }
        @media (max-width: 991px) {
            width: 100%;
            padding: 0 0 90px;
            max-width: none;
        }
        @media (max-width: 767px) {
            padding: 0 0 50px;
        }
        @media (max-width: 767px) {
            padding: 0 0 40px;
        }

        ul {
            margin: 0;
            padding-left: 25px;

            li {
                font-weight: 400;
                font-size: 19px;
                line-height: 26px;
                margin: 0 0 10px;
                @media (max-width: 991px) {
                    font-size: 17px;
                    line-height: 23px;
                    br {
                        display: none;
                    }
                }

                &:last-child {
                    margin: 0;
                }
            }
        }
    }
}

/*end block result*/


/*block form*/
.fit-form {
    padding: 235px 0 180px;
    background-color: #DCE6E8;
    position: relative;
    z-index: 1;
    @media (max-width: 1199px) {
        padding: 170px 0 200px;
    }
    @media (max-width: 991px) {
        padding: 70px 40px;
    }
    @media (max-width: 767px) {
        padding: 70px 0;
    }

    &-icon {
        position: absolute;
        right: 0;
        top: 70px;
        width: 431px;
        @media (max-width: 991px) {
            display: none;
        }

        img {
            width: 100%;
        }
    }
}

/*end block form*/


