$lin-pink-color: #E67A78;
$lin-text-color: #121212;
$lin-bg-color: #F8F8F8;

.lin-container {
    width: 100%;
    padding: 0 40px;
    @media (max-width: 991px) {
        padding: 0 10px;
    }
    @media (max-width: 575px) {
        padding: 0 20px;
    }
}

.lin-title {
    position: relative;
    width: 559px;
    height: 73px;
    font-weight: 600;
    font-size: 36px;
    line-height: 44px;
    padding: 15px 0 0 90px;
    color: $lin-pink-color;
    margin-bottom: 85px;
    display: flex;
    align-items: center;
    @media (max-width: 991px) {
        width: 310px;
        padding-left: 0;
        font-size: 24px;
        margin-bottom: 50px;
    }
    @media (max-width: 575px) {
        width: 280px;
    }

    span {
        position: relative;
        z-index: 3;
    }

    &:after,
    &:before {
        content: '';
        display: block;
        width: 100%;
        height: 100%;
        position: absolute;
        border-radius: 0px 40px 0px 0px;
    }

    &:before {
        top: 0;
        left: -40px;
        background: #E6E3DE;
        z-index: 2;
    }

    &:after {
        border: 1px solid $lin-pink-color;
        left: -30px;
        top: 10px;
        z-index: 1;
    }
}

.lin-banner {
    padding: 40px 0;
    background-color: #E6E3DE;
    @media (max-width: 991px) {
        padding: 30px 0 60px;
    }

    &__wrap {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 60px 0 80px;
        @media (max-width: 1199px) {
            padding: 0 5px;
        }
        @media (max-width: 575px) {
            flex-direction: column;
            align-items: flex-start;
        }
    }

    &__content {
        width: 500px;
        @media (max-width: 1199px) {
            max-width: 450px;
            width: 100%;
        }
    }

    &__top {
        font-weight: 400;
        font-size: 19px;
        line-height: 23px;
        letter-spacing: 0.03em;
        color: $lin-pink-color;
        @media (max-width: 991px) {
            font-size: 11px;
            line-height: 16px;
            margin: 0 0 5px;
        }
    }

    &__title {
        font-weight: 400;
        font-size: 62px;
        line-height: 75px;
        color: $lin-text-color;
        opacity: 0.7;
        margin: 0 0 40px;
        @media (max-width: 991px) {
            font-weight: 600;
            font-size: 24px;
            line-height: 29px;
            margin: 0 0 22px;
        }
    }

    &__subtitle {
        font-weight: 300;
        font-size: 17px;
        line-height: 26px;
        color: $lin-text-color;
        opacity: 0.7;
        margin: 0;
    }

    &__image {
        width: 340px;
        flex-shrink: 0;
        @media (max-width: 991px) {
            width: 100%;
            max-width: 270px;
        }
        @media (max-width: 767px) {
            margin-bottom: 50px;
        }

        img {
            width: 100%;
        }
    }
}

.lin-info {
    background-color: $lin-bg-color;
    padding: 80px 0;
    @media (max-width: 991px) {
        padding: 60px 0 40px;
    }

    &__block {
        position: relative;
        padding-left: 92px;
        @media (max-width: 991px) {
            padding-left: 0;
            padding-top: 10px;
            margin-bottom: 40px;
        }

        &:after {
            content: '';
            display: block;
            position: absolute;
            top: 10px;
            left: 0;
            width: 72px;
            height: 12px;
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center;
            background-image: url("../img/lingerie-case/arrow-pink.svg");

            @media (max-width: 991px) {
                top: 0px;
                left: -10px;
            }
            @media (max-width: 575px) {
                left: -20px;
            }
        }

        p {
            font-weight: 300;
            font-size: 17px;
            line-height: 26px;
            color: $lin-text-color;
            margin: 0;
        }

        ul {
            margin-bottom: 0;

            li {
                font-weight: 300;
                font-size: 17px;
                line-height: 26px;
                color: $lin-text-color;
                margin-bottom: 10px;

                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
    }

    &__title {
        font-weight: 600;
        font-size: 24px;
        line-height: 29px;
        color: $lin-pink-color;
        margin: 0 0 4px;
        @media (max-width: 767px) {
            margin: 0 0 10px;
        }
    }
}

.lin-work {
    background-color: $lin-bg-color;
    padding: 0 0 10px;

    &__block {
        margin-bottom: 60px;
    }

    &__number {
        font-weight: 200;
        font-size: 62px;
        line-height: 75px;
        margin: 0 0 15px;
        color: $lin-pink-color;
        @media (max-width: 991px) {
            margin: 0 0 10px;
        }
    }

    &__title {
        font-weight: 600;
        font-size: 24px;
        line-height: 29px;
        margin: 0 0 15px;
        color: $lin-text-color;
        @media (max-width: 991px) {
            font-size: 19px;
            line-height: 23px;
        }
    }

    &__list {
        margin: 0;
        padding-left: 30px;
        @media (max-width: 767px) {
            padding-left: 25px;
        }

        li {
            font-weight: 300;
            font-size: 17px;
            line-height: 26px;
            margin: 0 0 10px;
            color: $lin-text-color;

            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}

.lin-result {
    position: relative;
    background-color: $lin-bg-color;
    padding: 70px 0 170px;

    @media (max-width: 991px) {
        padding: 40px 0 200px;
    }
    @media (max-width: 767px) {
        padding: 40px 0 95px;
    }

    &__wrap {
        width: 500px;
        margin-left: 90px;
        @media (max-width: 1199px) {
            margin-left: 0;
        }
        @media (max-width: 991px) {
            width: 365px;
        }
        @media (max-width: 575px) {
            width: 100%;
            max-width: 320px;
        }
    }

    &__image {
        position: absolute;
        width: 330px;
        top: 0;
        right: 130px;
        @media (max-width: 1199px) {
            right: 30px;
        }
        @media (max-width: 991px) {
            width: 300px;
            right: 10px;
        }
        @media (max-width: 767px) {
            width: 160px;
            top: 145px;
        }
        @media (max-width: 575px) {
            width: 160px;
            top: 220px;
            right: 0;
        }

        img {
            width: 100%;
        }
    }

    &__list {
        list-style: none;
        margin: 0;

        li {
            display: flex;
            align-items: flex-start;
            font-weight: 600;
            font-size: 24px;
            line-height: 29px;
            color: $lin-text-color;
            margin-bottom: 25px;
            @media (max-width: 991px) {
                font-size: 19px;
                line-height: 23px;
                margin-bottom: 20px;
            }
            @media (max-width: 575px) {
                font-size: 17px;
            }

            &:last-child {
                margin-bottom: 0;
            }

            &:nth-child(2) {
                @media (max-width: 575px) {
                    width: 230px;
                }
            }

            &:nth-child(3) {
                @media (max-width: 575px) {
                    width: 160px;
                }
            }

            &:nth-child(4) {
                @media (max-width: 575px) {
                    width: 160px;
                }
            }

            &:nth-child(5) {
                @media (max-width: 575px) {
                    width: 160px;
                }
            }

            &:before {
                content: '';
                display: block;
                flex-shrink: 0;
                margin-right: 20px;
                width: 72px;
                height: 12px;
                background-repeat: no-repeat;
                background-size: contain;
                background-position: center;
                background-image: url("../img/lingerie-case/arrow-pink.svg");
                margin-top: 5px;
                @media (max-width: 991px) {
                    background-size: 26px 12px;
                    background-position: center right;
                    width: 26px;
                    margin-left: -10px;
                    margin-right: 10px;
                }
                @media (max-width: 575px) {
                    margin-left: -20px;
                    width: 20px;
                }
            }
        }
    }

    &__image {
    }
}


.lin-form {
    padding: 200px 0 215px;
    background-color: #E6E3DE;
    position: relative;
    @media (max-width: 1199px) {
        padding: 170px 0 200px;
    }
    @media (max-width: 991px) {
        padding: 70px 40px;
    }
    @media (max-width: 767px) {
        padding: 70px 0;
    }

    &__image {
        position: absolute;
        width: 236px;
        height: 100%;
        top: 0;
        bottom: 0;
        right: 0;
        margin: auto;
        background-color: #D6D3CE;
        border-radius: 430px 0px 0px 0px;
        overflow: hidden;
        @media (max-width: 991px) {
            display: none;
        }

        img {
            position: absolute;
            top: 0;
            left: 0;
            object-fit: cover;
            height: 100%;
            width: 100%;
        }
    }
}
