.main-banner {
    height: auto;
    min-height: 100vh;
    position: relative;
    background-color: $black-color;
    display: flex;
    align-items: center;
    justify-content: center;
    @media (max-width: 767px) {
        flex-direction: column;
        align-items: stretch;
        justify-content: flex-start;
    }

    &__bg {
        position: absolute;
        width: 100%;
        height: 100%;
        overflow: hidden;
        z-index: 1;

        img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
            @media (max-width: 575px) {
                //height: 630px;
                //width: 960px;
                //top: 0;
                //left: -490px;
                width: 320%;
                height: auto;
                top: 0;
                left: -150%;
                object-fit: contain;
                max-width: none;
            }
        }
    }

    &__content {
        height: 100%;
        width: 100%;
        position: relative;
        z-index: 2;
        padding-bottom: 100px;
        padding-top: 100px;
        @media (max-width: 767px) {
            padding: 130px 0 70px;
            flex-grow: 1;
        }
        @media (max-width: 575px) {
            display: flex;
            flex-direction: column;
            .container {
                display: flex;
                flex-direction: column;
                flex-grow: 1;
            }
        }

        .container {
            @media (max-width: 575px) {
                display: flex;
                flex-direction: column;
            }

            div:first-child {
                @media (max-width: 575px) {
                    margin-top: auto;
                    margin-bottom: auto;
                }
            }
        }


        .cen-btn {
            @media (max-width: 575px) {
                margin-top: auto;
                width: 100%;
                max-width: 320px;
                margin-left: auto;
                margin-right: auto;
                padding-left: 20px;
                padding-right: 20px;
            }
        }
    }

    &__title {
        color: $white-color;
        font-weight: 200;
        font-size: 62px;
        line-height: 1.34;
        margin: 0 0 10px;
        @media (max-width: 991px) {
            font-size: 24px;
            line-height: 1.25;
            margin: 0 0 20px;
            max-width: 380px;
        }
        @media (max-width: 991px) {
            margin: 0 0 50px;
        }
        @media (max-width: 767px) {
            margin: 0 0 40px;
        }
        @media (max-width: 575px) {
            max-width: none;
            font-size: get-sm(38px);
        }
        @media (max-width: 480px) {
            font-size: get-sm(45px);
        }
        span {
            font-weight: 600;
            text-transform: uppercase;
        }
    }

    &__subtitle {
        @extend %text-17;
        color: $light-gray;
        margin: 0 0 60px;
        @media (max-width: 991px) {
            margin: 0 0 50px;
        }
        @media (max-width: 767px) {
            font-size: 15px;
            line-height: 19px;
        }

        p {
            display: none;
            @media (max-width: 991px) {
                display: block;
            }
        }
    }
}
