.services {
    background-color: $black-color;
    padding: 90px 0 150px;
    @media (max-width: 991px) {
        padding: 90px 0 100px;
    }

    &__title {
        @extend %h2;
        margin: 0 0 17px;
        color: $white-color;
    }

    &__subtitle {
        @extend %text-19;
        margin: 0 0 65px;
        color: $light-gray;

        @media (max-width: 991px) {
            margin: 0 0 30px;
            font-size: 17px;
            line-height: 26px;
        }
        @media (max-width: 575px) {
            font-size: 16px;
            line-height: 24px;
        }
    }

    &__wrap {
        position: relative;
        padding-bottom: 60px;
        @media (max-width: 991px) {
            padding-bottom: 30px;
        }

        .swiper {
            width: 100%;
            height: 720px;
            @media (max-width: 1199px) {
                height: 620px;
            }
            @media (max-width: 991px) {
                height: 340px;
            }
        }

        .swiper-wrapper {
            flex-wrap: wrap;
            flex-direction: column;
            /*@media (max-width: 991px) {
                flex-wrap: nowrap;
                flex-direction: row;
            }*/
        }

        .swiper-slide {
            height: 350px;
            @media (max-width: 1199px) {
                height: 300px;
            }
            @media (max-width: 991px) {
                height: 340px;
                margin-top: 0 !important;
            }
            @media (max-width: 767px) {
                height: 270px;
            }
            @media (max-width: 575px) {
                height: 340px;
            }
        }
    }

    &__card {
        padding: 30px 25px 25px;
        background: $light-gray-opacity2;
        color: $light-gray;
        height: 100%;

        &-title {
            @extend %h4;
            margin: 0 0 20px;
            opacity: 0.75;
            color: $white-color;
        }

        &-text {
            ul {
                margin: 0 0 0 20px;

                li {
                    @extend %text-17;
                    font-weight: 300;
                    margin: 0 0 2px;
                    @media (max-width: 991px) {
                        font-size: 15px;
                        line-height: 26px;
                    }
                    @media (max-width: 575px) {
                        font-size: 14px;
                        line-height: 24px;
                    }

                    &:last-child {
                        margin-bottom: 0;
                    }
                }
            }
        }
    }

    &__nav {
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        left: 0;
        width: 100%;
        bottom: 0;
    }

    &__pagination {
        margin: 0 28px;
    }
    .swiper-pagination {
        @media (max-width: 991px) {
            display: none;
        }

        &-bullet {
            background-color: $dark-gray;
        }

        &-bullet-active {
            background-color: $white-color;
        }
    }

    &__next,
    &__prev {
        svg {
            path {
                fill: $white-color !important;
            }
        }
    }
    &__next {
        @media (max-width: 991px) {
            margin-left: 20px;
        }
    }
    &__prev {
        @media (max-width: 991px) {
            margin-right: 20px;
        }
    }
}
