.cases {
    padding: 50px 0 150px;
    background-color: #F1F1F1;

    @media (max-width: 1199px) {
        padding: 50px 0 100px;
    }

    @media (max-width: 991px) {
        padding: 50px 0 150px;
    }

    &__title {
        @extend %h2;
        margin: 0 0 70px;

        @media (max-width: 1199px) {
            margin: 0 0 60px;
        }

        @media (max-width: 991px) {
            margin: 0 0 30px;
        }
    }

    &__wrap {
        @media (max-width: 767px) {
            display: block;
        }
    }

    &__item {
        display: block;
        position: relative;
        overflow: hidden;
        margin-bottom: 20px;
        $card: &;

        @media (max-width: 767px) {
            margin-bottom: 20px;
        }

        &:hover {
            @media (min-width: 992px) {
                #{$card}-content {
                    opacity: 1;
                    visibility: visible;
                }
                #{$card}-image {
                    img {
                        transform: scale(1.05);
                    }
                }
            }
        }

        &-image {
            position: absolute;
            width: 100%;
            height: 100%;
            overflow: hidden;
            top: 0;
            left: 0;
            z-index: 1;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                position: absolute;
                top: 0;
                left: 0;
                transition: all 0.5s;
                transform: scale(1);
            }
        }

        &-content {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            z-index: 2;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            background: rgba(1, 1, 1, 0.7);
            backdrop-filter: blur(15px);
            opacity: 0;
            visibility: hidden;
            transition: all 0.5s ease-in;
            padding: 20px;
        }
        &-title {
            @extend %h4;
            font-weight: 500;
            color: $white-color;
            text-align: center;
            margin: 0 0 20px;
        }

        &-arrow {
            width: 60px;
            @media (max-width: 767px) {
                margin-bottom: 20px;
            }
            svg {
                width: 100%;
                height: auto;
                path {
                    fill: $white-color;
                }
            }
        }

        &.case_min {
            height: 207px;
            @media (max-width: 1199px) {
                height: 250px;
            }
            @media (max-width: 991px) {
                height: 180px;
            }
            @media (max-width: 767px) {
                height: auto;
                padding-bottom: 55.6%;
            }
        }

        &.case_high {
            height: 470px;
            @media (max-width: 1199px) {
                height: 530px;
            }
            @media (max-width: 991px) {
                height: 380px;
            }
            @media (max-width: 767px) {
                height: auto;
                padding-bottom: 122.6%;
            }
        }

        &.case_long {
            height: 333px;
            @media (max-width: 1199px) {
                height: 400px;
            }
            @media (max-width: 991px) {
                height: 350px;
            }
            @media (max-width: 767px) {
                height: auto;
                padding-bottom: 55.6%;

                img {
                    object-position: 20% 50%;
                }
            }

            #{$card}-arrow {
                width: 120px;
                @media (max-width: 991px) {
                    width: 60px;
                }
            }
        }

        &.case_btn {
            height: 70px;
            @media (max-width: 1199px) {
                grid-column-end: span 2;
            }
        }
    }

    &__btn {
        @media (max-width: 1199px) {
            margin-top: 25px;
            display: flex;
            justify-content: flex-end;
        }
        @media (max-width: 991px) {
            margin-top: 20px;
            justify-content: center;
        }
        @media (max-width: 575px) {
            .cen-btn {
                width: 100%;
            }
        }
    }
}
