.main-info {
    padding: 150px 0 100px;
    background-color: #F1F1F1;
    @media (max-width: 1199px) {
        padding: 150px 0 75px;
    }

    @media (max-width: 1199px) {
        padding: 150px 0 100px;
    }

    @media (max-width: 991px) {
        padding: 100px 0 50px;
    }

    &__title {
        @extend %h2;
        margin: 0 0 70px;

        @media (max-width: 991px) {
            margin: 0 0 30px;
        }

        @media (max-width: 575px) {
            margin: 0 0 20px;
        }
    }

    &__text {
        @media (max-width: 1199px) {
            padding-right: 40px;
        }

        @media (max-width: 991px) {
            margin: 0 0 30px;
            padding: 0;
        }

        @media (max-width: 575px) {
            margin: 0 0 20px;
        }

        p {
            @extend %text-19;
            color: $dark-gray;
            margin: 0 0 20px;

            @media (max-width: 991px) {
                font-size: 17px;
                line-height: 26px;
            }

            @media (max-width: 575px) {
                font-size: 16px;
                line-height: 24px;
            }

            &:last-child {
                margin: 0;
            }
        }
    }

    &__stat {
        flex-wrap: wrap;
        padding-left: 40px;
        margin-top: 10px;
        @media (max-width: 1199px) {
            padding-left: 0;
            margin-top: -5px;
        }

        &-item {
            width: 200px;
            margin-bottom: 30px;
            margin-right: 40px;

            @media (max-width: 991px) {
                display: flex;
                align-items: center;
                width: 50%;
                margin-right: 0;
                padding-right: 10px;
            }
            @media (max-width: 767px) {
                padding-right: 20px;
                width: 45%;
            }
            @media (max-width: 575px) {
                width: 100%;
                padding: 0;
                margin-bottom: 20px;
            }

            &:nth-child(2n) {
                margin-right: 0;
                @media (max-width: 991px) {
                    padding-left: 10px;
                    padding-right: 0;
                }
                @media (max-width: 767px) {
                    width: 55%;
                    padding-left: 0;
                }
                @media (max-width: 575px) {
                    width: 100%;
                    padding: 0;
                }
            }
        }

        &-number-wrap {
            overflow: hidden;
        }

        &-number {
            display: flex;
            align-items: flex-end;
            @media (max-width: 991px) {
                margin-right: 15px;
            }
            @media (max-width: 575px) {
                width: 120px;
                margin-right: 0;
                flex-shrink: 0;
            }

            span {
                display: block;
                flex-shrink: 0;
                font-weight: 600;
                font-size: 72px;
                line-height: 87px;
                background: linear-gradient(133.23deg, #0B95B2 9.22%, #15617C 93.5%);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                background-clip: text;
                text-fill-color: transparent;
                overflow: hidden;

                @media (max-width: 991px) {
                    font-size: 62px;
                    line-height: 55px;
                }
                @media (max-width: 575px) {
                    font-size: 50px;
                    line-height: 55px;
                }

                &.text_min {
                    font-size: 30px;
                    line-height: 60px;
                    @media (max-width: 991px) {
                        font-size: 25px;
                        line-height: 45px;
                    }
                    @media (max-width: 575px) {
                        font-size: 19px;
                        line-height: 32px;
                    }
                }
            }
        }

        &-text {
            @extend %text-15;
            font-weight: 300;
            margin: 0;
            color: $dark-gray;
            opacity: 0.7;
        }
    }
}
