.modal-team {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    background-color: $light-gray-bg;
    visibility: hidden;
    overflow-x: hidden;
    overflow-y: auto;
    opacity: 0.5;
    transform: translateX(100%);
    transition: all 0.5s ease-in;
    $modal:&;

    &.show {
        opacity: 1;
        visibility: visible;
        transform: translateX(0%);
        #{$modal}__image {
            opacity: 1;
            transition-delay: 0.5s;
        }

        #{$modal}__name  {
            opacity: 1;
            transition-delay: 0.7s;
            @media (max-width: 767px) {
                transition-delay: 0.5s;
            }
        }

        #{$modal}__position {
            opacity: 1;
            transition-delay: 0.9s;
            @media (max-width: 767px) {
                transition-delay: 0.7s;
            }
        }

        #{$modal}__info {
            opacity: 1;
            transition-delay: 1.1s;
            @media (max-width: 767px) {
                transition-delay: 0.9s;
            }
        }
    }

    &__nav {
        position: absolute;
        width: 100%;
        left: 0;
        top: 50px;
        @media (max-width: 575px) {
            top: 20px;
        }
    }

    &__close {
        cursor: pointer;
        width: 30px;
        transition: all 0.25s;
        transform: rotate(0);
        position: relative;
        z-index: 10;

        svg {
            width: 100%;
        }
    }

    &__content {
        display: flex;
        align-items: center;
        position: relative;
        min-height: 100%;
        pointer-events: none;
        padding: 10px 0;
        margin: 0 auto;
        width: max-content;
        @media (max-width: 575px) {
            width: 100%;
        }
    }

    &__body {
        position: relative;
        display: flex;
        flex-direction: column
    }

    &__wrap {
        align-items: center;
        padding: 50px 0;
    }

    &__description {
        flex-grow: 1;

        p {
            @extend %text-17;
            margin: 0 0 15px;

            @media (max-width: 991px) {
                font-size: 15px;
                line-height: 19px;
                margin: 0 0 10px;
            }

            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    &__name {
        color: $text-color;
        margin: 0;
        opacity: 1;
        transition: all 0.4s ease-in;
    }

    &__position {
        @extend %text-17;
        color: $light-gray;
        margin: 0 0 30px;
        opacity: 0;
        transition: all 0.4s ease-in;

        @media (max-width: 991px) {
            font-size: 13px;
            line-height: 16px;
            margin: 0 0 20px;
        }
    }

    &__info {
        opacity: 0;
        transition: all 0.4s ease-in;
    }

    &__image {
        position: relative;
        width: 376px;
        height: 376px;
        flex-shrink: 0;
        margin-left: 50px;
        opacity: 0;
        transition: all 0.4s ease-in;

        @media (max-width: 1199px) {
            margin-left: 20px;
        }
        @media (max-width: 991px) {
            width: 272px;
            height: 272px;
        }
        @media (max-width: 767px) {
            display: none;
        }

        img {
            width: 100%;
        }
    }
}
