.reviews {
    padding: 0 0 100px;
    background-color: #F1F1F1;
    @media (max-width: 1199px) {
        padding: 55px 0 75px;
    }
    @media (max-width: 991px) {
        padding: 50px 0 75px;
    }

    &__title {
        @extend %h2;
        margin: 0 0 70px;
        @media (max-width: 991px) {
            margin: 0 0 40px;
        }
    }

    &__wrap {
        padding-bottom: 53px;
        position: relative;
        @media (max-width: 767px) {
            padding-bottom: 30px;
        }
        .swiper-wrapper {
            display: flex;
            align-items: stretch;
        }
        .swiper-slide {
            height: auto;
        }
    }

    &__card {
        height: 100%;
        padding: 30px 30px 50px;
        background-color: $white-color;
        @media (max-width: 991px) {
            padding: 25px 25px 45px;
        }
        @media (max-width: 767px) {
            padding: 25px 25px 30px;
        }
        @media (max-width: 575px) {
            position: relative;
            padding-bottom: 35px;
        }

        &-header {
            align-items: center;
            margin-bottom: 20px;
        }

        &-ava {
            border-radius: 50%;
            flex-shrink: 0;
            width: 53px;
            height: 53px;
            position: relative;
            overflow: hidden;
            margin-right: 10px;

            img {
                position: absolute;
                width: 100%;
                height: 100%;
                object-fit: cover;
                top: 0;
                left: 0;
            }
        }

        &-info {
        }

        &-name {
            font-weight: 300;
            font-size: 15px;
            line-height: 19px;
            margin: 0;
            color: $text-color;
            @media (max-width: 991px) {
                font-size: 13px;
                line-height: 16px;
            }
        }

        &-town {
            font-weight: 300;
            font-size: 15px;
            line-height: 19px;
            color: $light-gray;
            margin: 0;
            @media (max-width: 991px) {
                font-size: 13px;
                line-height: 16px;
            }
        }

        &-date {
            display: block;
            font-size: 13px;
            line-height: 16px;
            color: $light-gray;
            margin-left: auto;
            margin-right: 0;
            margin-top: 10px;
            margin-bottom: auto;
            @media (max-width: 991px) {
                font-size: 11px;
            }
            @media (max-width: 575px) {
                position: relative;
                top: 12px;
                right: 12px;
            }
        }

        &-body {
            p {
                @extend %text-17;
                color: $text-color;
                margin: 0;
                @media (max-width: 991px) {
                    font-size: 13px;
                    line-height: 20px;
                }
            }
        }
    }

    &__nav {
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        left: 0;
        width: 100%;
        bottom: 0;
    }

    &-prev {
        @media (max-width: 767px) {
            margin-right: 20px;
        }
    }

    &-next {
        @media (max-width: 767px) {
            margin-left: 20px;
        }
    }

    &-pagination {
        margin: 0 28px;
        @media (max-width: 767px) {
            display: none;
        }
    }
}
