$seo-main-color: #D6D3CE;
$seo-gray-color: #525750;
$seo-text-color: #121212;

.seo-container {
    width: 100%;
    padding: 0 40px;
    @media (max-width: 767px) {
        padding: 0 10px;
    }
    @media (max-width: 575px) {
        padding: 0 20px;
    }
}

.seo-header {
    position: relative;

    &__bg {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;

        img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &__wrap {
        position: relative;
        z-index: 2;
        padding: 100px 0 165px;
        max-width: 400px;
        margin-left: 90px;
        @media (max-width: 1199px) {
            padding: 60px 0 105px;
            margin-left: 0;
        }
        @media (max-width: 991px) {
            max-width: 230px;
            padding: 70px 0 140px;
            margin-left: 60px;
        }
        @media (max-width: 767px) {
            padding: 50px 0 100px;
            margin-left: 0;
        }
        @media (max-width: 575px) {
            padding: 50px 0 110px;
        }
    }

    &__type {
        font-weight: 400;
        font-size: 19px;
        line-height: 23px;
        letter-spacing: 0.03em;
        color: $seo-gray-color;
        margin: 0;
        text-transform: uppercase;
        @media (max-width: 991px) {
            color: #E67A78;
            margin: 0 0 6px;
            font-size: 11px;
            line-height: 16px;
        }
    }

    &__title {
        font-weight: 400;
        font-size: 62px;
        line-height: 75px;
        color: $seo-text-color;
        opacity: 0.7;
        margin: 0 0 36px;
        @media (max-width: 991px) {
            font-weight: 600;
            font-size: 24px;
            line-height: 29px;
            margin: 0 0 25px;
        }
        @media (max-width: 575px) {
            margin: 0;
        }
    }

    &__subtitle {
        font-weight: 300;
        font-size: 17px;
        line-height: 26px;
        color: $seo-text-color;
        opacity: 0.7;
        margin: 0;
        @media (max-width: 991px) {
            font-size: 13px;
            line-height: 16px;
        }
        @media (max-width: 575px) {
           display: none;
        }
    }
}

.seo-info {
    padding: 60px 0 70px;
    background-color: #F8F7F5;
    @media (max-width: 991px) {
        padding: 60px 0;
    }
    @media (max-width: 575px) {
        padding: 60px 0;
    }

    &__wrap {
        max-width: 50%;
        margin-left: 90px;
        @media (max-width: 1199px) {
            margin-left: 0;
            max-width: 100%;
        }
    }

    &__title {
        font-weight: 600;
        font-size: 24px;
        line-height: 29px;
        margin: 0 0 10px;
        color: $seo-gray-color;
        @media (max-width: 991px) {
            font-size: 19px;
            line-height: 23px;
        }
    }

    &__list {
        margin: 0 0 0 25px;

        li {
            font-weight: 300;
            font-size: 17px;
            line-height: 26px;
            margin-bottom: 10px;

            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}

.seo-work {
    padding: 0 0 20px;
    background-color: #F8F7F5;
    @media (max-width: 991px) {
        padding: 20px 0 10px;
    }

    &__main-title {
        display: block;
        position: relative;
        margin: 0 0 70px;
        font-weight: 600;
        font-size: 36px;
        line-height: 44px;
        color: $seo-gray-color;
        text-align: center;
        width: 360px;
        @media (max-width: 767px) {
            width: 300px;
            text-align: left;
            font-size: 24px;
            line-height: 29px;
            margin-bottom: 50px;
        }

        &:after {
            content: '';
            display: block;
            height: 100%;
            width: 410px;
            position: absolute;
            left: -40px;
            bottom: 0;
            background-color: $seo-main-color;
            z-index: 1;
            @media (max-width: 767px) {
                width: 310px;
            }
        }

        span {
            display: block;
            position: relative;
            z-index: 2;
            padding: 15px 0 15px;
        }
    }

    &__block {
        margin-bottom: 60px;
    }

    &__number {
        font-weight: 200;
        font-size: 62px;
        line-height: 75px;
        margin: 0 0 15px;
        color: $seo-gray-color;
        @media (max-width: 991px) {
            margin: 0 0 10px;
        }
    }

    &__title {
        font-weight: 600;
        font-size: 24px;
        line-height: 29px;
        margin: 0 0 15px;
        color: $seo-text-color;
        @media (max-width: 991px) {
            font-size: 19px;
            line-height: 23px;
        }
    }

    &__list {
        margin: 0;
        padding-left: 30px;
        @media (max-width: 767px) {
            padding-left: 25px;
        }

        li {
            font-weight: 300;
            font-size: 17px;
            line-height: 26px;
            margin: 0 0 10px;
            color: $seo-text-color;

            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}


.seo-result {
    padding: 70px 0 95px;
    background-color: #F8F7F5;
    @media (max-width: 991px) {
        padding: 70px 0 65px;
    }
    @media (max-width: 575px) {
        padding: 20px 0 35px;
    }

    &__main-title {
        display: block;
        position: relative;
        margin: 0 0 100px;
        font-weight: 600;
        font-size: 36px;
        line-height: 44px;
        color: $seo-gray-color;
        text-align: center;
        width: 360px;
        @media (max-width: 767px) {
            width: 300px;
            text-align: left;
            font-size: 24px;
            line-height: 29px;
            margin-bottom: 50px;
        }

        &:after {
            content: '';
            display: block;
            height: 100%;
            width: 410px;
            position: absolute;
            left: -40px;
            bottom: 0;
            background-color: $seo-main-color;
            z-index: 1;
            @media (max-width: 767px) {
                width: 310px;
            }
        }

        span {
            display: block;
            position: relative;
            z-index: 2;
            padding: 15px 0 15px;
        }
    }

    &__line {
        display: flex;
        align-items: flex-start;
        margin-bottom: 25px;
        margin-top: 4px;
        font-weight: 600;
        font-size: 24px;
        line-height: 29px;
        color: $text-color;
        @media (max-width: 767px) {
            font-size: 19px;
            line-height: 23px;
        }
        @media (max-width: 575px) {
            font-size: 17px;
        }

        &:last-child {
            margin-bottom: 0;
            @media (max-width: 991px) {
                margin-bottom: 25px;
            }
        }

        &-icon {
            display: block;
            background-color: $seo-gray-color;
            width: 22px;
            height: 22px;
            flex-shrink: 0;
            margin-right: 20px;
            background-position: center;
            background-repeat: no-repeat;
            background-size: 12px;
            background-image: url("../img/seo-case/check-white.svg");

            @media (max-width: 767px) {
                margin-right: 15px;
            }
        }
    }
}

.seo-form {
    padding: 200px 0 215px;
    background-color: #D6D3CE;
    position: relative;
    @media (max-width: 1199px) {
        padding: 170px 0 200px;
    }
    @media (max-width: 991px) {
        padding: 70px 40px;
    }
    @media (max-width: 767px) {
        padding: 70px 0;
    }

    &__image {
        position: absolute;
        width: 330px;
        height: max-content;
        top: 0;
        bottom: 0;
        right: 0;
        margin: auto;
        background-color: #D6D3CE;
        @media (max-width: 1199px) {
            right: -50px;
        }
        @media (max-width: 991px) {
            display: none;
        }

        img {
            width: 100%;
        }
    }
}
