.service-item {
    background-color: $white-color;
    padding: 30px 25px 25px;
    min-height: 350px;
    height: 100%;
    @media (max-width: 1199px) {
        min-height: 290px;
    }
    @media (max-width: 991px) {
        min-height: 335px;
        padding: 30px 20px 20px;
    }
    @media (max-width: 767px) {
        min-height: 270px;
        height: auto;
    }
    @media (max-width: 575px) {
        min-height: 315px;
        height: auto;
    }

    &__title {
        @extend %h4;
        background: linear-gradient(133.23deg, #0B95B2 9.22%, #15617C 93.5%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        text-fill-color: transparent;
        margin: 0 0 20px;
        @media (max-width: 767px) {
            font-size: 19px;
            line-height: 23px;
        }
    }

    &__description {
        ul {
            margin-bottom: 0;

            li {
                @extend %text-17;
                color: $text-color;
                @media (max-width: 991px) {
                    font-size: 15px;
                    line-height: 26px;
                }
                @media (max-width: 575px) {
                    font-size: 14px;
                    line-height: 24px;
                }
            }
        }
    }
}
