.stages {
    padding: 150px 0;
    background-color: #F1F1F1;
    @media (max-width: 1199px) {
        padding: 75px 0 55px;
    }
    @media (max-width: 991px) {
        padding: 50px 0;
    }

    &__title {
        @extend %h2;
        margin: 0 0 70px;
        @media (max-width: 991px) {
            margin: 0 0 40px;
        }
    }

    &__card {
        position: relative;
        height: 100%;
        $card: &;
        @media (max-width: 1199px) {
            opacity: 0.7;
        }

        &:hover {
            #{$card}-bg {
                @media (min-width: 1200px) {
                    opacity: 0;
                }
            }

            #{$card}-number,
            #{$card}-title {
                @media (min-width: 1200px) {
                    color: $text-color;
                }
            }

            #{$card}-subtitle,
            #{$card}-footer-text {
                @media (min-width: 1200px) {
                    color: $dark-gray;
                }
            }

            #{$card}-text {
                opacity: 1;
            }

            #{$card}-footer-title {
                opacity: 1;
            }
        }

        &-bg {
            position: absolute;
            z-index: 1;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            transition: all 0.4s ease-in;

            img {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                object-fit: cover;
            }

            &:after {
                content: '';
                display: block;
                width: 100%;
                height: 100%;
                position: absolute;
                top: 0;
                left: 0;
                background: linear-gradient(89.76deg, #121212 0.24%, rgba(18, 18, 18, 0) 99.82%);
                opacity: 0;
                @media (max-width: 1199px) {
                    opacity: 1;
                }
            }
        }

        &-content {
            display: flex;
            flex-direction: column;
            height: 100%;
            position: relative;
            z-index: 2;
            padding: 25px 20px 30px;
            @media (max-width: 1199px) {
                padding: 25px 20px 30px;
            }
            @media (max-width: 991px) {
                padding: 15px 15px 20px;
            }
        }

        &-number {
            font-weight: 600;
            font-size: 24px;
            line-height: 29px;
            color: $white-color;
            transition: all 0.4s ease-in;
            margin: 0;
            @media (max-width: 991px) {
                font-size: 19px;
                line-height: 23px;
                margin-bottom: 10px;
            }
        }

        &-title {
            font-weight: 600;
            font-size: 36px;
            line-height: 44px;
            color: $white-color;
            transition: all 0.4s ease-in;
            margin: 0;
            @media (max-width: 991px) {
                font-size: 24px;
                line-height: 29px;
            }
            @media (max-width: 575px) {
                font-size: 19px;
                line-height: 23px;
            }
        }

        &-subtitle {
            font-style: italic;
            font-weight: 300;
            font-size: 17px;
            line-height: 26px;
            color: $white-color;
            transition: all 0.4s ease-in;
            margin: 0 0 7px;
            @media (max-width: 991px) {
                margin: 0 0 20px;
            }
            @media (max-width: 575px) {
                font-size: 14px;
                line-height: 22px;
            }
        }

        &-text {
            opacity: 0;
            transition: all 0.4s ease-in;
            @media (max-width: 1199px) {
                opacity: 1;
            }

            ul {
                margin: 0 0 0 35px;
                @media (max-width: 1199px) {
                    margin: 0 0 20px 25px;
                }
                @media (max-width: 575px) {
                    margin: 0 0 20px 20px;
                }

                li {
                    font-weight: 400;
                    font-size: 17px;
                    line-height: 26px;
                    margin-bottom: 5px;
                    color: $text-color;
                    @media (max-width: 1199px) {
                        color: $white-color;
                    }
                    @media (max-width: 991px) {
                        font-size: 15px;
                    }
                    @media (max-width: 575px) {
                        font-size: 14px;
                        line-height: 24px;
                    }

                    &:last-child {
                        margin-bottom: 0;
                    }
                }
            }
        }

        &-footer {
            margin-top: auto;
            height: 80px;

            &-title {
                font-weight: 600;
                font-size: 15px;
                line-height: 26px;
                margin: 0;
                opacity: 0;
                color: $blue-color;
                transition: all 0.4s ease-in;
                @media (max-width: 1199px) {
                    opacity: 1;
                }
            }

            &-text {
                font-weight: 300;
                font-size: 15px;
                line-height: 19px;
                color: $white-color;
                margin: 0;
                @media (max-width: 575px) {
                    font-size: 14px;
                    line-height: 20px;
                }
            }
        }
    }
}
