.team {
    &__title {
        @extend %h2;
        margin: 0 0 80px;
        color: $text-color;
        @media  (max-width: 1199px) {
            margin: 0 0 50px;
        }
        @media (max-width: 575px) {
            display: none;
        }
    }

    &__wrap {
        .row {
            margin: 0 -22px;
            @media  (max-width: 1199px) {
                margin: 0 -15px;
            }
        }

        .col-xl-4 {
            padding: 0 22px;
            @media  (max-width: 1199px) {
                padding: 0 15px;
            }
        }
    }

    &__item {
        display: block;
        cursor: pointer;
        margin-bottom: 70px;
        $item: &;

        &:hover {
            #{$item}-photo {
                .photo-main {
                    opacity: 0;
                }
            }
            #{$item}-arrow {
                svg path {
                    fill: $text-color;
                }
            }
        }

        &-photo {
            position: relative;
            overflow: hidden;
            margin-bottom: 15px;
            padding-bottom: 104%;
            @media (max-width: 991px) {
                margin-bottom: 10px;
            }

            img {
                width: 100%;
                height: 100%;
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                margin: auto;
                object-fit: cover;
                transition: all 0.25s;
            }

            .photo-main {
                z-index: 2;
                transition: all 0.4s;
            }
            .photo-hover {
                z-index: 1;
            }
        }

        &-desc {
            position: relative;
        }

        &-arrow {
            display: block;
            height: 12px;
            width: 42px;
            position: absolute;
            top: 0;
            right: 0;
            @media (max-width: 767px) {
                top: auto;
                bottom: -10px;
                left: 0;
                right: auto;
            }
            svg {
                width: 100%;
                path {
                    fill: $light-gray;
                    transition: all 0.25s;
                }
            }
        }

        &-name {
            @extend %h5;
            margin: 0;
        }

        &-position {
            @extend %text-17;
            color: $light-gray;
            margin: 0;
            @media (max-width: 991px) {
                font-size: 13px;
                line-height: 16px;
            }
        }
    }
}
