.work-info {
    margin: 0 0 80px;
    position: relative;
    @media (max-width: 991px) {
        margin: 0 0 100px;
    }

    &__wrap {
        position: relative;
        align-items: flex-end;
        @media (max-width: 767px) {
            flex-direction: column;
        }
    }

    &__text {
        flex-grow: 1;
        padding-bottom: 30px;
        @media (max-width: 767px) {
            padding-bottom: 0;
            margin: 0 0 30px;
        }

        small {
            display: block;
            @extend %text-17;
            font-style: italic;
            color: $dark-gray;
            margin: 0 0 10px;
            @media (max-width: 767px) {
                margin: 0 0 15px;
            }
        }

        p {
            @extend %text-19;
            margin: 0 0 20px;
            color: $text-color;
            @media (max-width: 991px) {
                font-size: 15px;
                line-height: 26px;
            }
            @media (max-width: 575px) {
                font-size: 14px;
                line-height: 24px;
            }
        }
    }

    &__image {
        width: 447px;
        position: absolute;
        right: 0;
        top: -196px;
        overflow: hidden;

        @media (max-width: 991px) {
            width: 417px;
            right: -66px;
            top: -150px;
        }
        @media (max-width: 767px) {
            width: 162px;
            height: 350px;
            top: -120px;
            right: calc((520px - 100vw) / 2);
        }
        @media (max-width: 575px) {
            width: 140px;
            right: -20px;
        }

        img {
            width: 100%;
            max-width: none;
            @media (max-width: 991px) {
                width: 447px;
            }
            @media (max-width: 767px) {
                width: 272px;
            }
            @media (max-width: 575px) {
                width: 220px;
            }
        }
    }

    &__note {
        width: 447px;
        flex-shrink: 0;
        margin-left: 40px;
        @media (max-width: 1199px) {
            width: 400px;
            margin-left: 30px;
        }
        @media (max-width: 991px) {
            width: 300px;
            margin-left: 20px;
        }
        @media (max-width: 767px) {
            width: 100%;
            max-width: none;
            position: relative;
            margin-left: 0;

            &:after {
                content: '';
                display: block;
                width: 100vw;
                height: 100%;
                background-color: $white-color;
                z-index: 1;
                position: absolute;
                top: 0;
                left: calc((100% - 100vw) / 2);
            }
        }

        &-card {
            width: 100%;
            max-width: 325px;
            background-color: $white-color;
            padding: 25px;
            font-style: italic;
            font-weight: 300;
            font-size: 17px;
            line-height: 26px;
            color: $dark-gray;
            @media (max-width: 991px) {
                font-size: 15px;
                line-height: 22px;
            }
            @media (max-width: 767px) {
                padding: 25px 0;
                position: relative;
                z-index: 2;
                max-width: none;
            }
        }
    }
}

.work {
    margin-bottom: 150px;
    @media (max-width: 991px) {
        margin-bottom: 120px;
    }
    @media (max-width: 575px) {
        margin-bottom: 80px;
    }
    &:last-child {
        margin-bottom: 0;
    }

    &__title {
        @extend %h2;
        color: $text-color;
        margin: 0 0 70px;
        @media (max-width: 991px) {
            margin: 0 0 50px;
        }
    }

    &__wrap {
        align-self: stretch;
    }

    &__aside {
        position: sticky;
        top: 120px;
        @media (max-width: 991px) {
            margin-bottom: 40px;
        }
        .cen-btn-grad {
            background-color: transparent;
        }
    }

    &__description {
        &-position {
            @extend %h4;
            background: linear-gradient(133.23deg, #0B95B2 9.22%, #15617C 93.5%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-clip: text;
            text-fill-color: transparent;
            margin: 0 0 70px;
            @media (max-width: 991px) {
                margin: 0 0 50px;
                font-size: 24px;
                line-height: 29px;
            }
        }

        &-content {
            h4 {
                @extend %h4;
                color: $text-color;
                margin: 0 0 30px;
                @media (max-width: 991px) {
                    margin: 0 0 20px;
                }
            }

            p {
                @extend %text-19;
                color: $text-color;
                margin: 0 0 20px;
                @media (max-width: 991px) {
                    font-size: 15px;
                    line-height: 26px;
                    margin: 0 0 10px;
                }
                @media (max-width: 575px) {
                    font-size: 14px;
                    line-height: 24px;
                }
            }

            p + h4 {
                margin-top: 50px;
            }

            ul + h4 {
                margin-top: 50px;
            }

            small + ul {
                margin: 50px 0 20px;
            }

            ul {
                margin-bottom: 20px;

                li {
                    @extend %text-19;
                    color: $text-color;
                    margin-bottom: 15px;
                    @media (max-width: 991px) {
                        font-size: 15px;
                        line-height: 26px;
                        margin: 0 0 10px;
                    }
                    @media (max-width: 575px) {
                        font-size: 14px;
                        line-height: 24px;
                    }

                    &:last-child {
                        margin-bottom: 0;
                    }
                }
            }

            small {
                @extend %text-17;
                color: $dark-gray;
                margin: 0 0 20px;
                @media (max-width: 991px) {
                    font-size: 14px;
                    line-height: 24px;
                }
            }
        }
    }
}


.tab {
    @media (max-width: 991px) {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
    }
    @media (max-width: 575px) {
        flex-direction: column;
    }
    &__link {
        display: block;
        font-size: 17px;
        line-height: 20px;
        padding: 15px 20px;
        border: 1px solid #0B95B2;
        color: $black-color;
        transition: all 0.25s;
        cursor: pointer;
        margin-bottom: 10px;
        text-decoration: none;
        text-align: center;
        @media (max-width: 991px) {
            margin-bottom: 0;
            width: max-content;
            flex-shrink: 0;
            font-size: 15px;
        }
        @media (max-width: 575px) {
            width: 100%;
            margin-bottom: 10px;
        }

        &:last-child {
            margin-bottom: 0;
        }

        &:focus,
        &:hover,
        &:active {
            outline: none;
            text-decoration: none;
            color: #0B95B2;
        }

        &.active {
            color: $white-color;
            background: linear-gradient(133.23deg, #0B95B2 9.22%, #15617C 93.5%);
        }
    }

    &__wrap {
    }

    &__content {
        display: none;

        &.active {
            display: block;
        }
    }
}
