$voice-orange-color: #FC6239;
$voice-blue-color: #3F4CBC;
$voice-black-color: #121212;

.voice-container {
    width: 100%;
    padding: 0 40px;
    @media (max-width: 991px) {
        padding: 0 10px;
    }
    @media (max-width: 575px) {
        padding: 0 20px;
    }
}

.voice-title {
    &__number {
        font-weight: 400;
        font-size: 62px;
        line-height: 75px;
        margin: 0 0 15px;
        color: $voice-blue-color;

        @media (max-width: 991px) {
            font-weight: 600;
            font-size: 24px;
            line-height: 29px;
            margin: 0 0 10px;
        }
    }

    &__main {
        font-weight: 600;
        font-size: 24px;
        line-height: 29px;
        margin: 0;
        color: $voice-black-color;

        @media (max-width: 991px) {
            font-size: 19px;
            line-height: 26px;
        }
    }

    &__sub {
        font-weight: 300;
        font-size: 17px;
        line-height: 26px;
        margin: 15px 0 0;
        color: $voice-black-color;

        @media (max-width: 991px) {
            font-size: 15px;
            line-height: 19px;
        }
    }
}


/*voice head*/
.voice-head {
    position: relative;
    height: 498px;
    @media (max-width: 991px) {
        height: 320px;
    }
    @media (max-width: 767px) {
        height: 265px;
    }
    @media (max-width: 575px) {
        height: 225px;
    }

    &__img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;

        img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &__icon {
        position: absolute;
        top: 0;
        left: 0;
        height: 166px;
        z-index: 2;
        @media (max-width: 991px) {
            height: 82px;
        }
        @media (max-width: 575px) {
            left: 30px;
        }

        img {
            height: 100%;
        }
    }

    &__content {
        color: $white-color;
        position: absolute;
        top: 145px;
        left: 0;
        width: 100%;
        z-index: 2;
        @media (max-width: 991px) {
            top: 90px;
            padding-left: 70px;
        }
        @media (max-width: 767px) {
            padding-left: 50px;
            top: 80px;
        }
        @media (max-width: 575px) {
            top: 50px;
            padding-left: 0;
        }
    }

    &__subtitle {
        font-weight: 400;
        font-size: 19px;
        line-height: 23px;
        letter-spacing: 0.03em;
        @media (max-width: 991px) {
            font-size: 11px;
            line-height: 16px;
            margin-bottom: 6px;
        }
    }

    &__title {
        font-weight: 400;
        font-size: 62px;
        line-height: 75px;
        @media (max-width: 991px) {
            font-size: 24px;
            line-height: 29px;
        }
        @media (max-width: 575px) {
            width: 175px;
            br {
                display: none;
            }
        }
    }
}

/*end voice head*/


/*voice info*/
.voice-info {
    padding: 80px 0 40px;
    position: relative;
    z-index: 1;
    background-color: #f8f8f8;

    @media (max-width: 991px) {
        padding: 50px 0 60px;
    }

    &__block {
        margin-bottom: 60px;
        @media (max-width: 991px) {
            margin-bottom: 30px;
        }

        ul {
            margin: 0;
            padding-left: 25px;

            li {
                font-weight: 300;
                font-size: 17px;
                line-height: 26px;
                margin: 0 0 10px;

                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
    }

    &__title {
        font-weight: 600;
        font-size: 24px;
        line-height: 29px;
        color: $voice-orange-color;
        margin: 0 0 15px;
        @media (max-width: 991px) {
            font-size: 19px;
            line-height: 23px;
        }
    }
}

/*end voice info*/


/*voice work*/
/*end voice work*/


/*voice visual*/
.voice-visual {
    padding: 120px 0 170px;
    position: relative;
    z-index: 1;
    background-color: #F8F8F8;
    @media (max-width: 1199px) {
        padding: 90px 0 120px;
    }
    @media (max-width: 991px) {
        padding: 45px 0 80px;
    }

    .voice-title {
        position: relative;
        z-index: 2;
        @media (max-width: 575px) {
            br {
                display: none;
            }
        }
    }

    &__image {
        height: 400px;
        top: 0;
        position: relative;
        z-index: 1;
        @media (max-width: 1199px) {
            height: auto;
            width: 100%;
            margin-top: -15px;
        }
        @media (max-width: 991px) {
            margin-top: 30px;
        }

        img {
            display: block;
            height: 100%;
            margin-top: -65px;
            margin-right: 0;
            margin-left: auto;
            @media (max-width: 1199px) {
                margin-top: 0;
                width: 100%;
                height: auto;
            }
            @media (max-width: 991px) {
                width: 110%;
                max-width: none;
                margin-left: -10%;
            }
        }
    }
}

/*end voice visual*/


/*voice design*/
.visual-design {
    background-color: #F8F8F8;
    position: relative;

    &__image {
        width: 100%;
        position: relative;
        z-index: 1;

        img {
            width: 100%;
        }
    }

    &__content {
        position: absolute;
        z-index: 2;
        left: 0;
        top: 56px;
        @media (max-width: 767px) {
            top: 0;
            position: relative;
            margin-bottom: -60px;
        }
        @media (max-width: 575px) {
            margin-bottom: -55px;
        }
    }
}

/*end voice design*/


/*voice structure*/
.visual-structure {
    padding: 120px 0 104px;
    position: relative;
    z-index: 1;
    background-color: #F8F8F8;
    @media (max-width: 991px) {
        padding: 60px 0;
    }
    @media (max-width: 767px) {
        padding: 40px 0 60px;
    }
    @media (max-width: 575px) {
        padding: 20px 0 30px;
    }

    &__image {
        width: 100%;
        position: relative;
        z-index: 1;
        @media (max-width: 991px) {
            top: -50px;
        }
        @media (max-width: 767px) {
            top: -10px;
        }
        @media (max-width: 575px) {
            top: 0;
        }

        img {
            width: 100%;
            @media (max-width: 575px) {
                width: 125%;
                margin-left: -15%;
                max-width: none;
            }
        }
    }

    &__content {
        position: absolute;
        z-index: 2;
        left: 0;
        top: 120px;
        @media (max-width: 991px) {
            top: 0;
            position: relative;
        }

        @media (max-width: 575px) {
            .voice-title__main br {
                display: none;
            }
        }
    }
}

/*end voice structure*/


/*voice mob*/
.visual-mob {
    padding: 0;
    position: relative;
    z-index: 1;
    background-color: #F8F8F8;

    &__image {
        width: 100%;
        position: relative;
        z-index: 1;

        @media (max-width: 991px) {
            margin-top: -100px;
        }
        @media (max-width: 575px) {
            margin-top: -80px;
        }

        img {
            width: 100%;
            @media (max-width: 991px) {
                width: 110%;
                max-width: none;
            }
            @media (max-width: 575px) {
                width: 140%;
                margin-left: -20%;
            }
        }
    }

    &__content {
        position: absolute;
        z-index: 2;
        left: 0;
        top: 115px;

        @media (max-width: 1199px) {
            top: 0;
        }

        @media (max-width: 991px) {
            position: relative;
        }

        .voice-title__sub {
            @media (max-width: 575px) {
                br {
                    display: none;
                }
            }
        }
    }
}

/*end voice mob*/


/*voice seo*/
.voice-seo {
    padding: 175px 0;
    position: relative;
    z-index: 1;
    background-color: #F8F8F8;

    @media (max-width: 1199px) {
        padding: 130px 0;
    }

    @media (max-width: 991px) {
        padding: 90px 0 70px;
    }

    @media (max-width: 767px) {
        padding: 80px 0 60px;
    }

    .voice-title {
        margin-bottom: 60px;
        @media (max-width: 991px) {
            margin-bottom: 25px;
        }
    }

    &__block {
        display: flex;
        align-items: center;

        @media (max-width: 1199px) {
            align-items: flex-start;
        }

        @media (max-width: 991px) {
            align-items: center;
            margin-bottom: 20px;
        }

        &-icon {
            display: block;
            width: 30px;
            height: 30px;
            flex-shrink: 0;
            background-color: $voice-blue-color;
            margin-right: 10px;
            position: relative;

            &:after {
                content: '';
                display: block;
                position: absolute;
                top: 0;
                left: 2px;
                right: 0;
                bottom: 0;
                margin: auto;
                width: 17.62px;
                height: 14px;
                background-repeat: no-repeat;
                background-size: contain;
                background-position: center;
                background-image: url("../img/voice-case/check-white.svg");
            }
        }

        p {
            font-weight: 400;
            font-size: 16px;
            line-height: 22px;
            margin: 0;
        }
    }
}

/*end voice seo*/

/*voice result*/
.voice-result {
    background-color: $voice-blue-color;
    padding: 60px 0 80px;
    @media (max-width: 991px) {
        padding: 60px 0;
    }

    &__title {
        font-weight: 600;
        font-size: 24px;
        line-height: 29px;
        margin: 0 0 25px;
        color: $white-color;
        @media (max-width: 991px) {
            font-size: 19px;
            line-height: 23px;
            margin: 0 0 15px;
        }
    }

    &__list {
        margin-bottom: 0;

        li {
            font-weight: 400;
            font-size: 19px;
            line-height: 26px;
            color: $white-color;
            margin-bottom: 10px;
            @media (max-width: 991px) {
                font-size: 17px;
            }
            @media (max-width: 575px) {
                font-size: 15px;
            }
        }
    }
}

/*end voice result*/

/**/
.voice-form {
    padding: 200px 0 215px;
    background-color: #D8D9EE;
    @media (max-width: 1199px) {
        padding: 170px 0 200px;
    }
    @media (max-width: 991px) {
        padding: 70px 40px;
    }
    @media (max-width: 767px) {
        padding: 70px 0;
    }

    &-icon {
        position: absolute;
        width: 415px;
        right: 0;
        bottom: 0;
        @media (max-width: 1199px) {
            width: 340px;
            right: -30px;
        }
        @media (max-width: 991px) {
            display: none;
        }

        img {
            width: 100%;
        }
    }
}

/**/
