@import "variables";

%h {
    clear: both;
    margin: 0;
    padding: 0;
    line-height: 1.25;
    font-weight: 700;

    &:first-child {
        padding-top: 0;
    }
}

%h1 {
}

%h2 {
    font-weight: 600;
    font-size: 36px;
    line-height: 44px;
    @media (max-width: 991px) {
        font-size: 24px;
        line-height: 29px;
    }
}

%h3 {
}

%h4 {
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    @media (max-width: 991px) {
        font-size: 19px;
        line-height: 23px;
    }
}

%h5 {
    font-size: 19px;
    line-height: 23px;
}

%h6 {
}

%text-19 {
    font-weight: 400;
    font-size: 19px;
    line-height: 26px;
}

%text-17 {
    font-weight: 400;
    font-size: 17px;
    line-height: 26px;
}

%text-15 {
    font-size: 15px;
    line-height: 19px;
}
