@import "variables";

.footer {
    padding: 50px 0;
    background-color: $black-color;

    @media (max-width: 991px) {
        padding: 50px 0 0;
    }

    &__title {
        font-weight: 600;
        font-size: 19px;
        line-height: 1.3;
        height: 77px;
        color: $white-color;
        margin: 0;

        @media (max-width: 991px) {
            margin-bottom: 20px;
            height: auto;
        }
    }

    &__block {
        display: flex;
        flex-direction: column;
        height: 100%;

        @media (max-width: 991px) {
            margin-bottom: 50px;
            height: auto;
        }

        p {
            font-weight: 300;
            font-size: 13px;
            line-height: 1.3;
            color: $light-gray-bg;
            margin-bottom: 15px;

            &:last-child {
                margin-bottom: 0;
            }
        }

        &-main {
            margin-bottom: 30px;

            @media (max-width: 991px) {
                margin-bottom: 15px;
            }
        }

        &-footer {
            margin-top: auto;

            @media (max-width: 991px) {
                margin-top: 0;
            }
        }
    }

    &__logo {
        display: block;
        height: 22px;
        margin-bottom: 52px;
        @media (max-width: 991px) {

        }
        img {
            height: 100%;
        }
    }

    &__link {
        font-size: 13px;
        line-height: 1.3;
        color: $light-gray-bg;
        margin-bottom: 10px;
        text-decoration: underline;
        transition: all 0.25s;

        &:hover {
            color: $blue-color;
        }
    }
}

.soc-list {
    align-items: center;
    &__item {
        display: block;
        cursor: pointer;
        border-radius: 50%;
        flex-shrink: 0;
        margin-right: 25px;
        transition: all 0.25s;
        width: 32px;
        height: 32px;

        &:hover {
            transform: scale(1.1);
        }
    }
}
