@import "variables";

html {
    overflow-x: hidden;
}

body {
    font-family: $font-family-inter;
}

.modal-open {
    overflow: hidden;
    padding-right: 10px;
    @media (max-width: 991px) {
        padding-right: 0;
    }

    .home-header {
        padding-right: 9.5px;
        @media (max-width: 991px) {
            padding-right: 0;
        }
    }
}

.opacity-0 {
    opacity: 0;
}

.container {
    @media (max-width: 575px) {
        padding-right: 20px;
        padding-left: 20px;
    }
}

.page-template {
    background-color: $light-gray-bg;
    padding: 160px 0 150px;
    @media (max-width: 991px) {
        padding: 130px 0 150px;
    }
    @media (max-width: 767px) {
        padding: 130px 0 60px;
    }

    &__title {
        margin: 0 0 60px;
        @media (max-width: 991px) {
            margin: 0 0 50px;
        }
        @media (max-width: 767px) {
            margin: 0 0 30px;
        }
        @media (max-width: 575px) {
            margin: 0 0 20px;
        }

        &-main {
            @extend %h2;
            margin: 0;

            &:last-child {
                margin-bottom: 0;
            }
        }

        &-sub {
            @extend %text-19;
            color: $dark-gray;
            margin: 15px 0 0;
            @media (max-width: 991px) {
                font-size: 17px;
                line-height: 26px;
                margin: 30px 0 0;
            }
            @media (max-width: 575px) {
                font-size: 16px;
                margin: 20px 0 0;
            }
        }
    }
}

.cen-btn {
    display: block;
    width: max-content;
    border: none;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    outline: none;
    box-shadow: none;
    transition: all 0.4s ease-in;

    &:focus,
    &:active {
        outline: none;
        box-shadow: none;
        text-decoration: none;
    }

    &:hover {
        text-decoration: none;
    }

    &__text {
        position: relative;
        z-index: 2;
    }
}

.cen-btn-icon {
    display: flex;
    text-align: left;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    padding: 21px 22px;
    font-size: 19px;
    line-height: 26px;
    border: 1px solid $black-color;
    overflow: hidden;
    position: relative;

    @media (max-width: 767px) {
        font-size: 16px;
        line-height: 24px;
        padding: 15px;
    }

    &:before,
    &:after {
        content: '';
        display: block;
        position: absolute;
        z-index: 1;
        top: 50%;
        width: 50%;
        height: 500%;
        transition: all 0.6s ease;
        transform: translate(0, -50%) rotate(-45deg);
        background-color: $black-color;
    }

    &:before {
        left: 0;
    }

    &:after {
        left: 50%;
    }

    .cen-btn__text {
        color: $white-color;
        transition: all 0.6s;
    }

    &:hover {
        &:before {
            left: -75%;
        }

        &:after {
            left: 125%;
        }

        .cen-btn__text {
            color: $blue-color;
        }

        .cen-btn__icon {
            svg {
                path {
                    fill: $blue-color;
                }
            }
        }
    }

    .cen-btn__icon {
        display: block;
        flex-shrink: 0;
        margin-left: 36px;
        position: relative;
        z-index: 2;
        @media (max-width: 767px) {
            margin-left: 20px;
        }

        svg {
            path {
                fill: $white-color;
                transition: all 0.25s;
            }
        }
    }
}


.cen-btn-grad {
    position: relative;
    overflow: hidden;
    padding: 15px 42px;
    border: 1px solid #0B95B2;
    background: linear-gradient(133.23deg, #0B95B2 9.22%, #15617C 93.5%);

    &:before {
        content: '';
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        width: 100%;
        height: 0;
        transition: all 0.6s ease;
        background-color: $black-color;
        transform: translate(-50%, -50%) rotate(-45deg);
    }

    &:hover {
        &:before {
            height: 500%;
        }
    }

    &__text {
        font-weight: 400;
        font-size: 17px;
        line-height: 26px;
        color: $white-color;
        position: relative;
        z-index: 2;
        display: block;
        @media (max-width: 767px) {
            font-size: 16px;
            line-height: 24px;
        }
    }
}

/*swiper navigation*/
.swiper-button-prev,
.swiper-button-next {
    display: block;
    width: 46px;
    height: 8px;

    svg {
        width: 100%;
        vertical-align: top;

        path {
            transition: all 0.25s;
            fill: $text-color;
        }
    }

    &:hover {
        svg {
            path {
                fill: $black-color;
            }
        }
    }

    &:after,
    &:before {
        display: none;
    }

    &:focus,
    &:hover,
    &:active {
        outline: none;
        box-shadow: none;
    }
}

.swiper-pagination {
    position: relative;

    &-bullets {
        display: flex;
        align-items: center;
    }

    &-bullet {
        display: block;
        cursor: pointer;
        width: 9px;
        height: 9px;
        flex-shrink: 0;
        margin-right: 22px;
        border-radius: 50%;
        transition: all 0.25s;
        background-color: $light-gray;
        opacity: 1;

        &:last-child {
            margin-right: 0;
        }

        &:focus,
        &:hover,
        &:active {
            outline: none;
            box-shadow: none;
        }
    }

    &-bullet-active {
        background-color: $text-color;
    }
}


/*form*/
.form-group {
    margin: 0 0 20px;

    &__label {
        display: block;
        font-weight: 300;
        font-size: 17px;
        line-height: 26px;
        color: $light-gray;
        margin: 0;
        @media (max-width: 991px) {
            font-size: 13px;
            line-height: 16px;
            margin-bottom: 5px;
        }
    }

    &__input {
        border: 1px solid rgba(241, 241, 241, 0.9);
        width: 100%;
        background: rgba(241, 241, 241, 0.9);
        font-weight: 400;
        font-size: 17px;
        line-height: 26px;
        padding: 12px 15px;
        transition: all 0.25s;
        @media (max-width: 991px) {
            font-size: 13px;
            line-height: 16px;
        }
    }
}

.form-check {
    input {
        display: none;
    }

    &__label {
        display: block;
        font-weight: 400;
        font-size: 13px;
        line-height: 16px;
        color: $light-gray;
        padding-left: 40px;
        position: relative;
        cursor: pointer;
        @media (max-width: 991px) {
            padding-left: 26px;
        }
        @media (max-width: 767px) {
            font-size: 9px;
            line-height: 12px;
        }

        &:after {
            content: '';
            display: block;
            width: 14px;
            height: 14px;
            position: absolute;
            top: 0;
            left: 12px;
            background-color: $light-gray;
            @media (max-width: 991px) {
                left: 0;
            }
        }
    }

    input:checked + &__label:after {
        background-repeat: no-repeat;
        background-size: 10px;
        background-position: center;
        background-image: url("../img/icons/black-check.svg");
    }
}


.page-text {
    color: $black-color;

    h3 {
        @extend %h4;
        margin: 0 0 15px;
        @media (max-width: 991px) {
            margin: 0 0 20px;
        }
    }

    p {
        @extend %text-19;
        margin: 0 0 15px;
        @media (max-width: 991px) {
            font-size: 17px;
        }
        @media (max-width: 575px) {
            font-size: 16px;
            line-height: 24px;
        }
    }

    ul, ol {
        margin-bottom: 30px;

        li {
            @extend %text-19;
            margin: 0 0 5px;
            @media (max-width: 991px) {
                font-size: 17px;
            }
            @media (max-width: 575px) {
                font-size: 16px;
                line-height: 24px;
            }

            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    a {
        text-decoration: underline;
        color: $blue-color;
        transition: all 0.5s;
        cursor: pointer;
        @extend %text-19;

        @media (max-width: 991px) {
            font-size: 17px;
        }
        @media (max-width: 575px) {
            font-size: 16px;
            line-height: 24px;
        }

        &:hover {
            color: $brand-primary;
            text-decoration: underline;
        }
    }

    a + p,
    a + ol,
    a + ul {
        margin-top: 15px;
    }

    p + h3,
    ol + h3,
    ul + h3,
    a + h3 {
        margin-top: 60px;
        @media (max-width: 767px) {
            margin-top: 50px;
        }
    }
}

/*scroll*/
html::-webkit-scrollbar {
    width: 10px;
    background-color: #F1F1F1;
}
html::-webkit-scrollbar-thumb {
    border-radius: 10px 0 0 10px;
    background: linear-gradient(133.23deg,#0b95b2 9.22%,#15617c 93.5%);
}
