@import "variables";

.header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    background-color: $black-color;
    width: 100%;

    &.home-header {
        background-color: transparent;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 200;
        width: 100%;

        &.fixed {
            transform: translateX(0%);
            transition: all 0.4s ease-in;
            position: fixed;
            top: 0;
            left: 0;
            background-color: $black-color;
        }
    }

    &__wrap {
        align-items: center;
        justify-content: space-between;
        padding: 20px 0;
    }

    &__logo {
        display: block;
        width: 190px;
        cursor: pointer;
        @media (max-width: 991px) {
            width: 140px;
        }

        img {
            width: 100%;
        }
    }

    &__burger {
        position: relative;
        z-index: 200;
        width: 36px;
        height: 20px;
        cursor: pointer;

        span {
            display: block;
            position: absolute;
            left: 0;
            width: 100%;
            height: 0;
            border-top: 1px solid $white-color;
            transition: all 0.4s ease-in;

            &:nth-child(1) {
                top: 0;
            }

            &:nth-child(2) {
                top: 10px;
            }

            &:nth-child(3) {
                top: 20px;
            }
        }

        &.active {
            span {
                &:nth-child(1) {
                    transform: rotate(45deg) translate(8px, 6px);
                }

                &:nth-child(2) {
                    opacity: 0;
                    transform: translateX(-100px);
                }

                &:nth-child(3) {
                    transform: rotate(-45deg) translate(8px, -6px);
                }
            }
        }
    }
}

.main-nav {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 99;
    background-color: $black-color;
    height: 100vh;
    width: calc(1170px + (100% - 1170px) / 2);
    padding: 100px 0;
    opacity: 0.5;
    transform: translateX(100%);
    transition: all 0.25s ease-in;

    @media (max-width: 1199px) {
        width: calc(960px + (100% - 960px) / 2);
    }
    @media (max-width: 992px) {
        width: calc(720px + (100% - 720px) / 2);
        overflow-y: scroll;
    }
    @media (max-width: 767px) {
        width: calc(540px + (100% - 540px) / 2);
    }
    @media (max-width: 575px) {
        width: calc(100% - 20px);
        overflow-y: scroll;
        padding: 140px 0 100px;
        display: block;
    }

    &.active {
        transform: translateX(0%);
        opacity: 1;

        .info-main {
            opacity: 1;
            transition-delay: 0.8s;
        }

        .info-los {
            opacity: 1;
            transition-delay: 0.95s;
        }

        .info-mail {
            opacity: 1;
            transition-delay: 1.05s;
        }

        .main-menu {
            &__item {
                opacity: 1;
                transform: translateX(0%);
                @include transition-delay;
            }
        }
    }

    &__container {
        width: 1170px;
        padding: 0 180px;
        min-height: 100%;
        height: max-content;
        display: flex;
        align-items: center;
        margin-right: auto;

        @media (max-width: 1199px) {
            width: 960px;
            padding: 0 90px;
        }
        @media (max-width: 992px) {
            width: 720px;
            padding: 0 80px;
        }
        @media (max-width: 767px) {
            width: 540px;
            padding: 0 40px;
        }
        @media (max-width: 575px) {
            height: auto;
            overflow-y: scroll;
            width: 100%;
            padding: 0 25px;
        }
    }

    &__wrap {
        width: 100%;
        align-items: flex-start;
        justify-content: space-between;
        @media (max-width: 575px) {
            flex-direction: column-reverse;
        }
    }

    &__info {
        display: flex;
        flex-direction: column;
        padding-top: 35px;
        @media (max-width: 992px) {
            padding-top: 0;
        }
        @media (max-width: 575px) {
            margin-left: 50px;
        }

        p {
            display: block;
            @extend %text-17;
            font-weight: 300;
            color: $white-color;
            margin: 0 0 40px;
            opacity: 0;
            transition: all 0.25s ease-in;
            @media (max-width: 991px) {
                font-size: 13px;
                line-height: 19px;
                margin: 0 0 30px;
            }
        }

        .info-main,
        .info-los,
        .info-mail {
            opacity: 0;
            transition: all 0.25s ease-in;
        }
    }

    &__link {
        display: block;
        cursor: pointer;
        font-weight: 300;
        font-size: 15px;
        line-height: 19px;
        color: $light-gray;
        text-decoration: underline;
        transition: all 0.25s;
        @media (max-width: 991px) {
            font-size: 13px;
            line-height: 19px;
        }

        &:hover {
            color: $white-color;
        }
    }

    &__mail {
        margin-top: 130px;
        @media (max-width: 991px) {
            margin-top: 75px;
        }
        @media (max-width: 575px) {
            margin-top: 0;
        }
    }
}

.main-menu {
    display: block;
    margin: 0;
    list-style: none;
    @media (max-width: 575px) {
        margin-bottom: 65px;
    }

    &__item {
        margin-bottom: 40px;
        opacity: 0;
        transform: translateY(2%);
        transition: all 300ms ease-in;
        @media (max-width: 991px) {
            margin-bottom: 29px;
        }

        $menu-item: &;

        &:last-child {
            margin-bottom: 0;
        }

        &.active {
            a {
                #{$menu-item}-text {
                    &:after {
                        opacity: 1;
                        width: 100%;
                    }
                }
            }
        }

        a {
            display: flex;
            align-items: flex-end;
            text-decoration: none;
            cursor: pointer;

            &:hover {
                #{$menu-item}-text {
                    &:after {
                        opacity: 1;
                        width: 100%;
                    }
                }
            }
        }

        &-number {
            display: block;
            font-weight: 600;
            font-size: 24px;
            line-height: 50px;
            color: $dark-gray;
            width: 50px;
            flex-shrink: 0;
            @media (max-width: 991px) {
                font-weight: 400;
                font-size: 19px;
                line-height: 26px;
            }
        }

        &-text {
            display: block;
            font-weight: 600;
            font-size: 50px;
            line-height: 61px;
            position: relative;
            color: $white-color;
            @media (max-width: 991px) {
                font-size: 24px;
                line-height: 29px;
            }

            &:after {
                content: '';
                display: block;
                width: 0;
                height: 0;
                position: absolute;
                bottom: 0;
                left: 0;
                right: 0;
                margin: auto;
                border-bottom: 1px solid $white-color;
                transition: all 0.25s;
            }
        }
    }
}
