</main>

<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-12  d-block d-lg-none">
                <a href="index.html" class="footer__logo" title="logo">
                    <img src="assets/img/logo-footer.svg" alt="logo">
                </a>
            </div>

            <div class="col-lg-3 col-md-5 col-sm-6">
                <div class="footer__block">
                    <div class="footer__block-main">
                        <h3 class="footer__title">Головной офис</h3>
                        <p>30-110 Kraków, ul.Józefa Ignacego Kraszewskiego 36/128</p>
                        <p>+48733759254 (Александр)</p>
                        <p>22century.it@gmail.com</p>
                        <p>22AGE SP.Z.O.O.</p>
                        <p>ИНН 6772473262</p>
                    </div>
                    <div class="footer__block-footer">
                        <div class="d-flex soc-list">
                            <a href="#" class="soc-list__item">
                                @@include("./../icons/whatsapp.html")
                            </a>
                            <a href="#" class="soc-list__item">
                                @@include("./../icons/telegram.html")
                            </a>
                            <a href="#" class="soc-list__item">
                                @@include("./../icons/instagram.html")
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-5 col-sm-6">
                <div class="footer__block">
                    <div class="footer__block-main">
                        <h3 class="footer__title">Представительство <br>в Лос-Анджелесе</h3>
                        <p>1781 Orchid Ave, Los Angeles, CA, 90028</p>
                        <p>+1 9495294627 (Степан)</p>
                        <p>22century.it@gmail.com</p>
                    </div>

                    <div class="footer__block-footer">
                        <div class="d-flex soc-list">
                            <a href="#" class="soc-list__item">
                                @@include("./../icons/telegram.html")
                            </a>
                            <a href="#" class="soc-list__item">
                                @@include("./../icons/instagram.html")
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-12 ml-auto">
                <div class="footer__block">
                    <a href="index.html" class="footer__logo d-none d-lg-block" title="logo">
                        <img src="assets/img/logo-footer.svg" alt="logo">
                    </a>
                    <a href="#" class="footer__link">Согласие на обработку данных</a>
                    <a href="#" class="footer__link">Политика конфиденциальности</a>
                </div>
            </div>
        </div>
    </div>
</footer>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://unpkg.com/aos@next/dist/aos.js"></script>
<script src="assets/js/script.js"></script>


@@if(context.js){
@@for (var i = 0; i < js.length; i++) {
<script src="`+js[i]+`"></script>
}
}

</body>

</html>
