@use "sass:math";

// Media of at least the minimum breakpoint width. No query for the smallest breakpoint.
// Makes the @content apply to the given breakpoint and wider.
@mixin media-breakpoint-up($name, $breakpoints: $grid-breakpoints) {
	$min: breakpoint-min($name, $breakpoints);
	@if $min {
		@media (min-width: $min) {
			@content;
		}
	} @else {
		@content;
	}
}


// Placeholder text
@mixin placeholder($color: #555555, $opacity: 1) {
	&::-webkit-input-placeholder {
		color: $color;
		opacity: $opacity;
	}
	&::-moz-placeholder {
		color: $color;
		opacity: $opacity;
	}
	&::-ms-input-placeholder {
		color: $color;
		opacity: $opacity;
	}
	&::placeholder {
		color: $color;
		opacity: $opacity;
	}
}

@mixin transition-delay {
	@for $i from 1 through 6 {
		&:nth-child(#{$i}) {
			transition-delay: #{$i * .15}s;
		}
	}
}
