.contact-us button.b24-form-btn {
    border-radius: 0 !important;
    max-width: 180px !important;
}
.contact-us .b24-form-header {
    display: none;
}
.contact-us .b24-form-control-container input[type='checkbox'] {
    background: url(../img/icons/checkbox-unchecked-home.png) 0 0 no-repeat;
}
.contact-us .b24-form-control-container input[type=checkbox]:checked {
    background: url(../img/icons/checkbox-checked-home.png) 0 0 no-repeat;
}
.contact-us .b24-form-style-modern .b24-form-control-string .b24-form-control {
    border-radius: 0 !important;
    background: #F1F1F1 !important;
}
.contact-us .b24-form-field-agreement .b24-form-field-agreement-link {
    font-size: 13px !important;
    color: #b2b2b2 !important;
    line-height: 16px !important;
    opacity: 1 !important;
}
.contact-us .b24-form-field-agreement .b24-form-control-container {
    margin-bottom: 30px !important;
    margin-top: 30px !important;
}

@media (max-width: 991px) {
    .b24-form-content {
        padding: 14px 0 !important;
    }
}

/* .contact-us input.b24-form-control[name="name"], .contact-us input.b24-form-control[name="phone"] {
    margin-bottom: 47px !important;
}
.contact-us input[name="email"] {
    margin-bottom: 26px !important;
}
.contact-us .b24-form-field {
    margin-bottom: 0 !important;
}
.contact-us span.b24-form-control-desc {
    color: #b2b2b2 !important;
    font-size: 13px !important;
    font-weight: 400 !important;
}
.contact-us .b24-form-field-agreement .b24-form-field-agreement-link {
    font-size: 13px !important;
    color: #b2b2b2 !important;
    line-height: 16px !important;
    margin-bottom: 20px !important;
    opacity: 1 !important;
}
.contact-us .b24-form-field-agreement .b24-form-control-desc {
    opacity: 1 !important;
}
.contact-us .b24-form-control-label {
    top: -14px !important;
    color: #b2b2b2 !important;
    opacity: 1 !important;
    padding-left: 0 !important;
    font-size: 17px !important;
    font-weight: 300 !important;
}
.contact-us .b24-form-control-required {
    color: #b2b2b2 !important;
}
.contact-us .b24-form-control-agreement {
    margin-bottom: 36px !important;
} */
/* case-forms */

.case-form .b24-form-header {
    border-bottom: none !important;
    text-align: left !important;
}
.case-form .b24-form-header-title {
    font-weight: 600 !important;
    font-size: 24px !important;
    line-height: 29px !important;
    text-align: left !important;
    margin-bottom: 15px !important;
}
.case-form .b24-form-header-description {
    font-weight: 300 !important;
    font-size: 17px !important;
    line-height: 26px !important;
}
.case-form .b24-form-field {
    height: 52px !important;
}
.case-form .b24-form-control {
    border-bottom: 1px solid #121212 !important;
}
.case-form .b24-form-field-agreement {
    margin-top: 30px !important;
}
.case-form .b24-form-field-agreement .b24-form-field-agreement-link {
    font-size: 13px !important;
    color: #121212 !important;
    line-height: 16px !important;
    margin-bottom: 20px !important;
    opacity: 1 !important;
}
.b24-form-control-container input[type='checkbox'] {
    -webkit-appearance: none;
    -moz-appearance: none;
    display: inline-block;
    width: 14px;
    height: 14px;
    margin: 0 5px 0 0;
    padding: 0;
    vertical-align: top;
    outline: none;
    transition: background 0.3s ease;
    background: url(../img/icons/checkbox-unchecked.png) 0 0 no-repeat;
    cursor: pointer;
}
/* Checked */
.b24-form-control-container input[type=checkbox]:checked {
    background-image: url(../img/icons/checkbox-checked.png);
}

/* Focus */
.focused input[type=checkbox] {
    box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);
}

/* Hover */
.b24-form-control-container input[type=checkbox]:hover {
    filter: brightness(110%);
}

/* Active */
.b24-form-control-container input[type=checkbox]:active {
    filter: brightness(80%);
}

/* Disabled */
.b24-form-control-container input[type=checkbox]:disabled {
    color: #666;
    cursor: default;
}
.b24-form-control-container input[type=checkbox]:disabled {
    filter: grayscale(100%);
    opacity: 0.6;
}
/* policy */
.b24-window-popup-wrapper {
    border-radius: 0 !important;
    padding: 5px 20px 30px !important;
    z-index: 300;
}
.b24-window-popup-body .b24-form-btn-container {
    padding: 30px 0px 0px !important;
}
.b24-window-popup-body .b24-form-btn-container .b24-form-btn-block {
    display: flex;
    justify-content: center;
}
/*popup form on the homepage*/
#b24-80466012345260589705619211815879 .b24-window-popup-wrapper {
    z-index: 500 !important;
}
#b24-window-mount-80466012345260589705619211815879 .b24-window-popup-wrapper {
    z-index: 600 !important;
}
button.b24-form-btn {
    position: relative !important;
    overflow: hidden !important;
    padding: 15px 42px !important;
    border: 1px solid #0b95b2 !important;
    background: linear-gradient(133.23deg,#0b95b2 9.22%,#15617c 93.5%) !important;
    display: block;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    border: 0;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    outline: 0;
    box-shadow: none;
    transition: all .25s;
    border-radius: 0;
}
button.b24-form-btn:before {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 0;
    transition: all .6s ease;
    background-color: #000;
    transform: translate(-50%,-50%) rotate(-45deg);
}


button.b24-form-btn:hover {
    text-decoration: none;
}
/* homepage */
/*
.main-info__stat {
    margin-top: 10px !important;
}
@media (max-width: 575px) {
    .main-info__stat-number span.text_min {
        line-height: 32px;
    }
}
@media (max-width: 1199px) {
    .stages__card-text {
        opacity: 0.7;
    }
    .stages__card-content {
        padding: 25px 20px 30px;
    }
}
.case-item__title {
    font-size: 19px;
    margin: 0 0 0;
}
.case-item__subtitle {
    font-size: 17px;
    line-height: 15px;
}
@media (max-width: 768px) {
    .case-item__title {
        font-size: 17px;
        font-weight: 600;
    }
    .case-item__subtitle {
        font-size: 14px;
        font-weight: 300;
    }
    .case-item__top {
        margin: 0 0 10px;
    }
}
.page-template {
    padding: 80px 0 150px;
}
.page-template__title {
    margin: 0 0 60px;
}
.case-item {
    margin: 0 0 60px;
}
.services__card-title {
    color: #fff;
}
.case-item__description ul li {
    font-weight: 400;
}
.case-item__description:after {
    height: 9px;
}
.services__card-text ul li {
    opacity: 1;
    font-weight: 300;
}
.services__card {
    color: #B2B2B2;
}
.services__subtitle {
    color: #B2B2B2;
}
.cases {
    padding: 50px 0 150px;
}
.stages {
    padding: 150px 0;
}
.reviews {
    padding: 0 0 100px;
}
.swiper-pagination-bullet {
    background-color: #B2B2B2;
}
.swiper-pagination-bullet-active {
    background-color: #121212;
}
.services .swiper-pagination-bullet {
    background-color: #6F6F6F;
}
.services .swiper-pagination-bullet-active {
    background-color: #fff;
}
.seo-work__number {
    font-weight: 200;
}
.seo-result__line {
    font-weight: 400;
    margin-top: 4px;
}
*/

/* case business */
/*
.bus-work__number, .lin-work__number {
    font-weight: 200;
}
.bus-result__line {
    font-weight: 400;
}
.bus-result__line-icon {
    margin-top: 4px;
}
html::-webkit-scrollbar {
    width: 10px;
    background-color: #F1F1F1;
}
html::-webkit-scrollbar-thumb {
    border-radius: 10px 0 0 10px;
    background: linear-gradient(133.23deg,#0b95b2 9.22%,#15617c 93.5%);
}

.voice-info {
    background-color: #f8f8f8;
}*/
/* cookie */
#cookie_note{
    display: none;
    position: fixed;
    bottom: 15px;
    left: 50%;
    width: 90%;
    transform: translateX(-50%);
    padding: 20px;
    background-color: white;
    border-radius: 4px;
    box-shadow: 2px 3px 10px rgba(0, 0, 0, 0.4);
    z-index: 999;
    align-items: center;
}

#cookie_note .cen-btn-grad__text {
    line-height: 17px;
}

#cookie_note p{
    margin: 0;
    font-size: 0.7rem;
    text-align: left;
    color: black;
}

.cookie_accept{
    width: 300px;
    height: 50px;
    font-size: 16px;
    line-height: 17px;
    color: white;
    display: flex;
    justify-content: center;
    align-content: center;
    margin-left: 20px;
}
@media (min-width: 576px){
    #cookie_note.show{
        display: flex;
    }
}

@media (max-width: 575px){
    #cookie_note.show{
        display: block;
        text-align: left;
    }
    .cookie_accept{
        margin: 20px auto 15px;
        width: 60%;
    }
}
/*
a.tab__link span, a.tab__link:focus, a.tab__link:hover {
    text-decoration: none !important;
}*/
@media (max-width: 767px){
    .case-form__container .b24-form-btn {
        margin-top: 25px !important;
    }
}
@media (max-width: 545px){
    .case-form__container .b24-form-btn {
        margin-top: 40px !important;
    }
}
@media (max-width: 459px){
    .case-form__container .b24-form-btn {
        margin-top: 60px !important;
    }
}
@media (max-width: 405px){
    .case-form__container .b24-form-btn {
        margin-top: 80px !important;
    }
}
@media (max-width: 337px){
    .case-form__container .b24-form-btn {
        margin-top: 100px !important;
    }
}
/* vacancy */
/* .work {

} */
/*custom button*/
.b24-form-btn {
    position: relative;
    overflow: hidden;
    z-index: 2;
}
.b24-form-btn:before {
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 300%;
    transition: all 0.6s ease;
    background-color: #000000;
    transform: translate(-50%, -50%) rotate(-45deg);
    z-index: -1;
}
.b24-form-btn:hover:before{
    height: 500%;
}
