<div class="seo-work">
    <div class="seo-container">
        <h2 class="seo-work__main-title"><span>Решение</span></h2>

        <div class="row">
            <div class="col-xl-4 col-md-6">
                <div class="seo-work__block">
                    <div class="seo-work__number">01</div>
                    <h3 class="seo-work__title">Провели анализ целевой аудитории:</h3>

                    <ul class="seo-work__list">
                        <li>Выявили основные боли и потребности</li>
                        <li>Описали портрет потенциального клиента</li>
                        <li>Это позволило охватить большее количество потребителей</li>
                    </ul>
                </div>
            </div>

            <div class="col-xl-4 col-md-6">
                <div class="seo-work__block">
                    <div class="seo-work__number">02</div>
                    <h3 class="seo-work__title">Провели анализ конкурентов:</h3>

                    <ul class="seo-work__list">
                        <li>Выявили наиболее результативные рекламные креативы</li>
                        <li>Проанализировали контент в постах и сторисах конкурентов в Инстаграмм</li>
                    </ul>
                </div>
            </div>

            <div class="col-xl-4 col-md-6">
                <div class="seo-work__block">
                    <div class="seo-work__number">03</div>
                    <h3 class="seo-work__title">Подготовили профиль Инстаграмм перед запуском:</h3>

                    <ul class="seo-work__list">
                        <li>Улучшили описание в шапке</li>
                        <li>Разнообразили контент в постах (на основе анализа целевой аудитории и контекта
                            конкурентов)
                        </li>
                        <li>Разработали контент-план для сторис</li>
                    </ul>
                </div>
            </div>

            <div class="col-xl-4 col-md-6">
                <div class="seo-work__block">
                    <div class="seo-work__number">04</div>
                    <h3 class="seo-work__title">Создание коммуникационной стратегии:</h3>

                    <ul class="seo-work__list">
                        <li>Разработали 8 вариантов рекламных креативов с адаптацией под разные плейсменты</li>
                        <li>Подготовили тексты и офферы для креативов с призывом к действию “подписаться”</li>
                    </ul>
                </div>
            </div>

            <div class="col-xl-4 col-md-6">
                <div class="seo-work__block">
                    <div class="seo-work__number">05</div>
                    <h3 class="seo-work__title">Начали этап тестирования гипотиз:</h3>

                    <ul class="seo-work__list">
                        <li>Запустили поочередно варианты подготовленных креативов в Инстаграм.</li>
                        <li>На протяжение всего срока работы использовали цель «Трафик».</li>
                        <li>После получения первых результатов мы проанализировали данные для их оптимизации с целью
                            понижения цены за клик.</li>
                    </ul>
                </div>
            </div>

            <div class="col-xl-4 col-md-6">
                <div class="seo-work__block">
                    <div class="seo-work__number">06</div>
                    <h3 class="seo-work__title">Масшатибование рекламных кампаний:</h3>

                    <ul class="seo-work__list">
                        <li>Взяли в работу объявления, которые показали на этапе теста наилучший результат</li>
                        <li>Сфокусировали дальнейшую работу на самых показательных объявлениях и продолжили выстраивание
                            рекламных кампаний с учетом показателей
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
