<div class="seo-info">
    <div class="seo-container">
        <div class="seo-info__wrap">
            <h4 class="seo-info__title">Задача:</h4>
            <ul class="seo-info__list">
                <li>Увеличение количества целевых подписчиков</li>
                <li>Привлечение новых учеников на индивидуальные занятия</li>
            </ul>
        </div>
    </div>
</div>
