<div class="seo-result">
    <div class="seo-container">
        <h2 class="seo-result__main-title"><span>Результаты</span></h2>

        <div class="row">
            <div class="col-lg-6">
                <div class="seo-result__line">
                    <span class="seo-result__line-icon"></span>
                    Потрачено: 12 000₽⠀
                </div>

                <div class="seo-result__line">
                    <span class="seo-result__line-icon"></span>
                    Привлечено: 1 500 подписчиков
                </div>
            </div>

            <div class="col-lg-6">
                <div class="seo-result__line">
                    <span class="seo-result__line-icon"></span>
                    CTR (Средняя кликабельность): 2,48%⠀
                </div>

                <div class="seo-result__line">
                    <span class="seo-result__line-icon"></span>
                    Средняя цена за клик по ссылке: 1,35₽
                </div>

                <div class="seo-result__line">
                    <span class="seo-result__line-icon"></span>
                    Количество кликов: 6 600⠀
                </div>
            </div>
        </div>
    </div>
</div>
