<div class="seo-header">
    <div class="seo-header__bg">
        <img src="assets/img/seo-case/seo-bg.jpg" alt="image">
    </div>
    <div class="seo-container">
        <div class="seo-header__wrap">
            <h5 class="seo-header__type">КЕЙС</h5>
            <h1 class="seo-header__title">Увеличение подписчиков <br>в блоге</h1>
            <p class="seo-header__subtitle">Клиент: Репетитор по английскому языку.
                Площадки, испульзуемые для привлечения подписчиков: Instagram </p>
        </div>
    </div>
</div>
