@@include("./templates/header.html", {
"titlePage": "Index"
})

<!-- body -->
<div class="page-template">
    <ul>
        <li>
            <a href="fitness-case.html">fitness case</a>
        </li>
        <li>
            <a href="voice-case.html">voice case</a>
        </li>
        <li>
            <a href="lingerie-case.html"> lingerie case</a>
        </li>
        <li>
            <a href="seo-case.html">seo case</a>
        </li>
        <li>
            <a href="business-case.html">business-case</a>
        </li>
        <li>
            <a href="main.html">main page</a>
        </li>
        <li>
            <a href="cases-page.html">cases page</a>
        </li>
        <li>
            <a href="services.html">services page</a>
        </li>
        <li>
            <a href="contact.html">contact page</a>
        </li>
        <li>
            <a href="about.html">about page</a>
        </li>
        <li>
            <a href="vacancies.html">vacancies page</a>
        </li>
        <li>
            <a href="text-page.html">text page</a>
        </li>
        <li>
            <a href="ballet-case.html">ballet-case</a>
        </li>
    </ul>
</div>


<!-- /body -->

@@include("./templates/footer.html")
