@@include("./templates/header.html", {
"type": "home-header",
"titlePage": "Index"
})

<!-- body -->
@@include("./blocks/main-banner.html")

@@include("./blocks/main-services.html", {
"title": "Наши услуги",
"subtitle": "Мы предоставляем полный цикл digital услуг. <br>Объединяем 6 экспертных направлений: IT, digital-маркетинг, медиа, маркетинг, брендинг, дизайн и PR",
"items": [
{
"itemTitle": "Цифровой маркетинг",
"itemText": "<ul><li>Исследование бизнеса</li><li>Разработка стратегии развития</li><li>Определение эффективных площадок и каналов для продвижения</li><li>Создание и продвижение соцсетей и сайтов</li><li>Анализ эффективнocти и отчетность</li></ul>"
},
{
"itemTitle": "Веб-сайты",
"itemText": "<ul><li>Веб-дизайн</li><li>Разработка</li><li>Написание продающихтекстов</li><li>Поисковая оптимизация</li><li>Модернизация</li><li>Поддержка</li><li>Интеграция с сервисами</li></ul>",
},
{
"itemTitle": "Брендинг",
"itemText": "<ul><li>Стратегия по созданию имиджа компании</li><li>Нейминг бизнеса</li><li>Разработка уникального фирменного стиля</li><li>Позиционирование бренда на рынке</li></ul>",
},
{
"itemTitle": "SMM",
"itemText": "<ul><li>Разработка контент-планов</li><li>Визуальное оформление соцсетей</li><li>Наполнение контентом</li><li>Ведение соцсетей</li></ul>",
},
{
"itemTitle": "Реклама",
"itemText": "<ul><li>Контекстная реклама</li><li>Таргетированная реклама</li><li>Email-рассылки</li><li>Чат-боты</li><li>Медийная реклама</li></ul>",
},
{
"itemTitle": "Дизайн",
"itemText": "<ul><li>Разработка фирменного стиля</li><li>Логотипы</li><li>Дизайн сайтов</li><li>Оформление соцсетей</li><li>Полиграфический дизайн</li></ul>",
},
{
"itemTitle": "Цифровой маркетинг",
"itemText": "<ul><li>Исследование бизнеса</li><li>Разработка стратегии развития</li><li>Определение эффективных площадок и каналов для продвижения</li><li>Создание и продвижение соцсетей и сайтов</li><li>Анализ эффективнocти и отчетность</li></ul>"
},
{
"itemTitle": "Веб-сайты",
"itemText": "<ul><li>Веб-дизайн</li><li>Разработка</li><li>Написание продающихтекстов</li><li>Поисковая оптимизация</li><li>Модернизация</li><li>Поддержка</li><li>Интеграция с сервисами</li></ul>",
},
{
"itemTitle": "Брендинг",
"itemText": "<ul><li>Стратегия по созданию имиджа компании</li><li>Нейминг бизнеса</li><li>Разработка уникального фирменного стиля</li><li>Позиционирование бренда на рынке</li></ul>",
},
{
"itemTitle": "SMM",
"itemText": "<ul><li>Разработка контент-планов</li><li>Визуальное оформление соцсетей</li><li>Наполнение контентом</li><li>Ведение соцсетей</li></ul>",
},
{
"itemTitle": "Реклама",
"itemText": "<ul><li>Контекстная реклама</li><li>Таргетированная реклама</li><li>Email-рассылки</li><li>Чат-боты</li><li>Медийная реклама</li></ul>",
},
{
"itemTitle": "Дизайн",
"itemText": "<ul><li>Разработка фирменного стиля</li><li>Логотипы</li><li>Дизайн сайтов</li><li>Оформление соцсетей</li><li>Полиграфический дизайн</li></ul>",
},
]
})


@@include("./blocks/main-info.html", {
"title": "Почему выбирают нас",
})

@@include("./blocks/main-case.html", {
"title": "Наши кейсы",
})

@@include("./blocks/block-contact-us.html")

@@include("./blocks/stages.html", {
"title": "Этапы работы",
})


@@include("./blocks/reviews.html", {
"title": "Что о нас говорят",
"item": [
{
"itemPhoto": "assets/img/ava1.jpg",
"itemName": "Алексей Никитин",
"itemDate": "18.02.2022",
"itemTown": "Caнкт-Петербург",
"itemText": "Мы организовали музыкальный фестиваль и обратились к 22 CENTURY за помощью. Главной проблемой была, конечно, продажа билетов. Они объяснили нам, как привлечь нужную аудиторию, и написали отличный рекламный пост. Особенно меня порадовала работа дизайнера. Он быстро разработал классный логотип и баннер. В результате мы заполнили концертную площадку на 90%. В общем, ребята, может, и молоды, но они уже крутые. Продолжайте в том же духе!",
},
{
"itemPhoto": "assets/img/ava2.jpg",
"itemName": "Тимур Гамзатов",
"itemDate": "02.02.2022",
"itemTown": "Новосибирск",
"itemText": "Сразу к делу. Мне нужно было срочно увеличить прибыль своего ресторана за четыре недели. В панике я написал в инсту 22CENTERY. Объяснил сразу, что много на рекламу тратить не могу. Они провели анализ рынка, разработали рекламный постер и провели месячную онлайн акцию в соц. сетях на русском и английском. План мы в итоге перевыполнили. Кстати, хочу отдельно отметить их копирайтинг. Работают ребята быстро и качественно. Спасибо!",
},
{
"itemPhoto": "assets/img/ava3.jpg",
"itemName": "Евгения Балашова",
"itemDate": "15.01.2022",
"itemTown": "Минск",
"itemText": "Я - блоггер. Веду YouTube аккаунт про здоровую еду. Не так давно посчастливилось поработать с 22CENTERY. He буду писать много, но мне был очень нужен свой фирменный стиль. Для обложек там, рекламы... Они реально помогли, и теперь у меня не только стабильная ауди тория, но контракт с крупной сетью ресторанов. Как говорили в моей юности, респект и уважуха! Будем работать и дальше.",
},
{
"itemPhoto": "assets/img/ava4.jpg",
"itemName": "Диана Фомина",
"itemDate": "25.12.2021",
"itemTown": "Москва",
"itemText": "У меня был негативный опыт сотрудничества с одним крупным агентством. Не люблю тыкать пальцами, поэтому называть не буду. Потом один знакомый посоветовал 22 CENTURY. Я о них ничего не слышала, но доверилась. Понравилось, что, в отличии от мастадонтов, у них нет зашоренности, а есть индивидуальный подход. Работают с таким энтузиазмом, что сами всё время тебя ищут с результатами. Даже спросить не успеваешь.",
},
{
"itemPhoto": "assets/img/ava5.jpg",
"itemName": "Янина Крук",
"itemDate": "04.12.2021",
"itemTown": "Варшава",
"itemText": "Спасибо, вы потрясающая! Моя мечта сбылась. Я открыл свой собственный интернет-магазин. Я беспокоился о том, что из-за напряженной ситуации наверняка ничего не получится. Но специалисты из 22 века оказались не просто высококвалифицированными, но и гибкими. Они быстро приспособились и сэкономили мои нервы и деньги. Не просто спасли, но и вышли в плюс. Я люблю Вас!",
},
{
"itemPhoto": "assets/img/ava6.jpg",
"itemName": "Алиса Евсеева",
"itemDate": "21.11.2021",
"itemTown": "Рига",
"itemText": "Ребята 22CENTURY, вы такие классные! Хоть и очень юные. Скажу честно, вначале боялась с вами работать. Ведь мне нужно было невозможное - запустить новые курсы во время карантина. Но вы сработали чётко и оперативно. Анализировали рынок и создали стратегию. И теперь я вышла в онлайн! А ещё были доступны 24/7. Наши многочасовые мозговые штурмы я ещё не скоро забуду. Зато теперь у меня более 500 новых учеников. Но вы не расслабляйтесь, я к вам ещё непременно обращусь.",
},
]
})

<!-- /body -->

@@include("./templates/footer.html")
