@@include("./templates/header.html", {
"titlePage": "About",
})

<!-- body -->

<div class="page-template">
    <div class="container">
        <div class="page-template__title">
            <h1 class="page-template__title-main">Уведомление о файлах Cookie</h1>
        </div>

        <div class="page-text">
            <p>Последнее изменение: 25 февраля 2022
            </p>
            <p>Этот Веб-сайт использует файлы cookie для улучшения пользовательского опыта и обеспечения его
                эффективного функционирования.</p>


            <h3>Что такое файлы cookie?</h3>
            <p>Файлы cookie представляют собой небольшие текстовые файлы, которые сохраняются на вашем устройстве при
                посещении веб-сайта. Затем файлы cookie пересылаются обратно на исходный веб-сайт при каждом последующем
                посещении или на другой сайт, который распознает этот файл cookie. Файлы cookie используются для
                обеспечения или повышения эффективности работы веб-сайта, а также для предоставления информации его
                владельцам. Собираемая информация используется для повышения клиентоориентированности и персонализации
                использования веб-сайта. Мы можем использовать как файлы cookie первой стороны, устанавливаемые
                непосредственно нами, так и файлы cookie третьей стороны, устанавливаемые сторонним провайдером от
                нашего имени. Каждый раз, когда вы используете настоящий веб-сайт, он может собирать информацию с
                помощью файлов cookie и других подобных технологий (например, веб-маяков, тегов, скриптов или локального
                хранилища).
            </p>
            <a href="#">link</a>
            <p> Это Уведомление о файлах cookie является частью нашей Политики конфиденциальности. Для получения
                дополнительной информации о нас и о том, как мы защищаем информацию о посетителях, пожалуйста,
                ознакомьтесь с нашей Политикой безопасности.</p>

            <a href="#">link</a>

            <h3>Что такое файлы cookie?</h3>
            <p>Файлы cookie представляют <a href="#">link</a> собой небольшие текстовые файлы, которые сохраняются на вашем устройстве при
                посещении веб-сайта. Затем файлы cookie пересылаются обратно на исходный веб-сайт при каждом последующем
                посещении или на другой сайт, который распознает этот файл cookie. Файлы cookie используются для
                обеспечения или повышения эффективности работы веб-сайта, а также для предоставления информации его
                владельцам. Собираемая информация используется для повышения клиентоориентированности и персонализации
                использования веб-сайта. Мы можем использовать как файлы cookie первой стороны, устанавливаемые
                непосредственно нами, так и файлы cookie третьей стороны, устанавливаемые сторонним провайдером от
                нашего имени. Каждый раз, когда вы используете настоящий веб-сайт, он может собирать информацию с
                помощью файлов cookie и других подобных технологий (например, веб-маяков, тегов, скриптов или локального
                хранилища).
            </p>
            <p> Это Уведомление о файлах cookie является частью нашей Политики конфиденциальности. Для получения
                дополнительной информации о нас и о том, как мы защищаем информацию о посетителях, пожалуйста,
                ознакомьтесь с нашей Политикой безопасности.</p>

            <ul>
                <li>Файлы cookie представляют собой небольшие текстовые файлы</li>
                <li>Файлы cookie представляют собой небольшие текстовые файлы</li>
                <li>Файлы cookie представляют собой небольшие текстовые файлы</li>
                <li>Файлы cookie представляют собой небольшие текстовые файлы</li>
                <li>Файлы cookie представляют собой небольшие текстовые файлы</li>
            </ul>

            <ol>
                <li>Файлы cookie представляют собой небольшие текстовые файлы</li>
                <li>Файлы cookie представляют собой небольшие текстовые файлы</li>
                <li>Файлы cookie представляют собой небольшие текстовые файлы</li>
                <li>Файлы cookie представляют собой небольшие текстовые файлы</li>
                <li>Файлы cookie представляют собой небольшие текстовые файлы</li>
            </ol>

            <h3>Что такое файлы cookie?</h3>
            <p>Файлы cookie
                <a href="#">link</a>представляют собой небольшие текстовые файлы, которые сохраняются на вашем устройстве при
                посещении веб-сайта. Затем файлы cookie пересылаются обратно на исходный веб-сайт при каждом последующем
                посещении или на другой сайт, который распознает этот файл cookie. Файлы cookie используются для
                обеспечения или повышения эффективности работы веб-сайта, а также для предоставления информации его
                владельцам. Собираемая информация используется для повышения клиентоориентированности и персонализации
                использования веб-сайта. Мы можем использовать как файлы cookie первой стороны, устанавливаемые
                непосредственно нами, так и файлы cookie третьей стороны, устанавливаемые сторонним провайдером от
                нашего имени. Каждый раз, когда вы используете настоящий веб-сайт, он может собирать информацию с
                помощью файлов cookie и других подобных технологий (например, веб-маяков, тегов, скриптов или локального
                хранилища).
                <a href="#">link</a>
            </p>
            <p> Это Уведомление о файлах cookie является частью нашей Политики конфиденциальности. Для получения
                дополнительной информации о нас и о том, как мы защищаем информацию о посетителях, пожалуйста,
                ознакомьтесь с нашей Политикой безопасности.</p>

            <ol>
                <li>Файлы cookie представляют собой небольшие текстовые файлы</li>
                <li>Файлы cookie представляют собой небольшие текстовые файлы</li>
                <li>Файлы cookie представляют собой небольшие текстовые файлы</li>
                <li>Файлы cookie представляют собой небольшие текстовые файлы</li>
                <li>Файлы cookie представляют собой небольшие текстовые файлы</li>
            </ol>
        </div>
    </div>
</div>

<!-- /body -->

@@include("./templates/footer.html")
