<svg width="34" height="34" viewBox="0 0 34 34" fill="none" xmlns="http://www.w3.org/2000/svg">
    <g filter="url(#filter0_d_1122_4414)">
        <path d="M5 0.806641L28.9962 24.8028" stroke="#000000"/>
        <path d="M5 24.8027L28.9962 0.806552" stroke="#000000"/>
    </g>
    <defs>
        <filter id="filter0_d_1122_4414" x="0.648438" y="0.453125" width="32.7031" height="32.7031" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
            <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_1122_4414" result="shape"/>
        </filter>
    </defs>
</svg>
