<svg width="19" height="19" viewBox="0 0 19 19" fill="none" xmlns="http://www.w3.org/2000/svg">
    <g opacity="0.3">
        <path d="M3.67962 2.32038L4.29289 1.70711C4.68342 1.31658 5.31658 1.31658 5.70711 1.70711L8.29289 4.29289C8.68342 4.68342 8.68342 5.31658 8.29289 5.70711L6.50048 7.49952C6.2016 7.7984 6.1275 8.255 6.31653 8.63307C7.40929 10.8186 9.18142 12.5907 11.3669 13.6835C11.745 13.8725 12.2016 13.7984 12.5005 13.4995L14.2929 11.7071C14.6834 11.3166 15.3166 11.3166 15.7071 11.7071L18.2929 14.2929C18.6834 14.6834 18.6834 15.3166 18.2929 15.7071L17.6796 16.3204C15.5683 18.4317 12.2257 18.6693 9.83698 16.8777L8.62857 15.9714C6.88504 14.6638 5.33622 13.115 4.02857 11.3714L3.12226 10.163C1.33072 7.7743 1.56827 4.43173 3.67962 2.32038Z" fill="black"/>
    </g>
</svg>
