<svg width="24" height="26" viewBox="0 0 24 26" fill="none" xmlns="http://www.w3.org/2000/svg">
    <g opacity="0.3" filter="url(#filter0_d_951_4698)">
        <path d="M18 8.4375C18 13.7433 12.9271 16.9454 11.4184 17.7805C11.155 17.9262 10.845 17.9262 10.5816 17.7805C9.07287 16.9454 4 13.7433 4 8.4375C4 4.32988 7.13401 1 11 1C14.866 1 18 4.32988 18 8.4375Z" fill="black"/>
        <circle cx="11" cy="8" r="3" fill="white"/>
    </g>
    <defs>
        <filter id="filter0_d_951_4698" x="-3" y="0" width="30.125" height="27" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
            <feFlood flood-opacity="0" result="BackgroundImageFix"/>
            <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
            <feOffset dy="4"/>
            <feGaussianBlur stdDeviation="2"/>
            <feComposite in2="hardAlpha" operator="out"/>
            <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0"/>
            <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_951_4698"/>
            <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_951_4698" result="shape"/>
        </filter>
    </defs>
</svg>
