<svg width="21" height="19" viewBox="0 0 21 19" fill="none" xmlns="http://www.w3.org/2000/svg">
    <g opacity="0.3">
        <rect x="1" y="2" width="19" height="14" rx="3" fill="black"/>
        <path d="M1 5L10.0343 9.75487C10.3258 9.90831 10.6742 9.90831 10.9657 9.75487L20 5" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
    </g>
</svg>
