<div class="visual-mob">
    <div class="visual-mob__content">
        <div class="voice-container">
            <div class="voice-title">
                <div class="voice-title__number">04</div>
                <h2 class="voice-title__main">Адаптировали под мобильные устройства</h2>
                <h5 class="voice-title__sub">Наличие мобильной адаптации способствует не только <br>удобству просмотра с различных гаджетов, но и <br>поднимает сайт в поисковой выдаче</h5>
            </div>
        </div>
    </div>

    <div class="visual-mob__image">
        <img src="assets/img/voice-case/voice-mob.png" alt="image">
    </div>
</div>
