<div class="voice-info">
    <div class="voice-container">
        <div class="row">
            <div class="col-md-6">
                <div class="voice-info__block">
                    <h4 class="voice-info__title">Задача</h4>
                    <ul>
                        <li>Разработать лендинг для нового продукта школы - курсу по повышению квалификации для
                            педагогов по вокалу “Призвание”
                        </li>
                        <li>Продвигать продукт изначально планировалось без рекламы. Сайт рассчитывала использовать как
                            визитку и давать ссылку на него самостоятельно
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-6">
                <div class="voice-info__block">
                    <h4 class="voice-info__title">Решение</h4>
                    <ul>
                        <li>Проанализировали данную нишу. Оценили насколько востребованны услуги.</li>
                        <li>Предложили провести грамотную СЕО-оптимизацию для органического трафика на сайт.</li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-10">
                <div class="voice-info__block">
                    <h4 class="voice-info__title">О клиенте</h4>
                    <ul>
                        <li>Международная онлайн-школа вокала Милы Войс “Сильный голос”.</li>
                        <li>Сама Мила живет в Германии. Целевая аудитория: русскоговорящее население по всему миру.</li>
                        <li>Школа имеет широкую линейку инфопродуктов по вокалу (для тек кто поет и обучает вокалу)</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
