<div class="voice-head">
    <div class="voice-head__icon">
        <img src="assets/img/voice-case/voice-head-icon.png" alt="image">
    </div>
    <div class="voice-head__img">
        <img src="assets/img/voice-case/voice-head.png" alt="image">
    </div>

    <div class="voice-head__content">
        <div class="voice-container">
            <h5 class="voice-head__subtitle">КЕЙС</h5>
            <h1 class="voice-head__title">
                Разработка сайта <br>для школы вокала</h1>
        </div>
    </div>
</div>
