<div class="visual-design">
    <div class="visual-design__content">
        <div class="voice-container">
            <div class="voice-title">
                <div class="voice-title__number">02</div>
                <h2 class="voice-title__main">Разработали дизайн <br class="d-block d-lg-none">концепцию</h2>
            </div>
        </div>
    </div>

    <div class="visual-design__image">
        <img src="assets/img/voice-case/voice-design.png" alt="image">
    </div>
</div>
