<div class="voice-result">
    <div class="voice-container">
        <div class="voice-result__content">
            <h4 class="voice-result__title">Результаты</h4>

            <div class="row">
                <div class="col-lg-6">
                    <ul class="voice-result__list">
                        <li>Сайт окупился практически сразу, как только был опубликован в интернете</li>
                        <li>Цели настраивать рекламу не было</li>
                    </ul>
                </div>

                <div class="col-lg-6">
                    <ul class="voice-result__list">
                        <li>За 1 месяц конверсия на закрытие покупки курса составила 80%. Прибыль составила 450 000 руб. Вложение в рекламу - 0 рублей.</li>
                        <li>Продолжаем сотрудничество по упаковке других продуктов школы</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
