<div class="voice-visual">
    <div class="voice-container">
        <div class="voice-title">
            <div class="voice-title__number">01</div>
            <h2 class="voice-title__main">Подготовили визуальные референсы. <br>отобрали фотоматериалы заказчика <br>для
                размещения на сайте </h2>
        </div>

        <div class="voice-visual__image">
            <img src="assets/img/voice-case/voice-visual.png" alt="image">
        </div>
    </div>
</div>
