<div class="visual-structure">
    <div class="visual-structure__content">
        <div class="voice-container">
            <div class="voice-title">
                <div class="voice-title__number">03</div>
                <h2 class="voice-title__main">Проработали структуру сайта и курса. <br>Сверстали и разместили в интернете</h2>
            </div>
        </div>
    </div>

    <div class="visual-structure__image">
        <img src="assets/img/voice-case/voice-structure.png" alt="image">
    </div>
</div>
