<div class="voice-seo">
    <div class="voice-container">
        <div class="voice-title">
            <div class="voice-title__number">05</div>
            <h2 class="voice-title__main">Провели CEO-оптимизацию сайта</h2>
        </div>

        <div class="row align-items-start align-items-xl-center">
            <div class="col-lg-4">
                <div class="voice-seo__block">
                    <div class="voice-seo__block-icon"></div>
                    <p>Сформировали семантическое ядро на основании поисковой статистики</p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="voice-seo__block">
                    <div class="voice-seo__block-icon"></div>
                    <p>Были прописаны мета-теги сайта</p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="voice-seo__block">
                    <div class="voice-seo__block-icon"></div>
                    <p>Оптимизировали тексты</p>
                </div>
            </div>
        </div>
    </div>
</div>
