<div class="container">
    <div class="about">
        <div class="d-block d-sm-none">
            <div class="about-tab">
                <div class="about-tab__item active" data-tab="about">
                    <span>история создания <br>агенства</span>
                </div>
                <div class="about-tab__item" data-tab="team">
                    <span>наша команда</span>
                </div>
            </div>
        </div>

        <div class="about-tab__content active" id="about">
            <h2 class="about__title">@@title</h2>
            <div class="d-flex about__main">
                <div class="about__main-photo">
                    <img src="assets/img/about-photo.jpg" alt="image">
                </div>
                <div class="about__main-text">
                    <blockquote class="custom-blockquote">
                        <div class="custom-blockquote__icon">
                            <img src="assets/img/icons/quote.svg" alt="image">
                        </div>
                        <div class="custom-blockquote__text">
                            <p>Сегодня мы воплощаем в жизнь даже самые сумасшедшие проекты по всему миру. Вам лишь
                                остаётся
                                считать прибыль</p>
                        </div>

                        <p class="custom-blockquote__author">Максименко Кирилл, <br>Президент компании 22 CENTURY</p>
                    </blockquote>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-6">
                    <div class="about__text">
                        <p>Основав свою компанию в 2012 году, за шесть лет её существования мне удалось стать
                            предпринимателем
                            года и вывести свой бренд в лидеры рынка с численностью сотрудников порядка 1000
                            человек.</p>
                        <p>Благодаря правильной упаковке и структурному подходу в управлени мы продавали наш продукт
                            намного
                            дороже, чем у конкурентов и с каждым годом росли в 2 раза
                        </p>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="about__text">
                        <p>Всё шло по плану до тех пор, пока перед выборами 2020 года в стране не начались жестокие
                            преследования предпринимателей по надуманным причинам. Опасаясь за свою жизнь и свободу, я
                            был
                            вынужден бежать в Германию.</p>
                        <p>Только представьте — бывший миллионер остаётся один в чужой стране, не зная языка, и почти
                            без
                            денег</p>
                    </div>
                </div>
            </div>

            <div class="about-card">
                <div class="about-card__left">На чужбине я стал изучать, как устроен бизнес в ЕС и США, твёрдо веря, что
                    с
                    моим опытом и знаниями у меня все получится
                </div>
                <div class="about-card__image">
                    <img src="assets/img/about-image.jpg" alt="image">
                </div>
                <div class="about-card__bottom">
                    <p>После первого успешного проекта я начал вести Инстаграм, где рассказывал, как выстроить
                        крупнейшую
                        компанию буквально по полочкам. Предприниматели теперь пишут мне сами, благодарят и обращаются
                        за
                        советом. Оказалось, что 95% бизнесов абсолютно не упакованы в плане интернет-маркетинга, а также
                        нигде не налажена правильная системная работа на всех этапах соприкосновения с клиентом
                    </p>
                </div>
                <div class="about-card__wrap">
                    <p>Попытки помочь другим и себе вдохновили меня на создание услуги, которая решит данную проблему,
                        поможет любому бизнесу стать лидером своей отрасли
                    </p>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-9">
                    <div class="bottom-quote">
                        <h4 class="bottom-quote__title">Сегодня я готов предложить вам продукт, качество которого
                            значительно превышает цену. Это стало возможным не только благодаря моему опыту, но и помощи
                            профессиональной команды
                        </h4>
                        <div class="bottom-quote__author">Всем удачи!!! <br>С уважением, <br>Максименко Кирилл</div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    @@include("./../blocks/team.html", {
    "title": "Наша команда",
    "items": [
    {
    "id": "team1",
    "itemPhoto": "assets/img/team/1.jpg",
    "itemSecondPhoto": "assets/img/team/team1.jpg",
    "itemName": "Ирина Шилова",
    "itemPosition": "Руководитель агентства",
    },
    {
    "id": "team2",
    "itemPhoto": "assets/img/team/2.jpg",
    "itemSecondPhoto": "assets/img/team/team2.jpg",
    "itemName": "Яна Бойкова",
    "itemPosition": "Арт-директор",
    },
    {
    "id": "team4",
    "itemPhoto": "assets/img/team/4.jpg",
    "itemSecondPhoto": "assets/img/team/team4.jpg",
    "itemName": "Михаил Филичев",
    "itemPosition": "Руководитель IT-отдела",
    },
    {
    "id": "team5",
    "itemPhoto": "assets/img/team/5.jpg",
    "itemSecondPhoto": "assets/img/team/team5.jpg",
    "itemName": "Инна Елисеева",
    "itemPosition": "Финансовый директор",
    },
    {
    "id": "team7",
    "itemPhoto": "assets/img/team/7.jpg",
    "itemSecondPhoto": "assets/img/team/team7.jpg",
    "itemName": "Степан Шапошников",
    "itemPosition": "Руководитель отдела продаж",
    },
    {
    "id": "team8",
    "itemPhoto": "assets/img/team/8.jpg",
    "itemSecondPhoto": "assets/img/team/team8.jpg",
    "itemName": "Юлия Иванова",
    "itemPosition": "HR специалист",
    },
    {
    "id": "team9",
    "itemPhoto": "assets/img/team/9.jpg",
    "itemSecondPhoto": "assets/img/team/team9.jpg",
    "itemName": "Александр Бондаренко",
    "itemPosition": "Руководитель отдела продаж",
    },
    {
    "id": "team10",
    "itemPhoto": "assets/img/team/10.jpg",
    "itemSecondPhoto": "assets/img/team/team10.jpg",
    "itemName": "Ольга Федорова",
    "itemPosition": "Юридическая поддержка",
    },
    ]
    })
</div>
