<div class="contact-us">
    <div class="contact-us__bg" data-aos="fade-left" data-aos-duration="700" data-aos-delay="200">
        <img src="assets/img/contact-us.jpg" alt="image">
    </div>

    <div class="contact-us__content">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h2 class="contact-us__title"  data-aos="fade-up" data-aos-duration="700" data-aos-delay="900">Возьмем новые <br>высоты вместе?</h2>
                    <h6 class="contact-us__subtitle"  data-aos="fade-up" data-aos-duration="700" data-aos-delay="900">Оставляй заявку, чтобы мы могли предложить Вам оптимальный путь к
                        масштабированию вашего бизнеса</h6>
                </div>
                <div class="col-md-6">
                    <div class="contact-us__form"  data-aos="fade-up" data-aos-duration="700" data-aos-delay="1300">
                        <div class="form-group">
                            <label class="form-group__label">Имя*</label>
                            <input type="email" placeholder="" class="form-group__input">
                        </div>
                        <div class="form-group">
                            <label class="form-group__label">Телефон*</label>
                            <input type="email" placeholder="" class="form-group__input">
                        </div>
                        <div class="form-group">
                            <label class="form-group__label">E-mail*</label>
                            <input type="email" placeholder="" class="form-group__input">
                        </div>
                        <div class="form-check">
                            <input type="checkbox" id="check" checked>
                            <label class="form-check__label" for="check">Нажимая кнопку «Отправить», я даю свое согласие на
                                обработку моих персональных
                                данных, в соответствии с ПОЛИТИКОЙ ЗАЩИТЫ И ОБРАБОТКИ ПЕРСОНАЛЬНЫХ ДАННЫХ ПОЛЬЗОВАТЕЛЕЙ
                                САЙТА (КОНФИДЕНЦИАЛЬНОСТИ)*</label>
                        </div>
                        <a href="#" class="cen-btn cen-btn-grad">
                            <span class="cen-btn-grad__text">Отправить</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
