<div class="page-template">
    <div class="container">
        <div class="page-template__title">
            <h1 class="page-template__title-main" data-aos="fade-up" data-aos-duration="700">Наши кейсы</h1>
        </div>

        <div class="row">
            <div class="col-md-6">
                <a href="fitness-case.html" title="fitness case" class="case-item" data-aos="fade-up" data-aos-duration="700" data-aos-delay="400">
                    <div class="case-item__top">
                        <div class="case-item__image">
                            <img src="assets/img/cases/case1.jpg" alt="case">
                        </div>
                        <div class="case-item__description">
                            <h4 class="case-item__description-title">Результат</h4>
                            <ul>
                                <li>
                                    Разработаны сайт, информационные материалы в фирменном стиле
                                </li>
                                <li>Дизайн является неотъемлемой важной составляющей любой упаковки бизнеса</li>
                                <li>Прибыль с запуска данного курса составила 2 000 000 руб.</li>
                                <li>Продолжаем сотрудничество по упаковке других продуктов школы</li>
                            </ul>
                        </div>
                    </div>

                    <h4 class="case-item__title">Дизайн-упаковка инфопродукта</h4>
                    <p class="case-item__subtitle">Онлайн-школа по фитнесу</p>
                </a>
            </div>

            <div class="col-md-6">
                <a href="lingerie-case.html" title="fitness case" class="case-item" data-aos="fade-up" data-aos-duration="700" data-aos-delay="600">
                    <div class="case-item__top">
                        <div class="case-item__image">
                            <img src="assets/img/cases/case2.jpg" alt="case">
                        </div>
                        <div class="case-item__description">
                            <h4 class="case-item__description-title">Результат</h4>
                            <ul>
                                <li>
                                    Разработаны сайт, информационные материалы в фирменном стиле
                                </li>
                                <li>Дизайн является неотъемлемой важной составляющей любой упаковки бизнеса</li>
                                <li>Прибыль с запуска данного курса составила 2 000 000 руб.</li>
                                <li>Продолжаем сотрудничество по упаковке других продуктов школы</li>
                            </ul>
                        </div>
                    </div>

                    <h4 class="case-item__title">Привлечение клиентов</h4>
                    <p class="case-item__subtitle">Интернет-магазин нижнего белья </p>
                </a>
            </div>

            <div class="col-md-6">
                <a href="seo-case.html" title="fitness case" class="case-item" data-aos="fade-up" data-aos-duration="700" data-aos-delay="800">
                    <div class="case-item__top">
                        <div class="case-item__image">
                            <img src="assets/img/cases/case3.jpg" alt="case">
                        </div>
                        <div class="case-item__description">
                            <h4 class="case-item__description-title">Результат</h4>
                            <ul>
                                <li>Потрачено: 12 000₽</li>
                                <li>CTR (Средняя кликабельность): 2,48%</li>
                                <li>Средняя цена за клик по ссылке: 1,35₽</li>
                                <li>Количество кликов: 6 600</li>
                                <li>Привлечено: 1 500 подписчиков</li>
                            </ul>
                        </div>
                    </div>

                    <h4 class="case-item__title">Увеличение подписчиков в блоге</h4>
                    <p class="case-item__subtitle">Блог преподавателя английского языка</p>
                </a>
            </div>

            <div class="col-md-6">
                <a href="voice-case.html" title="fitness case" class="case-item" data-aos="fade-up" data-aos-duration="700" data-aos-delay="1000">
                    <div class="case-item__top">
                        <div class="case-item__image">
                            <img src="assets/img/cases/case4.jpg" alt="case">
                        </div>
                        <div class="case-item__description">
                            <h4 class="case-item__description-title">Результат</h4>
                            <ul>
                                <li>За 1 месяц конверсия на закрытие покупки курса составила 80%. Прибыль составила 450
                                    000 руб. Вложение в рекламу - 0 рублей
                                </li>
                                <li>Грамотная СЕО-оптимизация продолжает приводить клиентов. Сайт продает сам себя</li>
                            </ul>
                        </div>
                    </div>

                    <h4 class="case-item__title">Разработка лендинга</h4>
                    <p class="case-item__subtitle">Международна школа вокала </p>
                </a>
            </div>

            <div class="col-md-6">
                <a href="business-case.html" title="fitness case" class="case-item" data-aos="fade-up" data-aos-duration="700" data-aos-delay="1200">
                    <div class="case-item__top">
                        <div class="case-item__image">
                            <img src="assets/img/cases/case5.jpg" alt="case">
                        </div>
                        <div class="case-item__description">
                            <h4 class="case-item__description-title">Результат</h4>
                            <ul>
                                <li>Компания выросла с 0 до годового оборота в 20 млн евро</li>
                                <li>Увеличение оборота компании в 2 раза ежегодно</li>
                                <li>Штат сотруднкиов более 500 человек</li>
                                <li>Филиалы во всех крупных городах Белоруссии, а также в Смоленске, Брянске и Москве
                                </li>
                                <li>Проведенный итоговый анализ показал, что более 57% наших клиентов возвращались за
                                    повтор
                                </li>
                            </ul>
                        </div>
                    </div>

                    <h4 class="case-item__title">Масштабирование бизнеса </h4>
                    <p class="case-item__subtitle">Торгово-производственное предприятие </p>
                </a>
            </div>

            <div class="col-md-6">
                <a href="business-case.html" title="fitness case" class="case-item" data-aos="fade-up" data-aos-duration="700" data-aos-delay="1400">
                    <div class="case-item__top">
                        <div class="case-item__image">
                            <img src="assets/img/cases/case6.jpg" alt="case">
                        </div>
                        <div class="case-item__description">
                            <h4 class="case-item__description-title">Результат</h4>
                            <ul>
                                <li>Переупакованный качественный продукт</li>
                                <li>Приток новой аудитории через настроенный трафик</li>
                                <li>Дополнительные продажи старой аудитории благодаря выводу нового продукта</li>
                                <li>Первый месяц рекламы - 58 заявок на пробный урок с затратами в 10000 руб</li>
                                <li>Количество проданных абонементов - 8 (средний чек 5200 руб.)</li>
                            </ul>
                        </div>
                    </div>

                    <h4 class="case-item__title">Продвижение студии гимнастики</h4>
                    <p class="case-item__subtitle">Dance&Circus</p>
                </a>
            </div>
        </div>
    </div>
</div>
