<div class="page-template">
    <div class="container">
        <div class="page-template__title">
            <h1 class="page-template__title-main" data-aos="fade-up" data-aos-duration="700" data-aos-delay="0">@@title</h1>
        </div>

        @@if(context.blocks){
        <div class="row">
            @@for (var i = 0; i < blocks.length; i++) {
            <div class="col-lg-6">
                <div class="contact-block" data-aos="fade-up" data-aos-duration="700" data-aos-delay="400">
                    <h3 class="contact-block__title">`+blocks[i].blocksTitle+`</h3>
                    <div class="d-flex contact-block__wrap">
                        <div class="contact-block__image">
                            <img src="`+blocks[i].blocksImage+`" alt="image">
                        </div>
                        <div class="contact-block__content">
                            <h4 class="contact-block__name">`+blocks[i].blocksName+`</h4>
                            <p class="contact-block__position">`+blocks[i].blocksPosition+`</p>

                            <div class="d-none d-sm-block">
                                <div class="contact-block__line">
                                    <div class="contact-block__line-icon">
                                        @@include("./../icons/icon-phone.html")
                                    </div>
                                    <a href="tel:`+blocks[i].blocksPhone+`" title="phone">`+blocks[i].blocksPhone+`</a>
                                </div>
                                <div class="contact-block__line">
                                    <div class="contact-block__line-icon">
                                        @@include("./../icons/icon-email.html")
                                    </div>
                                    <a href="mailto:`+blocks[i].blocksEmail+`" title="phone">`+blocks[i].blocksEmail+`</a>
                                </div>
                                <div class="contact-block__line">
                                    <div class="contact-block__line-icon">
                                        @@include("./../icons/icon-position.html")
                                    </div>
                                    <p>`+blocks[i].blocksLocal+`</p>
                                </div>
                            </div>

                            <div class="d-flex soc-list">
                                <a href="#" class="soc-list__item">
                                    @@include("./../icons/whatsapp.html")
                                </a>
                                <a href="#" class="soc-list__item">
                                    @@include("./../icons/telegram.html")
                                </a>
                                <a href="#" class="soc-list__item">
                                    @@include("./../icons/instagram.html")
                                </a>
                            </div>
                        </div>


                        <div class="d-block d-sm-none w-100 contact-block__mob-info">
                            <div class="contact-block__line">
                                <div class="contact-block__line-icon">
                                    @@include("./../icons/icon-phone.html")
                                </div>
                                <a href="tel:`+blocks[i].blocksPhone+`" title="phone">`+blocks[i].blocksPhone+`</a>
                            </div>
                            <div class="contact-block__line">
                                <div class="contact-block__line-icon">
                                    @@include("./../icons/icon-email.html")
                                </div>
                                <a href="mailto:`+blocks[i].blocksEmail+`" title="phone">`+blocks[i].blocksEmail+`</a>
                            </div>
                            <div class="contact-block__line">
                                <div class="contact-block__line-icon">
                                    @@include("./../icons/icon-position.html")
                                </div>
                                <p>`+blocks[i].blocksLocal+`</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            }
        </div>
        }
    </div>
</div>
