<div class="services">
    <div class="container">
        @@if(context.title){
        <h2 class="services__title"  data-aos="fade-up" data-aos-duration="700">@@title</h2>
        }
        @@if(context.subtitle){
        <h5 class="services__subtitle"  data-aos="fade-up" data-aos-duration="700" data-aos-delay="300">@@subtitle</h5>
        }

        @@if(context.items) {
        <div class="services__wrap"   data-aos="fade-up" data-aos-duration="700" data-aos-delay="600">
            <div class="swiper services-swiper">
                <div class="swiper-wrapper">
                    @@for (var i = 0; i < items.length; i++) {
                    <div class="swiper-slide">
                        <div class="services__card">
                            <h4 class="services__card-title">`+items[i].itemTitle+`</h4>

                            <div class="services__card-text">
                                `+items[i].itemText+`
                            </div>
                        </div>
                    </div>
                    }
                </div>
            </div>

            <div class="services__nav">
                <div class="swiper-button-prev services__prev">@@include("./../icons/swiper-prev.html")</div>
                <div class="swiper-pagination services__pagination"></div>
                <div class="swiper-button-next services__next">@@include("./../icons/swiper-next.html")</div>
            </div>
        </div>
        }
    </div>
</div>
