<div class="cases">
    <div class="container">
        <h2 class="cases__title"  data-aos="fade-up" data-aos-duration="700">@@title</h2>

        <div class="case__wrap" data-aos="fade-up" data-aos-duration="700" data-aos-delay="400">
            <div class="row">
                <div class="col-xl-8 col-md-6">
                    <div class="row">
                        <div class="col-xl-6">
                            <a href="fitness-case.html" class="cases__item case_min">
                                <div class="cases__item-image">
                                    <img src="assets/img/cases1.jpg" alt="img">
                                </div>
                                <div class="cases__item-content">
                                    <h5 class="cases__item-title">Дизайн-упаковка инфопродукта</h5>
                                    <span class="cases__item-arrow">
                        @@include("./../icons/swiper-next.html")
                    </span>
                                </div>
                            </a>
                        </div>
                        <div class="col-xl-6">
                            <a href="#" class="cases__item case_min">
                                <div class="cases__item-image">
                                    <img src="assets/img/cases2.jpg" alt="img">
                                </div>
                                <div class="cases__item-content">
                                    <h5 class="cases__item-title">Разработка лендинга</h5>
                                    <span class="cases__item-arrow">
                        @@include("./../icons/swiper-next.html")
                    </span>
                                </div>
                            </a>
                        </div>
                    </div>

                    <a href="#" class="cases__item case_long d-none d-xl-block">
                        <div class="cases__item-image">
                            <img src="assets/img/cases4.jpg" alt="img">
                        </div>
                        <div class="cases__item-content">
                            <h5 class="cases__item-title">Привлечение клиентов</h5>
                            <span class="cases__item-arrow">
                        @@include("./../icons/arrow-long.html")
                    </span>
                        </div>
                    </a>
                </div>

                <div class="col-xl-4 col-md-6">
                    <a href="#" class="cases__item case_high">
                        <div class="cases__item-image">
                            <img src="assets/img/cases3.jpg" alt="img">
                        </div>
                        <div class="cases__item-content">
                            <h5 class="cases__item-title">Масштабирование <br>бизнеса</h5>
                            <span class="cases__item-arrow">
                        @@include("./../icons/swiper-next.html")
                    </span>
                        </div>
                    </a>

                    <div class="d-none d-xl-block">
                        <a href="#" class="cen-btn cen-btn-icon w-100" title="Смотреть все проекты">
                            <span class="cen-btn__text">Смотреть все проекты</span>
                            <span class="cen-btn__icon">
                        @@include("./../icons/swiper-next.html")
                        </span>
                        </a>
                    </div>
                </div>

                <div class="col-12 d-block d-xl-none">
                    <a href="#" class="cases__item case_long">
                        <div class="cases__item-image">
                            <img src="assets/img/cases4.jpg" alt="img">
                        </div>
                        <div class="cases__item-content">
                            <h5 class="cases__item-title">Привлечение клиентов</h5>
                            <span class="cases__item-arrow">
                        @@include("./../icons/arrow-long.html")
                    </span>
                        </div>
                    </a>
                </div>
            </div>

            <div class="cases__btn d-block d-xl-none">
                <a href="#" class="cen-btn cen-btn-icon" title="Смотреть все проекты">
                    <span class="cen-btn__text">Смотреть все проекты</span>
                    <span class="cen-btn__icon">
                        @@include("./../icons/swiper-next.html")
                        </span>
                </a>
            </div>
        </div>
    </div>
</div>
