<div class="main-info">
    <div class="container">
        <h2 class="main-info__title" data-aos="fade-up" data-aos-duration="700">@@title</h2>
        <div class="row">
            <div class="col-lg-6">
                <div class="main-info__text" data-aos="fade-up" data-aos-duration="700" data-aos-delay="300">
                    <p>Упаковываем не только продукт, но и бизнес в целом. Знаем как масштабировать любую компанию на
                        международный рынок</p>
                    <p>К решению бизнес-задач мы подходим индивидуально и комплексно - все действия ориентированы на
                        результат</p>
                    <p>Любой спорный вопрос решаем через тесты, а не субъективное мнение</p>
                </div>
            </div>

            <div class="col-lg-6">
                <div class="d-flex main-info__stat">
                    <div class="main-info__stat-item">
                        <div class="main-info__stat-number">
                            <div class="main-info__stat-number-wrap">
                                <span data-aos="fade-up" data-aos-duration="700" data-aos-delay="600">1</span>
                            </div>
                            <div class="main-info__stat-number-wrap">
                                <span data-aos="fade-up" data-aos-duration="700" data-aos-delay="800">0</span>
                            </div>
                        </div>
                        <p class="main-info__stat-text" data-aos="fade-up" data-aos-duration="700"
                           data-aos-delay="1200">Лет опыта по развитию бизнеса</p>
                    </div>
                    <div class="main-info__stat-item">
                        <div class="main-info__stat-number">
                            <div class="main-info__stat-number-wrap">
                                <span data-aos="fade-up" data-aos-duration="700" data-aos-delay="700">2</span>
                            </div>
                            <div class="main-info__stat-number-wrap">
                                <span data-aos="fade-up" data-aos-duration="700" data-aos-delay="900">5</span>
                            </div>
                            <div class="main-info__stat-number-wrap">
                                <span data-aos="fade-up" data-aos-duration="700" data-aos-delay="900">+</span>
                            </div>
                        </div>
                        <p class="main-info__stat-text" data-aos="fade-up" data-aos-duration="700"
                           data-aos-delay="1300">Активных проектов</p>
                    </div>
                    <div class="main-info__stat-item">
                        <div class="main-info__stat-number">
                            <div class="main-info__stat-number-wrap">
                                <span data-aos="fade-up" data-aos-duration="700" data-aos-delay="800">4</span>
                            </div>
                            <div class="main-info__stat-number-wrap">
                                <span data-aos="fade-up" data-aos-duration="700" data-aos-delay="1100">3</span>
                            </div>
                        </div>
                        <p class="main-info__stat-text" data-aos="fade-up" data-aos-duration="700"
                           data-aos-delay="1400">Сотрудника со всего мира</p>
                    </div>
                    <div class="main-info__stat-item">
                        <div class="main-info__stat-number">
                            <div class="main-info__stat-number-wrap">
                                <span data-aos="fade-up" data-aos-duration="700" data-aos-delay="900">3</span>
                            </div>
                            <div class="main-info__stat-number-wrap">
                                <span data-aos="fade-up" data-aos-duration="700" data-aos-delay="1200">0</span>
                            </div>

                            <div class="main-info__stat-number-wrap">
                            <span class="text_min" data-aos="fade-up" data-aos-duration="700"
                                  data-aos-delay="1100">млн</span>
                            </div>
                        </div>
                        <p class="main-info__stat-text" data-aos="fade-up" data-aos-duration="700"
                           data-aos-delay="1500">Оборот, которого достигли 8 компаний за 2 года</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
