<div class="main-banner">
    <div class="main-banner__bg">
        <img src="assets/img/main-bg.jpg" alt="bg">
    </div>
    <div class="main-banner__content">
        <div class="container">
            <div data-aos="fade-up" data-aos-duration="700">
                <h1 class="main-banner__title">Специализируемся на
                    <span>масштабировании</span>
                    бизнеса</h1>
                <p class="main-banner__subtitle">Увеличиваем поток клиентов <br>в 2 раза за 3 месяца</p>
            </div>

            <a href="#" class="cen-btn cen-btn-grad" data-aos="fade-up" data-aos-duration="700" data-aos-delay="400">
                <span class="cen-btn-grad__text">Заказать бесплатный аудит</span>
            </a>
        </div>
    </div>
</div>
