<div class="modal-team">
    <div class="modal-team__nav">
        <div class="container">
            <div class="d-flex justify-content-between align-items-center">
                <div></div>

                <div class="modal-team__close js-modal-close">
                    @@include("./../icons/close.html")
                </div>
            </div>
        </div>
    </div>
    <div class="modal-team__content">
        <div class="modal-team__body">
            <div class="container">
                <div class="d-flex modal-team__wrap">
                    <div class="modal-team__description">
                        <h4 class="modal-team__name js-modal-name">Ирина Шилова</h4>
                        <h6 class="modal-team__position js-modal-position">Руководитель агентства</h6>
                        <div class="modal-team__info js-modal-info">
                            <p>За 15 лет работы в продажах заключила более сотни контрактов</p>
                            <p>Более 5 лет опыта визуальной упаковки бизнеса для предпринимателей</p>
                            <p>Соавтор курса по продвижению и упаковке бьюти-бизнеса онлайн. Сотни благодарных отзывов.</p>
                            <p>Результат учениц: от мастера на дому до владельца салона/сети салонов</p>
                            <p>Более 7 лет опыта в маркетинге</p>
                            <p>За 15 лет работы в продажах заключила более сотни контрактов</p>
                            <p>Более 5 лет опыта визуальной упаковки бизнеса для предпринимателей</p>
                            <p>Соавтор курса по продвижению и упаковке бьюти-бизнеса онлайн. Сотни благодарных отзывов.</p>
                            <p>Результат учениц: от мастера на дому до владельца салона/сети салонов</p>
                            <p>Более 7 лет опыта в маркетинге</p>
                        </div>

                    </div>
                    <div class="modal-team__image">
                        <img src="assets/img/team/team1.jpg" class="js-modal-image" alt="image">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
