<div class="more-case">
    <div class="fit-container">
        <h3 class="more-case__title">Больше кейсов по привлечению клиентов</h3>
        <div class="row more-case__row">
            <div class="col-md-6">
                <a href="#" class="more-case__item">
                    <div class="more-case__item-image">
                        <img src="assets/img/cases/case1.jpg" alt="image">
                    </div>

                    <h4 class="more-case__item-title">
                        Дизайн упаковка инфопродукта
                    </h4>
                    <p class="more-case__item-subtitle">Онлайн-школа по фитнесу</p>
                </a>
            </div>

            <div class="col-md-6">
                <a href="#" class="more-case__item">
                    <div class="more-case__item-image">
                        <img src="assets/img/cases/case2.jpg" alt="image">
                    </div>

                    <h4 class="more-case__item-title">Привлечение клиентов</h4>
                    <p class="more-case__item-subtitle">Интернет-магазин нижнего белья</p>
                </a>
            </div>

            <div class="col-md-6">
                <a href="#" class="more-case__item">
                    <div class="more-case__item-image">
                        <img src="assets/img/cases/case3.jpg" alt="image">
                    </div>

                    <h4 class="more-case__item-title">Увеличение подписчиков в блоге</h4>
                    <p class="more-case__item-subtitle">Блог преподавателя английского языка</p>
                </a>
            </div>

            <div class="col-md-6">
                <a href="#" class="more-case__item">
                    <div class="more-case__item-image">
                        <img src="assets/img/cases/case4.jpg" alt="image">
                    </div>

                    <h4 class="more-case__item-title">Разработка лендинга</h4>
                    <p class="more-case__item-subtitle">Международна школа вокала</p>
                </a>
            </div>

            <div class="col-md-6">
                <a href="#" class="more-case__item">
                    <div class="more-case__item-image">
                        <img src="assets/img/cases/case5.jpg" alt="image">
                    </div>

                    <h4 class="more-case__item-title">Масштабирование бизнеса</h4>
                    <p class="more-case__item-subtitle">Торгово-производственное предприятие</p>
                </a>
            </div>
        </div>

        <div class="d-flex justify-content-center justify-content-xl-end">
            <a href="#" class="cen-btn cen-btn-icon" title="Смотреть все проекты">
                <span class="cen-btn__text">Смотреть все проекты</span>
                <span class="cen-btn__icon">
                        @@include("./../icons/swiper-next.html")
                        </span>
            </a>
        </div>
    </div>
</div>
