<div class="reviews">
    <div class="container">
        <h2 class="reviews__title" data-aos="fade-up" data-aos-duration="700">@@title</h2>
        @@if(context.item) {
        <div class="reviews__wrap" data-aos="fade-up" data-aos-duration="700" data-aos-delay="500">
            <div class="swiper reviews-swiper">
                <div class="swiper-wrapper">
                    @@for (var i = 0; i < item.length; i++) {
                    <div class="swiper-slide">
                        <div class="reviews__card">
                            <div class="d-flex reviews__card-header">
                                <div class="reviews__card-ava">
                                    <img src="`+item[i].itemPhoto+`" alt="avatar">
                                </div>
                                <div class="reviews__card-info">
                                    <h6 class="reviews__card-name">`+item[i].itemName+`</h6>
                                    <p class="reviews__card-town">`+item[i].itemTown+`</p>
                                </div>
                                <time class="reviews__card-date">`+item[i].itemDate+`</time>
                            </div>
                            <div class="d-flex reviews__card-body">
                                <p>`+item[i].itemText+`</p>
                            </div>
                        </div>
                    </div>
                    }
                </div>
            </div>

            <div class="reviews__nav">
                <div class="swiper-button-prev reviews-prev">@@include("./../icons/swiper-prev.html")</div>
                <div class="swiper-pagination reviews-pagination"></div>
                <div class="swiper-button-next reviews-next">@@include("./../icons/swiper-next.html")</div>
            </div>
        </div>
        }
    </div>
</div>
