<div class="page-template">
    <div class="container">
        <div class="page-template__title">
            <h1 class="page-template__title-main" data-aos="fade-up" data-aos-duration="700">Наши услуги</h1>
            <h6 class="page-template__title-sub" data-aos="fade-up" data-aos-duration="700" data-aos-delay="400">Мы предоставляем полный цикл digital услуг. <br>Объединяем 6 экспертных
                направлений: IT, digital-маркетинг, медиа, маркетинг, брендинг, дизайн и PR</h6>
        </div>

        <div class="row align-items-stretch">
            <div class="col-xl-4 col-md-6 mb-20">
                <div class="service-item" data-aos="fade-up" data-aos-duration="700" data-aos-delay="400">
                    <h3 class="service-item__title">Цифровой маркетинг</h3>
                    <div class="service-item__description">
                        <ul>
                            <li>Исследование бизнеса</li>
                            <li>Разработка стратегии развития</li>
                            <li>Определение эффективных площадок и каналов для продвижения</li>
                            <li>Создание и продвижение соцсетей и сайтов</li>
                            <li>Анализ эффективнocти и отчетность</li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-xl-4 col-md-6 mb-20">
                <div class="service-item" data-aos="fade-up" data-aos-duration="700" data-aos-delay="600">
                    <h3 class="service-item__title">Веб-сайты</h3>
                    <div class="service-item__description">
                        <ul>
                            <li>Веб-дизайн</li>
                            <li>Разработка</li>
                            <li>Написание продающих текстов</li>
                            <li>Поисковая оптимизация</li>
                            <li>Модернизация</li>
                            <li>Поддержка</li>
                            <li>Интеграция с сервисами</li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-xl-4 col-md-6 mb-20">
                <div class="service-item" data-aos="fade-up" data-aos-duration="700" data-aos-delay="800">
                    <h3 class="service-item__title">Брендинг</h3>
                    <div class="service-item__description">
                        <ul>
                            <li>Стратегия по созданию имиджа компании</li>
                            <li>Нейминг бизнеса</li>
                            <li>Разработка уникального фирменного стиля</li>
                            <li>Позиционирование бренда на рынке</li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-xl-4 col-md-6 mb-20">
                <div class="service-item" data-aos="fade-up" data-aos-duration="700" data-aos-delay="1000">
                    <h3 class="service-item__title">SMM</h3>
                    <div class="service-item__description">
                        <ul>
                            <li>Разработка контент-планов</li>
                            <li>Визуальное оформление соцсетей</li>
                            <li>Наполнение контентом</li>
                            <li>Ведение соцсетей</li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-xl-4 col-md-6 mb-20">
                <div class="service-item" data-aos="fade-up" data-aos-duration="700" data-aos-delay="1200">
                    <h3 class="service-item__title">Реклама</h3>
                    <div class="service-item__description">
                        <ul>
                            <li>Контекстная реклама</li>
                            <li>Таргетированная реклама</li>
                            <li>Email-рассылки</li>
                            <li>Чат-боты</li>
                            <li>Медийная реклама</li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-xl-4 col-md-6 mb-20">
                <div class="service-item" data-aos="fade-up" data-aos-duration="700" data-aos-delay="1400">
                    <h3 class="service-item__title">Дизайн</h3>
                    <div class="service-item__description">
                        <ul>
                            <li>Разработка фирменного стиля</li>
                            <li>Логотипы</li>
                            <li>Дизайн сайтов</li>
                            <li>Оформление соцсетей</li>
                            <li>Полиграфический дизайн</li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-xl-4 col-md-6 mb-20">
                <div class="service-item" data-aos="fade-up" data-aos-duration="700" data-aos-delay="1600">
                    <h3 class="service-item__title">Видео</h3>
                    <div class="service-item__description">
                        <ul>
                            <li>Генерация идей, сценарии</li>
                            <li>Монтаж</li>
                            <li>Видео разных форматов</li>
                            <li>Видео для соцсетей</li>
                            <li>Проморолики</li>
                            <li>Компьютерная графика</li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-xl-4 col-md-6 mb-20">
                <div class="service-item" data-aos="fade-up" data-aos-duration="700" data-aos-delay="1800">
                    <h3 class="service-item__title">Разработка приложений</h3>
                    <div class="service-item__description">
                        <ul>
                            <li>Проектирование</li>
                            <li>Реализация</li>
                            <li>Тестирование</li>
                            <li>Доработка, модификация</li>
                            <li>Продвижение</li>
                            <li>Анализ эффективности</li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-xl-4 col-md-6 mb-20">
                <div class="service-item" data-aos="fade-up" data-aos-duration="700" data-aos-delay="2000">
                    <h3 class="service-item__title">Внедрение CRM</h3>
                    <div class="service-item__description">
                        <ul>
                            <li>Исследование потребностeй</li>
                            <li>Разработка и адаптация</li>
                            <li>Внедрение в рабочий процесс</li>
                            <li>Обучение coтрудников</li>
                            <li>Тестирование и модификация</li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-xl-4 col-md-6 mb-20">
                <div class="service-item" data-aos="fade-up" data-aos-duration="700" data-aos-delay="2200">
                    <h3 class="service-item__title">Бизнес-сопровождение</h3>
                    <div class="service-item__description">
                        <ul>
                            <li>Консультирование по всему спектру бизнес-процессов</li>
                            <li>Пошаговый план работы с клиентами</li>
                            <li>Рекомендации по тренингу и найму персонала</li>
                            <li>Помощь в налаживании эффективной работы отделов компании</li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-xl-8">
            </div>
        </div>
    </div>
</div>
