<div class="stages">
    <div class="container">
        <h2 class="stages__title"  data-aos="fade-up" data-aos-duration="700">@@title</h2>

        <div class="row">
            <div class="col-xl-4 col-md-6 mb-25">
                <div class="stages__card"  data-aos="fade-up" data-aos-duration="700" data-aos-delay="500">
                    <div class="stages__card-bg">
                        <img src="assets/img/stages/stage1.jpg" alt="img">
                    </div>
                    <div class="stages__card-content">
                        <div class="stages__card-number">01</div>
                        <h4 class="stages__card-title">Исследование</h4>
                        <p class="stages__card-subtitle">Где вы сейчас?</p>

                        <div class="stages__card-text">
                            <ul>
                                <li>Выявляем сильные и слабые стороны, возможности и угрозы</li>
                                <li>Проводим обзор проекта (кто вы, что делаете и как происходят продажи)</li>
                                <li>Маркетинговый аудит внешней и внутренней среды (анализ продукта, целевой аудитории,
                                    конкурентов)
                                </li>
                            </ul>
                        </div>

                        <div class="stages__card-footer">
                            <h6 class="stages__card-footer-title">Результат:</h6>
                            <p class="stages__card-footer-text">Создаем уникальное торговое предложение, которое будет
                                выделять Вас среди конкурентов</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xl-4 col-md-6 mb-25">
                <div class="stages__card"  data-aos="fade-up" data-aos-duration="700" data-aos-delay="700">
                    <div class="stages__card-bg">
                        <img src="assets/img/stages/stage2.jpg" alt="img">
                    </div>
                    <div class="stages__card-content">
                        <div class="stages__card-number">02</div>
                        <h4 class="stages__card-title">Целеполагание</h4>
                        <p class="stages__card-subtitle">Где вы хотите быть?</p>

                        <div class="stages__card-text">
                            <ul>
                                <li>Формулируем цели в области продаж, доли рынка и прибыли</li>
                                <li>Обозначаем основные аспекты, влияющие на цели</li>
                                <li>Создаем план развития и задаем курс для продвижения</li>
                            </ul>
                        </div>

                        <div class="stages__card-footer">
                            <h6 class="stages__card-footer-title">Результат:</h6>
                            <p class="stages__card-footer-text">Определяем реальную цель и сроки достижения. Например,
                                20 клиентов за 1 месяц</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xl-4 col-md-6 mb-25">
                <div class="stages__card"  data-aos="fade-up" data-aos-duration="700" data-aos-delay="900">
                    <div class="stages__card-bg">
                        <img src="assets/img/stages/stage3.jpg" alt="img">
                    </div>
                    <div class="stages__card-content">
                        <div class="stages__card-number">03</div>
                        <h4 class="stages__card-title">Стратегия</h4>
                        <p class="stages__card-subtitle">Как будем туда добираться?</p>

                        <div class="stages__card-text">
                            <ul>
                                <li>Определяем основные целевые рынки</li>
                                <li>Отличительное преимущество</li>
                                <li>Необходимое позиционирование продукта</li>
                                <li>Цели маркетинга/сбыта</li>
                            </ul>
                        </div>

                        <div class="stages__card-footer">
                            <h6 class="stages__card-footer-title">Результат:</h6>
                            <p class="stages__card-footer-text">Пишем пошаговый план для достижения цели</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xl-4 col-md-6 mb-25">
                <div class="stages__card"  data-aos="fade-up" data-aos-duration="700" data-aos-delay="1100">
                    <div class="stages__card-bg">
                        <img src="assets/img/stages/stage4.jpg" alt="img">
                    </div>
                    <div class="stages__card-content">
                        <div class="stages__card-number">04</div>
                        <h4 class="stages__card-title">Тактика</h4>
                        <p class="stages__card-subtitle">Как именно мы туда попадаем?</p>

                        <div class="stages__card-text">
                            <ul>
                                <li>Определяем инструменты, которые планируем использовать для реализации целей
                                    маркетингового плана
                                </li>
                                <li>Описываем шаги, которые следует предпринять</li>
                            </ul>
                        </div>

                        <div class="stages__card-footer">
                            <h6 class="stages__card-footer-title">Результат:</h6>
                            <p class="stages__card-footer-text">Определяем необходимые инструменты для реализации плана,
                                чтобы попасть из точки А в точку Б</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xl-4 col-md-6 mb-25">
                <div class="stages__card"  data-aos="fade-up" data-aos-duration="700" data-aos-delay="1300">
                    <div class="stages__card-bg">
                        <img src="assets/img/stages/stage5.jpg" alt="img">
                    </div>
                    <div class="stages__card-content">
                        <div class="stages__card-number">05</div>
                        <h4 class="stages__card-title">Действие</h4>
                        <p class="stages__card-subtitle">Какой наш план?</p>

                        <div class="stages__card-text">
                            <ul>
                                <li>Составляем график мероприятий</li>
                                <li>Назначаем ответственных лиц</li>
                                <li>Составляем бюджет на реализацию плана</li>
                            </ul>
                        </div>

                        <div class="stages__card-footer">
                            <h6 class="stages__card-footer-title">Результат:</h6>
                            <p class="stages__card-footer-text">Создаем каналы для привлечения новых клиентов за 1
                                месяц</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xl-4 col-md-6 mb-25">
                <div class="stages__card"  data-aos="fade-up" data-aos-duration="700" data-aos-delay="1500">
                    <div class="stages__card-bg">
                        <img src="assets/img/stages/stage6.jpg" alt="img">
                    </div>
                    <div class="stages__card-content">
                        <div class="stages__card-number">06</div>
                        <h4 class="stages__card-title">Контроль</h4>
                        <p class="stages__card-subtitle">Что мы контролируем?</p>

                        <div class="stages__card-text">
                            <ul>
                                <li>Проверяем выполнения плана</li>
                                <li>Измеряем эффективность маркетинговых программ</li>
                                <li>Контролируем KPI (показатели, которые расскажут нам достигаем ли мы наших целей или
                                    нет. И если достигаем, то насколько качественно и эффективно</li>
                            </ul>
                        </div>

                        <div class="stages__card-footer">
                            <h6 class="stages__card-footer-title">Результат:</h6>
                            <p class="stages__card-footer-text">У Вас появились новые клиенты за 1 месяц. Мы продолжаем реализацию стратегии и контроль</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
