<div class="team about-tab__content" id="team">
    <h2 class="team__title">@@title</h2>

    @@if(context.items){
    <div class="team__wrap">
        <div class="row">
            @@for (var i = 0; i < items.length; i++) {
            <div class="col-xl-4 col-sm-6">
                <div class="team__item js-modal-team" data-modal="`+items[i].id+`">
                    <div class="team__item-photo">
                        <img src="`+items[i].itemPhoto+`" class="photo-main">
                        <img src="`+items[i].itemSecondPhoto+`" class="photo-hover">
                    </div>
                    <div class="team__item-desc">
                        <div class="team__item-arrow">
                            @@include("./../icons/swiper-next.html")
                        </div>
                        <h4 class="team__item-name">`+items[i].itemName+`</h4>
                        <p class="team__item-position">`+items[i].itemPosition+`</p>
                    </div>
                </div>
            </div>
            }
        </div>
    </div>
    }
</div>
