<div class="page-template">
    <div class="container">
        <div class="page-template__title">
            @@if(context.title) {
            <h1 class="page-template__title-main"  data-aos="fade-up" data-aos-duration="700">@@title</h1>
            }
            @@if(context.subtitle) {
            <h6 class="page-template__title-sub" data-aos="fade-up" data-aos-duration="700" data-aos-delay="400">@@subtitle</h6>
            }
        </div>
        <div class="work-info">
            <div class="d-flex work-info__wrap">
                <div class="work-info__text"  data-aos="fade-up" data-aos-duration="700" data-aos-delay="600">
                    <small>Что тебя ждет?</small>
                    <p>Ты будешь работать в международном Digital агентстве, которое со стремительностью ракеты
                        ворвалось
                        на рынок онлайн маркетинга, чтобы оставить позади всех конкурентов и занять первое место в своей
                        нише.</p>
                    <p>Наш креативный подход позволяет, как клиентам, так и членам команды разглядеть свою уникальность
                        и
                        творческий потенциал. Мы не боремся с конкурентами, а находим возможности для роста там, где
                        остальные видят проблемы.</p>
                    <p>Хочешь, чтобы твоя карьера стартанула со скоростью света и готов потрудится ради этого? Тогда,
                        возможно, ты именно тот, кто нам нужен!</p>
                </div>
                <div class="work-info__image" data-aos="fade-up" data-aos-duration="700" data-aos-delay="800">
                    <img src="assets/img/search.png" alt="image">
                </div>
                <div class="work-info__note" data-aos="fade-up" data-aos-duration="700" data-aos-delay="1000">
                    <div class="work-info__note-card">Если Вы не нашли подходящей вакансии, пожалуйста, заполните форму
                        в конце любой вакансии. Возможно, мы еще не знаем, что ищем именно Вас!
                    </div>
                </div>
            </div>
        </div>


        <div class="work">
            <h2 class="work__title" data-aos="fade-up" data-aos-duration="700" data-aos-delay="0">Вакансии</h2>

            <div class="row work__wrap" data-aos="fade-up" data-aos-duration="700" data-aos-delay="400">
                <div class="col-xl-3 col-lg-4">
                    <div class="work__aside">
                        <div class="tab">
                            <a href="javascript:void(0)" class="tab__link active" data-tab="work1"
                               title="SMM менеджер в команду">
                                <span>SMM менеджер в команду</span>
                            </a>
                            <a href="javascript:void(0)" class="tab__link" data-tab="work2" title="менеджер в команду">
                                <span>Менеджер в команду</span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-xl-9 col-lg-8">
                    <div class="tab__wrap">
                        <div class="tab__content active" id="work1">
                            <div class="work__description">
                                <h4 class="work__description-position">SMM менеджер в команду</h4>

                                <div class="work__description-content">
                                    <h4>Кого мы хотим видеть:</h4>
                                    <p>Профессионала с большой буквы, которому недостаточно двух прочитанных в школе
                                        книг,
                                        который хочет развиваться непрерывно, не останавливаясь на достигнутом.</p>
                                    <p>Человека, который умеет вовремя выйти за грань привычных шаблонов и придумать
                                        что-то
                                        новое и неординарное.</p>
                                    <p>Командного игрока, который готов делиться опытом и считает конструктивную критику
                                        лучшим подарком.</p>

                                    <h4>Задачи, с которыми ты столкнешься:</h4>
                                    <ul>
                                        <li>Создавать и культивировать неповторимую стилистику каждого клиента в
                                            процессе разработки
                                            контент-плана и наполнения социальных сетей
                                        </li>
                                        <li>Писать интересные, легкие посты, которые читаются на одном дыхании, а не
                                            вызывают
                                            оскомину и отдают нафталином
                                        </li>
                                        <li>Предлагать свои идеи для оформления и, совместно с дизайнерами, виртуозно
                                            воплощать их в
                                            жизнь
                                        </li>
                                        <li>Разнообразить контент (использовать, как статичные посты, так и
                                            видеопубликации и
                                            сторис)
                                        </li>
                                        <li>Создавать доверительные и теплые отношения с аудиторией (оперативно отвечать
                                            на вопросы
                                            подписчиков, отрабатывать негативную реакцию так, чтобы она превращалась в
                                            лучшую
                                            рекламу)
                                        </li>
                                        <li>Разрабатывать механики конкурсов, акций и сезонных активностей</li>
                                        <li>Анализировать результаты работы и искать пути к дальнейшему
                                            совершенствованию
                                        </li>
                                        <li>Постоянно отслеживать мировые тенденции и лучшие кейсы лидеров и,
                                            вдохновляясь ими,
                                            создавать новые шедевры
                                        </li>
                                    </ul>

                                    <h4>Основные требования:</h4>
                                    <ul>
                                        <li>Успешный опыт работы в SMM, подтвержденный оцифрованными кейсами</li>
                                        <li>Умение пользоваться современными SMM инструментами:</li>
                                        <li>Парсеры (Таргет Хантр, Церебро Таргет и прочие) Инструменты для мониторинга
                                            соц.
                                            сетей
                                        </li>
                                        <li>Опыт использования Google.Analytics и Яндекс.Метрики</li>
                                        <li>Знание рекламных форматов и особенностей каждой из социальных сетей</li>
                                        <li>Умение генерировать оригинальные идеи и эффектно их реализовывать</li>
                                    </ul>

                                    <h4>Условия работы:</h4>
                                    <ul>
                                        <li>Работа с креативной командой высокомотивированных профессионалов</li>
                                        <li>Амбициозные задачи, гибкость процессов и готовность внедрять новое</li>
                                        <li>Заработная плата в соответствии с реальным вкладом в общее дело, а не часами
                                            «просиженными» в офисе
                                        </li>
                                        <li>Стабильность международной компании и своевременные выплаты.</li>
                                        <li>Удобный график работы, который ты формируешь самостоятельно, мы лишь
                                            контролируем
                                            результат
                                        </li>
                                        <li>Возможность работать удаленно из любой точки мира</li>
                                    </ul>

                                    <small>Пиши в сопроводительном письме, почему именно ты тот счастливчик, который
                                        займет почетную должность в нашем коллективе и не забудь похвастаться портфолио
                                        со своими работами!</small>
                                </div>
                            </div>
                        </div>

                        <div class="tab__content" id="work2">
                            <div class="work__description">
                                <h4 class="work__description-position">Менеджер в команду</h4>

                                <div class="work__description-content">
                                    <h4>Кого мы хотим видеть:</h4>
                                    <p>Профессионала с большой буквы, которому недостаточно двух прочитанных в школе
                                        книг,
                                        который хочет развиваться непрерывно, не останавливаясь на достигнутом.</p>
                                    <p>Человека, который умеет вовремя выйти за грань привычных шаблонов и придумать
                                        что-то
                                        новое и неординарное.</p>
                                    <p>Командного игрока, который готов делиться опытом и считает конструктивную критику
                                        лучшим подарком.</p>

                                    <h4>Задачи, с которыми ты столкнешься:</h4>
                                    <ul>
                                        <li>Создавать и культивировать неповторимую стилистику каждого клиента в
                                            процессе разработки
                                            контент-плана и наполнения социальных сетей
                                        </li>
                                        <li>Писать интересные, легкие посты, которые читаются на одном дыхании, а не
                                            вызывают
                                            оскомину и отдают нафталином
                                        </li>
                                        <li>Предлагать свои идеи для оформления и, совместно с дизайнерами, виртуозно
                                            воплощать их в
                                            жизнь
                                        </li>
                                        <li>Разнообразить контент (использовать, как статичные посты, так и
                                            видеопубликации и
                                            сторис)
                                        </li>
                                        <li>Создавать доверительные и теплые отношения с аудиторией (оперативно отвечать
                                            на вопросы
                                            подписчиков, отрабатывать негативную реакцию так, чтобы она превращалась в
                                            лучшую
                                            рекламу)
                                        </li>
                                        <li>Разрабатывать механики конкурсов, акций и сезонных активностей</li>
                                        <li>Анализировать результаты работы и искать пути к дальнейшему
                                            совершенствованию
                                        </li>
                                        <li>Постоянно отслеживать мировые тенденции и лучшие кейсы лидеров и,
                                            вдохновляясь ими,
                                            создавать новые шедевры
                                        </li>
                                    </ul>

                                    <h4>Основные требования:</h4>
                                    <ul>
                                        <li>Успешный опыт работы в SMM, подтвержденный оцифрованными кейсами</li>
                                        <li>Умение пользоваться современными SMM инструментами:</li>
                                        <li>Парсеры (Таргет Хантр, Церебро Таргет и прочие) Инструменты для мониторинга
                                            соц.
                                            сетей
                                        </li>
                                        <li>Опыт использования Google.Analytics и Яндекс.Метрики</li>
                                        <li>Знание рекламных форматов и особенностей каждой из социальных сетей</li>
                                        <li>Умение генерировать оригинальные идеи и эффектно их реализовывать</li>
                                    </ul>

                                    <h4>Условия работы:</h4>
                                    <ul>
                                        <li>Работа с креативной командой высокомотивированных профессионалов</li>
                                        <li>Амбициозные задачи, гибкость процессов и готовность внедрять новое</li>
                                        <li>Заработная плата в соответствии с реальным вкладом в общее дело, а не часами
                                            «просиженными» в офисе
                                        </li>
                                        <li>Стабильность международной компании и своевременные выплаты.</li>
                                        <li>Удобный график работы, который ты формируешь самостоятельно, мы лишь
                                            контролируем
                                            результат
                                        </li>
                                        <li>Возможность работать удаленно из любой точки мира</li>
                                    </ul>

                                    <small>Пиши в сопроводительном письме, почему именно ты тот счастливчик, который
                                        займет почетную должность в нашем коллективе и не забудь похвастаться портфолио
                                        со своими работами!</small>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="work">
            <h2 class="work__title" data-aos="fade-up" data-aos-duration="700">Откликнуться на вакансию</h2>

            <div class="row justify-content-end">
                <div class="col-xl-9 col-lg-8">
                </div>
            </div>
        </div>
    </div>
</div>
